[2021-04-27 16:19] egernst commented on #1758
@teawater  -- thanks for the clear details on reproduction!

[2021-04-27 19:23] #1764 closed

[2021-04-28 00:16] #1755 closed

[2021-04-28 03:38] zyt312074545 opened #1768 "run build kernel shell error when setup with `-f`"
# Description of problem

When I use `build-kernel.sh` to setup kernel source code with `-f`, I find a bug.

[code]

# Expected result

The code runs successfully.

# Actual result

Path does not exist，
![error](https://user-images.githubusercontent.com/8190833/116273142-1567ad00-a7b4-11eb-85d8-f9925481f280.png)

[2021-04-28 06:27] #1728 closed

[2021-04-28 08:59] jongwu opened #1769 "memory hotplug on arm64 will fail for alignment check in kernel"
when run
`ctr run --memory-limit=2147483648  --runtime io.containerd.run.kata.v2 -t --rm docker.io/library/busybox:latest he sh` on arm64
guest kernel will shout "Block size [0x8000000] unaligned hotplug range: ....."

[2021-04-28 10:11] Jakob-Naucke opened #1771 "Add support for Secure Execution"
Daughter issue of #1332. Secure Execution is a confidential computing technology for s390x (IBM Z & LinuxONE). Let's enable it in Kata! PR is prepared.

[2021-04-28 21:48] #1758 closed

[2021-04-29 08:24] sameo commented on #149
It's definitely linked to the confidential computing discussions, and the service offload toggle will hopefully come with the initial [PR](#1590) for it.

I believe the actual implementation can be done in parallel though, and I'm in favor of discussing about it through this issue.

[2021-04-29 08:28] sameo commented on #149
@bergwolf initial proposal here is about only pulling the image inside the guest. Should we extend that proposal to most (if not all of it) of the container image service? That would open the door for pulling and mounting from the guest, but storing on the host (by using e.g. a virtiofs or a block device backed with host physical storage).

[2021-04-29 08:28] sameo commented on #149
cc @ganeshmaharaj

[2021-04-29 09:51] Corgi-Google opened #1775 "Does Kubernetes + Docker + Kata Containers work？"
Just a question. I don't kown whether it works or not. I have tried CRI-O and Containerd and they worked fine. But I use Docker as CRI, I can use Docker with kata-runtime alone. But when I try to use Kata Containers as Docker CRI with Kuberntes. It occurs error.

Error：
Failed to create pod sandbox: rpc error: code = Unknown desc = RuntimeHandler "kata-runtime" not supported

kubectl get runtimecl

[2021-04-29 09:55] fidencio commented on #1775
@Corgi-Google, short answer is no, it does not.

We drop CLI support when switched from kata-containers 1.x to 2.x and so far we don't have plans to add it back.  However, this decision is not set and we have an issue opened about that, that you can use to track the progress on that front: https://github.com/kata-containers/kata-containers/issues/722

[2021-04-29 10:11] teawater opened #1776 "./build-kernel.sh setup fail because yq version is not right"
[code]
The reason is my yq version is not right.
[code]

[2021-04-29 11:00] Corgi-Google commented on #1775
Thank you. I did not make myself clear. My Kata version is 1.x. When I use docker with kata as runtime alone, It works. But when in Kubernetes, it can not work. Do I need some further configuration?

[2021-04-29 11:07] fidencio commented on #1775
Aha!  So, this issue should have been filled on `kata-containers/runtime` repo, and I can transfer it there, no problem.
I won't be able to help you con the specific configuration you need for that, but I'd say it's supposed to work.

However, mind that 1.x is reaching its EOL in May.

[2021-04-29 11:11] Corgi-Google commented on #1775
Okay.Thank you. BTW, can Kata 2.x work on CentOS 7.6?

[2021-04-29 11:21] fidencio commented on #1775
It may, as long as you use kata-deploy (https://github.com/kata-containers/kata-containers/tree/main/tools/packaging/kata-deploy).  if you want to use packages from the distro, I'd strongly recommend using CentOS 8.

We (@etrunko, to be honest) are maintaining the Fedora / CentOS distros, doing the updates as soon as a new release is out (and now waiting for 2.1.0 is out to update the package ther

[2021-04-29 13:52] egernst commented on #1775
You need either containerd or crio to work with Kata. Dockershim is not compatible with sandbox runtimes like Kata Containers.

[2021-04-29 17:53] likebreath opened #1779 "versions: Update to cloud-hypervisor v15.0"
Quotes from the cloud-hypervisor release v15.0:

This release is the first in a new version numbering scheme to represent that
we believe Cloud Hypervisor is maturing and entering a period of stability.
With this new release we are beginning our new stability guarantees.

Other highlights from the latest release include:
1. Network device rate limiting;
2. Support for runtime control of `virtio-ne

[2021-04-30 01:02] Corgi-Google commented on #1775
Thank you. What you said is Kata 1.x or Kata 2.x ?

[2021-04-30 08:52] #1719 closed

[2021-04-30 09:15] fidencio opened #1781 "kata-deploy: Configure CRI-O using drop-in files"
CRI-O, for some time already, supports drop-in files to configure things like additional runtimes.  This helps us to have an easier to maintain & cleaner to install method to configure CRI-O to be used with kata-containers.

Knowing this, let's adapt kata-deploy to take advantage of that, and stop sed()ing the default configuration file to add our changes there.

[2021-04-30 10:49] liubin opened #1783 "agent: delete not used functions/directory"
In file src/agent/rustjail/src/validator.rs, these two functions are not used:

- get_namespace_path
- check_host_ns

And rustjail/src/configs directory is not used too.

[2021-04-30 13:45] wainersm commented on #1691
Hi @jcvenegas , @cmaf , QEMU 6.0.0 is released** now. I think that we should bump the version of both standard and experimental QEMU.

/cc @fidencio @c3d

** Find the announcement in https://www.qemu.org/2021/04/30/qemu-6-0-0/

[2021-04-30 13:47] fidencio commented on #1691
A huge plus one for me, mainly if we can get it done **Today**. :-)

[2021-04-30 16:16] #1724 closed

[2021-04-30 16:20] #1779 closed

[2021-04-30 16:21] #1425 closed

[2021-04-30 16:28] #1753 closed

[2021-04-30 22:01] #1685 closed

[2021-04-30 22:01] #1686 closed

[2021-04-30 22:01] #1688 closed

[2021-04-30 22:09] #1781 closed

[2021-05-01 19:45] networkop opened #1787 "Kata on MSFT Win10 WSL2"
I'm trying to run docker with `kata-fc` on WSL2 with KVM support  and I'm getting the following error:

[code]

I'm running a custom kernel with
[code]

Please see the [kata.log](https://github.com/kata-containers/kata-containers/files/6410191/kata.log)

The biggest issue with WSL2 is that it doesn't run systemd, however it would be very interesting to be able to run docker+kata+firecracker on a W

[2021-05-01 20:20] fidencio commented on #1787
@networkop, let me redirect this issue to the appropriate repo, as it's happening with kata-containers 1.x.

[2021-05-02 15:43] snir911 opened #1789 "Making dialing timeout configurable"
**Which feature do you think can be improved?**

runtime-guest communication

**How can it be improved?**

Making the dialing timeout configurable will allow to use kata also when vm booting takes longer than expected:
* when host machine is slow
* when debug kernel is used
* whenever you get DeadlineExceeded and you suspect booting takes too long.

**Additional Information**

It was suggested her

[2021-05-02 17:44] egernst commented on #1154
@GabyCT how was this resolved?

[2021-05-03 16:43] egernst commented on #1155
Revendored in already.

[2021-05-03 16:43] #1155 closed

[2021-05-03 23:52] egernst commented on #1775
@Corgi-Google  -- both.

[2021-05-04 14:11] ariel-adam commented on #1775
@Corgi-Google closing the issue since the question seems to be answered.
Please reopen if needed :-).

[2021-05-04 14:11] #1775 closed

[2021-05-04 18:44] dagrh commented on #1738
I think we may have a fix here; Alex Williamson suggested swapping the 'memory_region_init_ram_ptr' in vuf_device_realize for a 'memory_region_init_ram_device_ptr' - it still seems to do DAX stuff, and have a report it fixes the problem with VFIO.

[2021-05-04 21:15] cmaf commented on #1162
1.x PR: https://github.com/kata-containers/runtime/pull/3100

@bporter816, this PR unfortunately didn't make it into 1.x but would be extremely useful as a 2.0 contribution and we plan on porting it. There have been significant changes to tracing since the initial patch so there will need to be changes to [#3100](https://github.com/kata-containers/runtime/pull/3100).

Are you able to/would you lik

[2021-05-05 12:54] c3d opened #1793 "Workaround for spell-check script bug"
There is a [bug in the kata-doc-to-script](https://github.com/kata-containers/tests/issues/3448) that may cause anything following `---` to be ignored by the spell-checker entirely.

For now, it's probably better to simply check for `---` in the doc and remove them.

[2021-05-06 02:13] bporter816 commented on #1162
@cmaf Sure, I can look into porting this. Are #1352 and #1389 still the only major changes to be aware of?

[2021-05-06 03:21] teawater opened #1796 "Virtio-mem issue"
[code]

[2021-05-06 05:58] teawater opened #1798 "Open virtio-mem in x86_64 kata linux kernel"
I test virtio-mem with Linux kernel 5.10.25 and qemu v5.2.0 that is used by current kata in x86_64.
With https://github.com/kata-containers/kata-containers/pull/1800 , it works OK.

[2021-05-06 08:09] olagkasn opened #1801 "kata-cleanup issue with k3s"
There is no k3s overlay in kata-cleanup daemon configuration. kata-deploy.sh cleanup expects to find containerd configuration in /etc/containerd/config.toml. In the case of k3s this should be mounted as a volume HostPath /var/lib/rancher/k3s

[2021-05-06 08:15] fidencio commented on #1801
@olagkasn, I don't think we given it a try on k3s, at least not recently.
Would you be interested on contributing to kata-deploy, improving its integration with k3s?

[2021-05-06 09:15] liubin opened #1804 "select s.ctx.Done instead of ctx in watchOOMEvents function"
In `watchOOMEvents`(kata-containers/src/runtime/containerd-shim-v2/wait.go) should select `s.ctx` for checking cancellation.

Refer: https://github.com/kata-containers/kata-containers/pull/1751

[2021-05-06 09:40] Corgi-Google opened #1806 "cc1: error: -Werror=date-time: no option -Wdate-time"
https://github.com/kata-containers/kata-containers/blob/main/tools/packaging/kernel/README.md#build-kata-containers-kernel

I try to build Kata kernel from source code.
First, I run "./build-kernel.sh setup" in  /src/github.com/kata-containers/kata-containers/tools/packaging/kernel. And It worked fine.
But when I run "./build-kernel.sh build", It occured errors:

[root@host-178-104-163-130 kernel]

[2021-05-06 09:42] Corgi-Google opened #1807 "../tools/meson.build:14:6: ERROR: Problem encountered: virtiofsd needs tools and vhost-user support"
I was trying to build qemu from source code.
But when I run "eval ./configure "$(cat kata.cfg)"". It seems something wrong.

errors:
../tools/meson.build:14:6: ERROR: Problem encountered: virtiofsd needs tools and vhost-user support

how should i fix it ?

[2021-05-06 10:40] jodh-intel opened #1808 "Call agent shutdown test"
Call the agent shutdown test as part of the CI.

See: https://github.com/kata-containers/tests/pull/3495

[2021-05-06 12:43] wainersm commented on #1807
@Corgi-Google could you give more details about what you doing?

Currently the configuration flags generated by the kata script will add `--disable-tools --enable-virtiofs`, but this won't work with QEMU 5.2.0. In order to solve that, we are applying the kata-containers/tools/packaging/qemu/patches/5.2.x/0001-virtiofsd-Allow-to-build-it-without-the-tools.patch patch.

[2021-05-06 14:23] ManaSugi commented on #1806
@Corgi-Google
It seems that `gcc` you use does not have the `-Wdate-time` option.
The `-Wdate-time` option  has been added from `gcc 4.9`.
https://gcc.gnu.org/gcc-4.9/changes.html

Did you use `gcc 4.9` or higher version?

[2021-05-06 15:42] #1750 closed

[2021-05-06 16:51] #1804 closed

[2021-05-07 01:38] Corgi-Google commented on #1807
these are my version details:
CentOS 7.6
3.10.0-957.el7.x86_64
Qemu 5.2.0
Kata Containers 2.0.3

But I found versions in https://github.com/kata-containers/kata-containers/blob/main/versions.yaml, which told me qemu is 5.2.0.
Is the patch you mentioned already finished? I follow the Kata Containers guilds  https://github.com/kata-containers/kata-containers/blob/main/docs/Developer-Guide.md#build-a

[2021-05-07 01:51] Corgi-Google commented on #1806
Ohh, Thank you. I update my gcc 4.8.x to 9.3.x. And It works.

[2021-05-07 01:51] #1806 closed

[2021-05-07 02:02] #1776 closed

[2021-05-07 03:02] wainersm commented on #1807
Hi @Corgi-Google ,

The documentation you are following (https://github.com/kata-containers/kata-containers/blob/main/docs/Developer-Guide.md#build-a-custom-qemu) does not make clear that you should apply patches because some times they fix build issues (as you are seen). I will send a PR to update the docs. For now, do the following (from qemu sources directory) before you run the `configure` com

[2021-05-07 05:06] #1715 closed

[2021-05-07 05:08] #1796 closed

[2021-05-07 05:44] Tim-Zhang commented on #1744
add document for pr: https://github.com/kata-containers/kata-containers/pull/398

[2021-05-07 05:45] #1744 closed

[2021-05-07 06:17] #1748 closed

[2021-05-07 06:25] #1783 closed

[2021-05-07 09:43] #1798 closed

[2021-05-07 10:53] sameo commented on #1332
A few folks have asked about our weekly confidential computing use case meeting, so I'm pasting it here:

The zoom meeting happens weekly at noon UTC at https://zoom.us/j/98038141932
The meeting notes are here: https://docs.google.com/document/d/1E3GLCzNgrcigUlgWAZYlgqNTdVwiMwCRTJ0QnJhLZGA/edit?usp=sharing

[2021-05-07 16:46] cmaf commented on #1698
Closing since PR was merged

[2021-05-07 16:46] #1698 closed

[2021-05-07 19:43] cmaf commented on #1162
@bporter816 those are the main ones, and there are additional ones where some tracing code was removed like in https://github.com/kata-containers/kata-containers/pull/1749 and where syntax and variable names were changed in https://github.com/kata-containers/kata-containers/pull/1539 and https://github.com/kata-containers/kata-containers/pull/1551 to fix static checks (not an exhaustive list)

[2021-05-07 20:37] lumjjb commented on #1332
Sorry a little late to the party, been trying to catch up...  It should benefit from regular blob caching that is done on the runtime. The default decryption method is based around an asymmetric key, the session or layer based keys are wrapped as part of the image metadata, so there could certainly be some key caching mechanisms that is done on an intermediary service or in a protected ring (maybe

[2021-05-07 22:11] egernst opened #1815 "Add easy way to grab metrics for a given sandbox"
To aid in quick testing/debug, it'd be nice to be able to gather stats for a given sandbox without setting up kata-monitor. In this way, I could just say "kata-runtime metrics <sandbox id>" and get all the stats for overhead, shim, agent, hypervisor, guest, etc.

[2021-05-07 23:32] cmaf opened #1817 "Update alpine version"
We're using an old version of alpine; we should update to the latest.

[2021-05-08 03:43] Corgi-Google commented on #1807
thank you. Works for me.

[2021-05-08 03:47] Corgi-Google opened #1819 "ERRO[0000] CPU property not found && WARN[0000] Not running network checks as super user"
# kata-runtime kata-check

WARN[0000] Not running network checks as super user      arch=amd64 name= pid=5391 source=runtime
ERRO[0000] CPU property not found                        arch=amd64 description=SSE4.1 name=sse4_1 pid=5391 source=runtime type=flag
ERRO[0000] ERROR: System is not capable of running Kata Containers  arch=amd64 name= pid=5391 source=runtime
ERROR: System is not capable of r

[2021-05-08 04:03] #497 closed

[2021-05-08 09:37] hellocloudnative opened #1820 "ERROR: Initialization of device mc146818rtc failed: Invalid lost tick policy."
I am trying to run KATA in MIPS

I encountered the following error：

qemu-system-mips64el: Initialization of device mc146818rtc failed: Invalid lost tick policy.

[2021-05-10 04:07] liubin commented on #1819
Hi @Corgi-Google it seems CPU checks failed, can you provide your `/proc/cpuinfo`?

[2021-05-10 05:19] Corgi-Google commented on #1819
# cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 13
model name	: QEMU Virtual CPU version (cpu64-rhel6)
stepping	: 3
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 16384 KB
physical id	: 0
siblings	: 1
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 7
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 api

[2021-05-10 20:20] sameo commented on #1332
#1590 only partially implements that issue, re-opening.

[2021-05-11 05:10] #1815 closed

[2021-05-11 05:54] liubin commented on #1807
Hi @wainersm I reopened this issue and assigned it to you, only for updating the document.

[2021-05-11 09:24] c3d opened #1823 "Release process: bump version numbers on stable branch"
**Which feature do you think can be improved?**

The [release process](https://github.com/kata-containers/kata-containers/blob/main/docs/Release-Process.md) document should tell us how to bump version numbers on the stable branch, in order to make sure the CI on the release branch does not depend on changes on the main branch.

This could also be automated.

Example of changes: https://github.com/

[2021-05-11 10:08] c3d commented on #1820
@hellocloudnative Thank you for the report. Could you give us more details about the versions you are trying to run? In general, we like to know:

* kata-containers release
* qemu release
* Linux kernel you are running on

I assume you are building from source? If so, you can try to see if you are going further:
* looking at this line: https://github.com/kata-containers/kata-containers/blob/main/s

[2021-05-11 10:19] c3d commented on #1819
@Corgi-Google I see you are running with a rather old virtual CPU in qemu. Are you running Kata nested in a virtual machine? You could also consider running with host CPU passthrough, see if you get sse4.1 that way. See https://qemu.readthedocs.io/en/latest/system/qemu-cpu-models.html for documentation.

Since you seem to be running on RHEL, try `virsh cpu-models x86_64` to see what is available t

[2021-05-11 10:20] c3d commented on #1819
@kata-containers/architecture-committee Any reason we require SSE 4.1? That seems bogus to me.

[2021-05-11 11:23] jodh-intel commented on #60
Hi @jtescher and @davidbarsky,

After a long hiatus, we're now back looking at agent tracing for Kata. The significant change to the code we're trying to add tracing to is that it's now async.

I've been trying to update our now-ancient tracing code that we were using some time ago to use the _latest versions_ of the five tracing crates we seem to need to get global Jaeger tracing with a custom tr

[2021-05-11 11:51] bergwolf commented on #149
@sameo the proposal is to pull image inside the `sandbox` so it includes pulling from both inside the guest and outside on the host. Does it satisfy your requirements?

[2021-05-11 14:27] c3d commented on #1820
@hellocloudnative I marked this as an unsupported configuration because MIPS is not supported.
Feel free to ask questions and submit fixes, however.

[2021-05-11 14:52] #1789 closed

[2021-05-11 21:06] fidencio commented on #1699
This is pretty much a regression on the CRI-O side and I'll be fixing and tracking this on there.

[2021-05-12 00:42] jtescher commented on #60
@jodh-intel which version of `tracing-opentelemetry` are you currently using? the [latest release](https://github.com/tokio-rs/tracing/blob/v0.1.x/tracing-opentelemetry/Cargo.toml#L25) is compatible with otel `0.13.x`. With those two versions the code you posted should work.

[2021-05-12 05:37] huoqifeng commented on #149
We have some rough ideas on the image offloading after my discussion with @ashleyrobertson and @magowan

- This is my understanding of containerd and kata components involved image pulling today (projects are separated in color):
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/15607193/117922736-8024f680-b325-11eb-8a83-a4bccf5ef6bb.png">

- Where the potential changes

[2021-05-12 06:10] Tim-Zhang opened #1826 "agent: rpc status: code: INTERNAL message: "execute hook Caused by: wait child error: No child processes (os error 10) 10": unknown”"
https://github.com/kata-containers/kata-containers/blob/979b73c35a1b0880bc3e9a59b06a6084ae4c7f7c/src/agent/src/signal.rs#L25

may reap the signal of execute_hook sometimes

https://github.com/kata-containers/kata-containers/blob/979b73c35a1b0880bc3e9a59b06a6084ae4c7f7c/src/agent/rustjail/src/container.rs#L1514

So that we can't get the exit code in execute_hook

[2021-05-12 06:15] Tim-Zhang opened #1827 "agent: we should move the dependency tempfile to the dev-dependencies section"

[2021-05-12 06:46] #1823 closed

[2021-05-12 09:21] #1827 closed

[2021-05-12 09:24] #1826 closed

[2021-05-12 09:32] littlejawa opened #1831 "Add a unit test for ioCopy()"
Following the fix for #1713 - need to add a unit test that verify there is no regression on ioCopy()

[2021-05-12 10:03] jodh-intel commented on #966
Hi @fidencio, regarding http://lists.katacontainers.io/pipermail/kata-dev/2021-May/001897.html, the script is [`hub-util.sh`](https://github.com/kata-containers/.github/tree/master/scripts) in the not-that-well-known [`.github`](https://github.com/kata-containers/.github) _repository_ :smile:.

To close the 1.x issues per repo, we can do this (here using the `runtime` repo as an example):

[code]

[2021-05-12 10:12] c3d opened #1834 "RFC [Do not read yet]: Separate trust domains for tenant and host"
[Unfinished business - No need to read until I remove this label]

# Summary

In the context of Confidential Computing Enablement (#1332), we break the assumption that the containers trust the host. It makes clear that the trust domains for the container workload and for the pod running it do not belong to the same owner. This RFC explores the consequences in terms of API and usage model.

# Motiv

[2021-05-12 10:14] fidencio commented on #966
I'd add that it was announced via our kata-dev mailing lists, adding the links to:
* http://lists.katacontainers.io/pipermail/kata-dev/2020-November/001601.html
* http://lists.katacontainers.io/pipermail/kata-dev/2021-April/001843.html
* http://lists.katacontainers.io/pipermail/kata-dev/2021-May/001896.html

This is not possible.  Once a repo is archived, it becomes read-only and the issues and pu

[2021-05-12 10:18] fidencio commented on #966
So, what about ....

---

This issue is being automatically closed as Kata Containers 1.x has now reached EOL (End of Life). This means it is **no longer being maintained**.

This decision was discussed by the @kata-containers/architecture-committee and has been announced via the [Kata Containers mailing list](http://lists.katacontainers.io/pipermail/kata-dev/):
* http://lists.katacontainers.io/pi

[2021-05-12 10:18] jodh-intel commented on #966
Yep - I realised as soon as I'd put this comment on that when we archive ;)

[2021-05-12 10:19] jodh-intel commented on #966
lgtm ;)

[2021-05-12 10:38] fidencio commented on #966
@jodh-intel, there's a small issue that I just noticed, there's no `add-issue-comment` in the hub-util.sh script: https://github.com/kata-containers/.github/blob/376459c9045e06715e222173c1b02c6b04e11717/scripts/hub-util.sh#L887-L899

[2021-05-12 10:48] jodh-intel commented on #966
Apologies @fidencio ! I'd forgotten that I hadn't raised a PR for that! Here it is:

- https://github.com/kata-containers/.github/pull/34

[2021-05-12 12:06] lingniao2000 opened #1836 "Can not login Guest OS with debug console"
version : kata-containers-2.0.1
qemu-kvm-core-5.1.0-20.el8.x86_64
qemu-guest-agent-2.12.0-64.module_el8.0.0+44+94c1b039.2.x86_64
ipxe-roms-qemu-20181214-6.git133f4c47.el8.noarch
qemu-kvm-common-5.1.0-20.el8.x86_64
qemu-kvm-docs-5.1.0-20.el8.x86_64
qemu-img-5.1.0-20.el8.x86_64
qemu-kiwi-5.1.0-20.el8.x86_64

I want to login to  the guest OS
following this document:
https://github.com/kata-containers

[2021-05-12 14:38] #1769 closed

[2021-05-12 14:42] sameo opened #1837 "Kata agent runtime configuration"
## Problem Statement

The [kata-agent](https://github.com/kata-containers/agent) communicates with the host through a [gRPC API](https://github.com/kata-containers/agent/blob/master/protocols/grpc/agent.proto#L16), via a vsock channel. The host typically sends commands and request to the kata-agent, though this RPC mechanism.

In a [confidential computing context](#1332), where the host software s

[2021-05-12 15:00] c3d commented on #1834
@c3d

[2021-05-12 15:47] snir911 commented on #1164
This one should have been closed by #1762
@c3d please reopen if I missed something

[2021-05-12 15:47] #1164 closed

[2021-05-12 15:52] jodh-intel commented on #60
@jtescher - To make this easier to explain and debug, I've packaged up a minimal "working" (aka "broken" ;) example here:

- https://github.com/jodh-intel/test-tracing-opentelemetry

If you try to build with `cargo build`, you'll get an angry red rust splat like this:

[code]

The problem seems to be that the `Tracer[Provider`] returned by the `opentelemetry` `get_tracer()` call doesn't implement

[2021-05-12 19:19] egernst commented on #1609
This looks like an issue where s.Delete will error out because containers aren't in correct state. Debug WIP.

[2021-05-13 02:30] teawater opened #1841 "memory hotplug of aarch64 is not work right"
https://github.com/kata-containers/tests/pull/3509 add "Test container memory update with virtio-mem" and "Test container memory update without virtio-mem".
Got following error with aarch64:
http://jenkins.katacontainers.io/job/kata-containers-2.0-tests-ubuntu-ARM-PR/747/consoleText
[code]
This error is output by
[code]
The VM memory should increase from 2G to 4G after memory hotplug.  But the VM

[2021-05-13 04:03] bergwolf commented on #1609
should be fixed by https://github.com/kata-containers/kata-containers/pull/985

[2021-05-13 04:08] bergwolf commented on #1837
@sameo How do you plan to handle container list/creation/deletion APIs? They cannot be blocked otherwise confidential containers cannot be created. But if they are not blocked, the host would be able to manipulate the guest at will.

[2021-05-13 04:11] bergwolf commented on #1836
Please follow the guide here https://github.com/kata-containers/kata-containers/blob/stable-2.0/docs/Developer-Guide.md#set-up-a-debug-console

The `main` tip guide only works for the latest code while you are using stable-2.0.1 so please look at the `stable-2.0` docs.

[2021-05-13 06:37] liubin opened #1842 "Add description for connecting to debug console for old version Kata Containers"
In [this commit](https://github.com/kata-containers/kata-containers/commit/9963428a4dfc36a19d97f5353fec8d7f8bf351b0) , we deleted starting `kata-monitor`.
But for users running an old version of Kata Containers, this will not work for them, they need start `kata-monitor` first.

[2021-05-13 09:26] teawater opened #1845 "Kata Containers with virtio-mem need update"
https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-use-virtio-mem-with-kata.md

The virtio-mem support of kata, qemu and Linux was updated.  This howto need update too.

[2021-05-13 11:06] #1842 closed

[2021-05-13 11:42] sameo commented on #1837
cc @bpradipt @Jakob-Naucke @egernst @jimcadden @c3d

[2021-05-13 14:04] fitzthum commented on #1837
It seems like the easiest way to bring the config file into the TCB would be to bake it into the initrd, which most platforms seem to measure or encrypt. This might increase the burden on the guest-owner, however, who would have to keep track of a new initrd measurement for each variation of the configuration file. I'm not sure how much variation there would be in practice, but I can imagine a gue

[2021-05-13 14:34] jimcadden commented on #1837
@fitzthum seems an easier way would be to pass in it via kernel parameters. Something like `agent.config={'exec':disabled, ... }` This way it could be specified per-instance and likewise attested/validated along with the initrd.

[2021-05-13 14:44] fitzthum commented on #1837
@jimcadden yeah good point the kernel command line should be a measured interface as well and we will probably be passing some important config information there no matter what. I am a bit wary of passing the entire config through the kernel command line in part because I think there is a length limitation.

[2021-05-13 16:36] cmaf commented on #514
Closing since we disabled codecov for now, see  https://github.com/kata-containers/tests/pull/3437

[2021-05-13 16:36] #514 closed

[2021-05-13 18:02] GabyCT opened #1847 "No need of forward porting tag or backporting tag on PRs against the stable-2.1"
This is related with https://github.com/kata-containers/tests/issues/3180 and https://github.com/kata-containers/tests/issues/3375

[2021-05-13 18:43] magowan commented on #1837
I am onboard with the idea.
Small typo in the sample :-)
blocked_enpoints = [] -> blocked_endpoints = []

[2021-05-13 18:43] magowan commented on #1837
Capturing our discussion that the delivery of the configuration file might potentially be a "plugin" point. In the sense that we start with flexibility on how it gets there being a separate consideration to what might be in it and resulting behaviours.

I am however fully on board with concern that the creation/provision of such a file must be part of the flow before any container actions are take

[2021-05-13 18:47] magowan commented on #1837
Are there permutations of blocked/allowed apis that make no sense. If you can pause a container but not resume for example?
It might be a large challenge to consider all permutations and how we check, possibly consider grouping them to simple problem space?

[2021-05-13 18:47] magowan commented on #1837
Should we use allowed_endpoints rather than blocked_endpoints? It might be more secure but of course the tradeoff might be a little poorer user experience when creating such a file.
Perhaps a comment or link to api endpoints that can be specified helps.
And we talked about providing a sample.

Leads to backwards compatibility question perhaps? How do we decide to enable or disable the checks or do

[2021-05-13 19:05] egernst commented on #149
@huoqifeng  -- can you present a diagram for pod lifecycle (similar to what you have for "today" above) based on your proposal for new arch?

[2021-05-13 19:44] jtescher commented on #60
@jodh-intel if you change https://github.com/jodh-intel/test-tracing-opentelemetry/blob/main/Cargo.toml#L20 to `0.13` instead of `0.14` does it work as expected?

[2021-05-13 22:13] fidencio opened #1850 "Bump kubernetes version in order to avoid random crashes in the CI"
We've been hitting some random crashes in the CI and those seem to on the kubelet itself.  I'd suggest bumping kubernetes to 1.21.1, and checking for a few days if the crashes will lower / disappear, if not ... I'll try to track it down.

Related: https://github.com/kata-containers/tests/issues/3473

[2021-05-13 23:31] #1039 closed

[2021-05-14 01:24] huoqifeng commented on #149
@egernst I updated the diagram to reflect proposed lifecycle. the `pause` image will still be pulled in `createPodSandbox` on host, which is used to create `PodSandbox` and launch `guest` VM. There is no change in this part, the details can be seen in this diagram
![kubelnetes-containerd-kata-pod-creating](https://user-images.githubusercontent.com/15607193/118206873-019b9680-b496-11eb-935f-f2e0527

[2021-05-14 02:25] #1699 closed

[2021-05-14 06:43] cmaf opened #1852 "Runtime tracing attributes are not consistent"
Span attributes (tags) are not consistent in runtime tracing. We should use a few core attributes such as `source`, `package,` and `subsystem`, and additional details like `type` when needed.

[2021-05-14 09:10] jongwu opened #1854 "Add document about how to use memory hotplug on arm64"

[2021-05-14 16:55] jodh-intel commented on #60
@jtescher - Thanks and ouch! :smile: Yes, that does indeed work now.

It seems that my problems haven't ended quite yet though... Reworking [trace forwarder](https://github.com/kata-containers/kata-containers/tree/main/src/trace-forwarder) to use the latest tracing crate versions (crucially `opentelemetry-jaeger = "0.13.0"`) is failing to compile in an interesting way:

[code]

I have no idea abou

[2021-05-14 17:29] jimcadden commented on #1834
Thanks, @c3d! I am largely in agreement with everything you've written. I do think Immutable _Pod_ is a bit of a misnomer... presumably, after the separation, the tenant will still be able to update containers, or deploy ephemeral containers, within a running pod as long as the operation and image comes from a trusted source. I do agree that the host-controlled VM/sandbox should be made effectivel

[2021-05-14 20:21] jtescher commented on #60
@jodh-intel ah yeah should be `opentelemetry-jaeger` version `0.12.x`. Basically otel and otel-jaeger support is still one version back, support for latest versions coming in https://github.com/tokio-rs/tracing/pull/1394

[2021-05-14 21:01] GabyCT opened #1857 "github: Run require porting labels only at main"

[2021-05-14 21:39] jimcadden commented on #1231
Ah, so I hit this problem in my SEV patches and worked around it in the follow way: In `govmm` I create the `-drive if=pflash ...` for OVMF at the same time as the `-object sev-guest ...`. In `kata-runtime`, I specify the path to `OVMF_CODE.fd` in the config using `firmware=`, same as Bios, but I clear `qemuConfig.Bios=""` prior to `govmm` so that a `-bios` is never appended.

Not the most elegant

[2021-05-15 12:31] bpradipt commented on #1834
@c3d thanks for the proposal. Nicely lays down the host and tenant aspects.
While going through it , I had a thought on the possibility of having the host-guest API restrictions compiled in the agent. IOW, two different builds for the agent (based on build tags). One with restricted API set for confidential computing and another generic build.

[2021-05-15 18:39] zhsj opened #1861 "runtime makefile has empty build and default target"
# Description of problem

[code]

# Expected result

As metioned in `make help`, the build and default targets exist

[code]

# Actual result

The targets are empty.

# Further information

[2021-05-15 18:56] zhsj opened #1862 "Failed to build test with go1.16"
# Description of problem

[code]

# Expected result

No error

# Actual result

Fail to build

# Further information

It seems the github.com/dlespiau/covertool is not compatible with go1.16. However I fail to find how covertool is used... Maybe just drop it, and the covertool project has no active since 2018.

[2021-05-15 19:35] zhsj commented on #1443
Fixed by 190f81342720581be0e66cfc60f9730806e49720

[2021-05-15 19:35] #1443 closed

[2021-05-15 19:42] zhsj opened #1864 "NewTestConstraint in runtime/katatestutils panic on Debian testing/sid"
# Description of problem

As Debian testing and sid are rolling update OS, they don't have version.

So when `getDistroDetails` returns `errUnknownDistroName`, `NewTestConstraint` panic.

# Expected result

Can run test on Debian testing and sid.

# Actual result

Panic

# Further information

[code]

[2021-05-15 19:45] zhsj commented on #1864
I'd like to fix it. However I'd like to see your opinions. I don't see any use of  `NeedDistroVersionXX`, can we just remove them? It seems complex to implement these fucntions well for rolling update OS.

[2021-05-15 19:48] zhsj commented on #1864
CC @jodh-intel , as these functions are implemented in https://github.com/kata-containers/runtime/pull/1587/files

[2021-05-15 20:56] jimcadden opened #1865 "docs: how-to set runtime configuration values from within k8s pod spec"
Is it possible to overwrite the values in `configuration.toml` on a per-pod basis through the pod's yaml spec?  If so, there should be documentation to illustrate how it is done.

[2021-05-17 03:19] jongwu commented on #1841
Hello @teawater -, the virtio-mem on arm64 is not ready, but the memory hotplug using Acpi is ready on arm64. So the *correct* description here is "virtio-mem on arm64 does not work right", I think.

[2021-05-17 03:24] teawater commented on #1841
The test is "Test container memory update **without virtio-mem**"

This test doesn't use the virtio-mem function.
It just depend on the memory hotplug function.

[2021-05-17 04:17] jongwu commented on #1841
Hello @teawater -,  It's very interesting. Memory Hotplug is not ready on arm64 at the afternoon May 12th when this PR test happen, but has been ready at the mid night of May 12th or May 13th after the #1770  merged. I will enable this test on arm64 later and let's see what's going on with it.

[2021-05-17 04:19] zer0def commented on #722
Just for the record, you can still use Kata v1 with current latest LTS kernel (at the time of writing, 5.10.37, or at least that's what I just tested with) to have an OCI/shimv1 interface for Docker to talk through. While not a recommended or maintained solution, you can at least stretch it out a bit until this issue is resolved.

[2021-05-17 08:59] jodh-intel commented on #60
Thanks @jtescher. That solves the final error above but not the lifetime error. It appears I can no longer pass around a `&dyn SpanExporter` with `opentelemetry-jaeger`. Is this a known issue or recent change? (if the latter do I need to rework to box it?)

[2021-05-17 09:43] lingniao2000 opened #1866 "qemu-kvm Property '.cache-size' not found"
qemu-kvm-common-5.1
kata-containers-2.0.1

[code]
failed to create containerd task: failed to launch qemu: exit status 1, error messages from qemu log: qemu-kvm: -device vhost-user-fs-pci,chardev=char-2bb49b4f158e44cc,tag=kataShared,cache-size=2000M,romfile=: Property '.cache-size' not found

It seem not support  parameter virtio_fs_cache_size,what should I do ?

[2021-05-17 09:51] lingniao2000 opened #1867 "Property '.cache-size' not found"
kata-containers-2.0.1
qemu-kvm-core-5.1

/usr/share/defaults/kata-containers/configuration.toml
[code]

failed to create containerd task: failed to launch qemu: exit status 1, error messages from qemu log: qemu-kvm: -device vhost-user-fs-pci,chardev=char-2bb49b4f158e44cc,tag=kataShared,cache-size=2000M,romfile=: Property '.cache-size' not found

**It seems not support this parameter ,What should I

[2021-05-17 10:56] #1867 closed

[2021-05-17 11:03] fidencio commented on #1867
Oh. now coming back to this one.

DAX is not enabled on the kernel / virtiofs you're using (assuming you're using from CentOS).
Please, give it a try with `virtio_fs_cache_size = 0` (DAX disabled) and / or build your own kernel / QEMU that has support to it.

[2021-05-17 11:22] fidencio commented on #1866
Same comment as https://github.com/kata-containers/kata-containers/issues/1867#issuecomment-842231432

You're trying to use DAX on a QEMU and kernel that do not have DAX support enabled.  It won't work.
You either have to build or own QEMU / kernel, or use `virtio_fs_cache_size = 0` till the upstream work reaches CentOS.

[2021-05-17 11:43] lingniao2000 commented on #1866
Is there any reference document, can I learn from it

[2021-05-17 13:26] wainersm opened #1868 "hypervisor::valid(): check that both initrd and image are not set"
**Which feature do you think can be improved?**

 `valid()` function in  *src/runtime/virtcontainers/hypervisor.go* have a couple of checks for a `HypervisorConfig` object which in case of misconfiguration it returns a error. For example, if the path to kernel is not set.

**How can it be improved?**

In a hypervisor configuration it cannot be set both initrd and image path. The `valid()` function

[2021-05-17 13:41] Jakob-Naucke commented on #1412
Coming back to this after experimenting with the full test suite more:

- [`resources.memory.limit`](https://github.com/opencontainers/runtime-spec/blame/1c3f411f041711bbeecf35ff7e93461ea6789220/config-linux.md#L264) is really marked as optional in the OCI spec, but contrary to what I thought, that doesn't mean it's optional for runtimes to implement, it's optional to specify. (Even if it weren't,

[2021-05-17 13:48] jimcadden opened #1869 "Add support for guest option for SEV"
Child issue of #1332 and #1674

The confidential guest option should be extended to support SEV memory encryption.

[2021-05-17 13:51] jimcadden opened #1870 "Add build option for confidential guest images"
Child issue of #1332 and #1822

Extend the kernel build tool to create images that support a confidential guest environment.

[2021-05-17 14:00] c3d commented on #1834
@bpradipt We discussed the possibility during the confidential computing use-case meeting. This is why in the proposal I wrote:

This is definitely an option.

[2021-05-17 15:10] bpradipt commented on #1834
Thanks for the clarification @c3d

[2021-05-17 16:46] jtescher commented on #60
@jodh-intel `opentelemetry-jaeger`'s exporter should work fine as `&dyn SpanExporter`, span processors use that form internally in the sdk. Likely something else, do you have a branch where you're seeing that issue?

[2021-05-17 17:12] jodh-intel commented on #60
Hi @jtescher - it's the [same branch](https://github.com/jodh-intel/test-trace-forwarder). I've pushed a commit to downgrade opentelemetry-jaeger from `0.13.0` to `0.12.0` and now see...

[code]

The problem seems to be the `exporter: &dyn SpanExporter` param to `handle_trace_data()` and `handle_connection()`. This code used to work (although admittedly it wasn't `async` way back when).

[2021-05-17 18:33] jtescher commented on #60
@jodh-intel interesting looks like it's an issue with async-trait https://github.com/dtolnay/async-trait/issues/48

[2021-05-17 18:42] #1870 closed

[2021-05-17 18:43] #1857 closed

[2021-05-17 18:59] fidencio commented on #722
You can, it's just not maintained, out-of-support, and highly discouraged to do so.

[2021-05-17 21:11] egernst commented on #1865
see  https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-set-sandbox-config-kata.md

[2021-05-17 21:12] jimcadden commented on #1865
Thanks @egernst ... Not sure how I missed that! :)

[2021-05-17 21:12] #1865 closed

[2021-05-18 01:32] #1854 closed

[2021-05-18 06:07] #1845 closed

[2021-05-18 07:54] #1866 closed

[2021-05-18 07:58] lingniao2000 opened #1874 "kata-netmon <defunct>"
qemu 5.0 or 5.2
kata 2.0.1
centos 8
[code]

when I ennable kata-netmon in configureation.toml , process status kata-netmon <defunct>, it seems weird

[2021-05-18 08:04] lingniao2000 opened #1875 "Why are there two virtiofs processes ？"
qemu 5.0 or 5.2
kata 2.0.1
centos 8
[code]

when I create one kata pod , two virtiofsd  process will be created ,Are there any differences between the functions of the two processes？

[2021-05-18 09:01] fidencio commented on #1866
https://virtio-fs.gitlab.io/ is a good place to take a look at the DAX support state, which is still marked as experimental.

[2021-05-18 13:39] fidencio opened #1876 "docs: Update the stable branch strategy according to what was proposed in our ML"
Last week I've proposed a new release cadence in our mailing list, and the email can be found [here|http://lists.katacontainers.io/pipermail/kata-dev/2021-May/001894.html].

As there was no push-back, now I'm trying to make it official by updated the related documents.

All in all, the proposal involves maintaining **only one** stable branch per active major release;

EDITED: There was a light pus

[2021-05-18 14:07] egernst commented on #1875
Hey @lingniao2000 -- For improved security, virtiofsd forks itself in order to drop into drop into a new mount/pid/net namespace (there are also other practices like setting up a seccomp whitelist).

That's why you end up seeing two instances (parent, and the child). You'll notice that only the child process ends up being active with respect to memory mappings, cpu utilization.

[2021-05-18 14:09] c3d commented on #1875
This is not a bug but expected behaviour. Closing the issue.

[2021-05-18 14:09] #1875 closed

[2021-05-18 14:40] ariel-adam commented on #1735
Closing this issue together with its PR.

[2021-05-18 14:40] #1735 closed

[2021-05-18 14:57] cmaf opened #1878 "Add sandbox ID and container ID to tracing spans"
Tracing spans should including a sandbox ID or container ID (if available) as an attribute to produce tracing output that is easier to understand and use. This is a sub-task of #1347.

[2021-05-18 15:12] egernst opened #1879 "virtio-fs: inotify does not work; add stop-gap to facilitate inotify for specific mounts"
**Which feature do you think can be improved?**

See https://github.com/kata-containers/runtime/issues/1505 for background.

**How can it be improved?**

While there is discussion on enabling in FUSE itself and then in virtio-fs, this will be months of work without any active developer focusing on this. It'd be good to see if we can introduce a pattern to enable watching configMap changes (or any

[2021-05-19 02:43] ryanlyy opened #1880 "Error: failed to create containerd task: failed to online 3 CPU(s) after 100 retries: unknown"
# Description of problem

when creating pod w/ multiple cpus attached (for example 3 cpus), the warning failed. and kubectl get pod show "restart is not 0 instead 2"

  Normal   Scheduled  10m                    default-scheduler  Successfully assigned default/centos-kata-5799b86f76-lqpwl to foss-ssc-6
  Normal   Pulled     10m                    kubelet            Container image "ryanlyy/centos-

[2021-05-19 06:43] Amulyam24 opened #1881 "ppc64le: Add support for PEF"
Enabling the support for Protected Execution Facility(PEF) which is he confidential computing technology on `ppc64le`.
Child issue of #1332

[2021-05-19 07:41] fidencio opened #1883 "Update the agent dependencies while at the beginning of the development cycle"
Let's do a full `cargo update` by the beginning of the development cycle and have our dependencies updated.
With this we have ~4 weeks to figure out issues and whatnot before getting an alpha release cut.

[2021-05-19 07:44] fidencio opened #1884 "agent: Stop relying in the unmaintained prctl crate"
While evaluating the possibility of having kata-agent statically linked
to the GNU libc, we've ended upn facing some issues with prctl.

When debugging the issues, we figured out that the crate hasn't been
maintained since 2015 and that the capctl one is a good 1:1 replacement
for what we need.

[2021-05-19 07:54] fidencio opened #1886 "tools: Tweak update-repository-version.sh to bump the VERSION of `main` to `alpha0` whenever we branch `rc0``"
Currently we have an inconsistent behaviour with the `main` branch, as the VERSION file shows:
[code]

As `2.1.0` has already been released, this branch should be `2.2.0-alpha0`.

We can manually bump it, of course, but ideally the `update-repository-version.sh` script would do this for us, whenever we switch from `alpha` to `rc`.

[2021-05-19 07:54] fidencio commented on #1886
@bergwolf, would you have some cycles to take a look at this one?

[2021-05-19 08:45] fidencio commented on #1886
JFYI, I've done a quick look at this and I'm not sure the best way to proceed.
We need to ensure a few things here.
1. Once we branch `rc0`, which is actually done by the `tag_repos.sh` script, we could run `update-repository-version.sh` passing something like: `next_version=$(echo ${tag} | awk 'BEGIN{FS=OFS="."}{print $1 "." $2+1 ".0-alpha0"}')`, that would kinda work, but ...
2. We need to ensur

[2021-05-19 09:41] c3d commented on #1886
@fidencio Good idea, but wouldn't be useful to be able pass the next version to `tag_repos.sh`?

Also, do you need to take the minor version into account for stable branches? I assume you also run `tag_repos` for a minor version, right?

[2021-05-19 12:02] fidencio commented on #1886
Why?
The process, as document [here|https://github.com/kata-containers/kata-containers/blob/main/docs/Release-Process.md] is:
* Run `update-respository-version.sh`, which will bump the current version to the next one.
* Run ./tag_repos.sh`, which will get the bumped version and create the tags based on that.

I'm not saying we shouldn't, I'm just trying to understand what's the benefit of adding t

[2021-05-19 12:55] yuanzhe-liu0 commented on #1841
Hello @jongwu, I try memory hotplug on arm64, it doesn't work. After debug, I find it results from that the start address of memory that will be plugged doesn't align with 1G in guest kernel.

[2021-05-19 13:17] jongwu commented on #1841
Hi @yuanzhe-liu0 -, yeah, I see that. when hotplug memory the kernel log shows:
`[    0.396551] Block size [0x40000000] unaligned hotplug range: start 0xc8000000, size 0x40000000
[    0.396556] acpi PNP0C80:01: add_memory failed
[    0.396834] acpi PNP0C80:01: acpi_memory_enable_device() error
[    0.396948] acpi PNP0C80:01: Enumeration failure`
the start address of memory does not align with 1G a

[2021-05-19 13:22] yuanzhe-liu0 commented on #1841
@jongwu, OK, let me have a look to find out the solution in QEMU.

[2021-05-19 13:30] jongwu commented on #1841
Thanks @yuanzhe-liu0 -,  The default qemu version for armu64 is 5.1, after prepare the qemu patch, you can put it under [here](https://github.com/kata-containers/kata-containers/tree/main/tools/packaging/qemu/patches/5.1.x) then raise a PR.  Also you can reference this issue in your commit message.

[2021-05-19 13:51] LFrobeen opened #1887 "Secret generation with `/dev/urandom | fold -w 32 | head -n 1` never terminates (SIGPIPE not sent?)"
**Description**

While trying to create a random secret based on `/dev/urandom` I noticed that the following command does not terminate when run in a kata environment:
```cat /dev/urandom | fold -w 32 | head -n 1```
It does generate some output, but does not finish execution.

When I run this command in a non-kata environment it terminates as expected after printing some random output.

**_Observe

[2021-05-19 14:28] jongwu commented on #1841
thanks @yuanzhe-liu0

[2021-05-19 15:29] jodh-intel commented on #60
Hi @jtescher and @davidbarsky - I've taken a look at the async trait issue above (and the ones related to it) but am rather confused: there is talk of workarounds but I've tried the "pin and box" and the "struct wrapper" tricks but didn't manage to convince `rustc` to compile the code :cry: Is there a workaround that we can use or is it a case of choosing one of the following options maybe:

- Wai

[2021-05-19 18:28] fidencio commented on #1055
So, I'm closing this one.

The whole issue was about experimenting with this and so we did, and we figured out that even when statically linked to glibc, we need to have a glibc with the same version or newer as part of the guest.  So, we decided we're better off keeping things as they're now.

Thanks @Jakob-Naucke for a whole lot of collaboration on this one.

[2021-05-19 18:28] #1055 closed

[2021-05-19 21:42] colemickens opened #1889 "runtime: CLH should allow specifying an initrd now"
**Which feature do you think can be improved?**

* Right now CLH backend requires the specification of an "image" in the config, rather than "initrd".
* This seems to be due to a historical feature gap in CLH that is now resolved

**How can it be improved?**

* CLH backend should work with an initrd, rather than requiring an image

**Additional Information**

none.

**Before raising this feature r

[2021-05-20 02:10] hellocloudnative opened #1890 "Can Kata Containers support MIPS64?"
Can Kata Containers support MIPS?
 It would be great if we could support MIPS64.
If I want to transplant Kata containers myself, what should I do?
Could you please tell me a detailed procedure and precautions?

Thank you very much

[2021-05-20 02:50] #1883 closed

[2021-05-20 07:20] jiangliu commented on #149
First let's talk about the scope and assume we are
1) focusing on "Pod/Container Run" stage and do not cover the "Container Build and Ship" stage,
2) supporting confidential and non-confidential computing, with an emphasis on confidential computing.
3) basing on the CRI interface, no support for generic containerd client interfaces.
Any more rule to scope our work?

[2021-05-20 08:47] sameo commented on #1837
Fixed, thanks.

[2021-05-20 09:15] sameo commented on #1837
@bergwolf Sorry for the late reply
So first of all, this issue is not about defining which APIs should be blocked/allowed for confidential computing, but rather about providing a way to define those restrictions.

Now to answer your questions:

* `list`: I think this is harmless and the host has many ways to know the list of containers running on a pod already. There are no reasons to block this.

[2021-05-20 12:04] sameo commented on #149
Agreed.

I think this should be designed and implemented independently from confidential computing at all. The dependency goes only one way: confidential computing depends on that, but not the other way around.

I think the proposed change would mostly be at the shim API rather.

[2021-05-20 12:36] c3d commented on #149
I am not entirely sure this is a safe assumption. More precisely, there should be no code dependency initially, but I believe there is an architecture dependency. Here are two points I believe impact the diagrams above if we want to be able to accommodate CC later:

1. A different trust domain (the tenant) is responsible for green-lighting `startContainer`. In particular, you can't start the conta

[2021-05-20 12:45] sameo opened #1891 "[WIP] agent: API restrictions reference for confidential computing"
Through issue #1837 we're proposing a way to configure the agent for it to support only a subset of the agent gRPC API, allowing e.g. for restricting the set of commands a host could send to a confidential computing containers.

Through that issue we want to discuss and define a reference subset of the current agent API that this community think would be able to support confidential computing use

[2021-05-20 13:01] bpradipt commented on #1837
This approach of allowing full API access when agent runs without the config file seems reasonable. Ensures the current user experience doesn't break with confidential computing changes.

[2021-05-20 13:01] jodh-intel opened #1892 "Write tracing documentation"
Once tracing support lands in the agent, we need end-to-end tracing documentation.

- Essentially a rewrite of https://github.com/kata-containers/agent/blob/master/TRACING.md for 2.x.
- Keep it DRY (reference things like Jaeger tracing docs).

[2021-05-20 13:08] jodh-intel opened #1893 "Test tracing documentation"
Once https://github.com/kata-containers/kata-containers/issues/1892 has been written, test it by giving it to 2+ individuals (ideally who do **not** have tracing experience) and getting them to trace the runtime and agent.

[2021-05-20 13:09] jodh-intel opened #1894 "Add standard tracing tags to agent traces"
Add standard trace tags to the agent traces for a consistent approach that will allow admins to filter on the same set of tags provided by the runtime and agent.

Related: https://github.com/kata-containers/kata-containers/pull/1859.

[2021-05-20 13:32] sameo commented on #149
I agree with the 2 above points, but I believe they're also emphasizing the fact that CC *depends* on that feature, but not the other way around :) Regardless of where the CC implementation decides to store the image layers, and when the image loading/pulling would be called, the image service implementation (not the agent or runtime modifications) should be CC agnostic.

[2021-05-20 13:45] sameo commented on #149
@huoqifeng For the record, would you mind elaborating on why we'd only need to add `PullImage` and not other image related commands to the shim API?

[2021-05-20 15:18] jiangliu commented on #149
I'm strongly agreeing with these two points.
1) Confidential computing will strongly affect Kata architecture, evolving into a real Kata 2.0 arch. Originally Kata acts as a runtime engine, inter exchangeable with runC. That means Kata needs to strictly keep compatibility with runC, especially to setup bundle on host and share the bundle to vm by 9p/virtiofs. If we keep this design constraint, it n

[2021-05-20 15:40] jiangliu commented on #149
According to my investigation, we need to enhance kubelet/CRI/containerd/kata.
1) enhance k8s/kubelet support runtime class of "Confidential Computing" and allocating resources (such as key id) for it.
2) enhance CRI image service to support pod specific images. Currently CRI/containerd images are global(though namespaced), we need a new abstraction of "Pod specific images" which belongs to a dedi

[2021-05-20 22:20] egernst opened #1895 "rollback mounts of failure to setup sandbox mounts"
In the event that a sandbox mount fails, today we don't rollback the shared directory slave mount, nor do we roll back any prior mounted sandbox-bindmounts.  Need to address.

[2021-05-20 22:28] egernst opened #1896 "sandbox-bindmounts are not cleaned in the event containerd-shim-kata-v2 dies"
When the shim dies, containerd will send a delete command to help cleanup: see [here](https://github.com/containerd/containerd/tree/master/runtime/v2#delete).

This ends up being handled here on the runtime side: https://github.com/kata-containers/kata-containers/blob/main/src/runtime/containerd-shim-v2/service.go#L303-L358

Testing this, I see that all the other mounts / processes are cleaned up

[2021-05-21 00:52] huoqifeng commented on #149
@sameo , The intention is to change API `PullImage` only but do not touch `ListImages`, `ImageStatus`, `ImageFsInfo` because the images information(digest, metadata etc) will be returned from guest agent to criService and stored/cached in containerd. While for `RemoveImage` it's optional depends on is there a real case to delete image contents in guest. I updated the section in previous proposal a

[2021-05-21 04:08] egernst commented on #1876
I wonder if every 2 weeks is a bit too often? If there are considerable bug fixes I could see doing faster, but to me I think 4 weeks makes more sense. I feel somewhat similar about the 12 -> 8 week reduction. Unless we are hitting a lot of new features we need to get out?

(sorry for being late to weigh in here!)

[2021-05-21 05:37] ryanlyy commented on #1880
any comments?

[2021-05-21 07:02] Amulyam24 opened #1898 "ppc64le: support kernel fragments"
Currently, on kernel version update, the config is being manually updated for `ppc64le`. Add support for kernel fragments.

[2021-05-21 07:55] jodh-intel commented on #1347
See the [tracking project](https://github.com/orgs/kata-containers/projects/28) I've created which has further items to consider.

[2021-05-21 07:59] jodh-intel opened #1900 "Test tracing on ppc64le"
Test runtime and agent tracing using the [new tracing documentation](https://github.com/kata-containers/kata-containers/issues/1892) on ppc64le.

[2021-05-21 08:01] jodh-intel opened #1901 "Test tracing on arm64"
Test runtime and agent tracing using the [new tracing documentation](https://github.com/kata-containers/kata-containers/issues/1892) on arm64/aarch64/A64.

[2021-05-21 08:02] jodh-intel opened #1902 "Test tracing on s390x"
Test runtime and agent tracing using the [new tracing documentation](https://github.com/kata-containers/kata-containers/issues/1892) on s390x.

[2021-05-21 08:19] ManaSugi opened #1903 "agent: Remove unnecessary underscore(_) variables"
**Which feature do you think can be improved?**

The rust-based `agent` uses underscore(`_`) prefixed variables to avoid `unused-must-use` warning.
However, the agent sometimes uses the `_` variable even when `?` operator is used.

e.g., `let _ = rx.await?;`

**How can it be improved?**

We should remove the `_` variables when `?` operator is used.

**Additional Information**

Nothing

[2021-05-21 08:53] stevenhorsman opened #1904 "docs: Developer guide - Add a custom agent to the rootfs image command incorrect?"
Sorry if the bug report doesn't quite fit the template as it is a doc issue (and my first time raising one on this project)

# Description of problem

I've been using the [developer guide](../blob/main/docs/Developer-Guide.md) to try understand the project a bit better and wanted to build a custom kata agent and get it added into my rootfs image to test out the process:
I made a change to `/src/ag

[2021-05-21 08:56] fidencio commented on #1904
@stevenhorsman, please, go ahead with the PR as I do believe your logic is correct (or, we're wrong together ;-)).

[2021-05-21 09:10] stevenhorsman commented on #1904
Thanks for the swift reply @fidencio - I created #1906 for this. I've tried to follow the contributing guidelines, so I hope it is correct :)

[2021-05-21 09:11] fidencio commented on #1876
I think timely wise it may hurt some downstream consumers of our project.  However, as I don't see that happening for 2.2 release cycle, I'd say let's keep 12 weeks and rediscuss this, **if needed**, as part of 2.3 release cycle.
Does this sound reasonable?

However, there's one change that I'd like to have that's only having a 2 weeks of feature freeze between rc and the final release.
1 whole mo

[2021-05-21 09:49] stevenhorsman opened #1907 "doc: Developer guide: Expand on `$your_qemu_directory` reference"
# Description of problem

It might just be that I've missed something, but I've been following the [developer guide](../blob/main/docs/Developer-Guide.md) to build my own version of kata-containers and I got confused when trying to follow the commands in [Build a custom QEMU](https://github.com/kata-containers/kata-containers/blob/main/docs/Developer-Guide.md#build-a-custom-qemu). It referred to `

[2021-05-21 12:49] stevenhorsman commented on #1907
I've created a PR #1908 for this in case the community feels like the issue is valid. Thanks!

[2021-05-21 13:10] devimc commented on #1880
sounds like you are running kata in a VM that is running in a VM (double nested virtualization), if that's the case, afaik, we don't support it

[2021-05-21 13:37] ryanlyy commented on #1880
thanks for your feedback. no, I run kata VM on physical host. -------- 原始邮件 --------发件人： Julio Montes ***@***.***>日期： 2021年5月21日周五 21:10收件人： kata-containers/kata-containers ***@***.***>抄送： Ryan LIU ***@***.***>, Author ***@***.***>主    题： Re: [kata-containers/kata-containers]  Error: failed to create containerd task: failed to online 3 CPU(s) after 100 retries: unknown (#1880)

one question is why

[2021-05-21 13:52] devimc commented on #1880
@ryanlyy uhmm that's weird, could you try using the agent as init (go to configuration file and set `kernel_params="init=/usr/bin/kata-agent"`)? also, set the `default_memory` to something lower, ie 1024

[2021-05-21 14:14] ryanlyy commented on #1880
Thanks @devimc
this is current processes:
[root@foss-ssc-6 crio]# kata-runtime exec 339c9419642154551f9e100b1021f2ffa29e25a1f13050f8aa177be2306a72d2
bash-4.4# ps -ef
UID          PID    PPID  C STIME TTY          TIME CMD
0              1       0  0 May19 ?        00:00:01 /init
0              2       0  0 May19 ?        00:00:00 [kthreadd]
0              3       2  0 May19 ?        00:00:00 [rcu_

[2021-05-21 14:31] devimc commented on #1880
0 204 1 0 May19 ? 00:00:03 /usr/lib/systemd/systemd-ude

systemd is still the init process, did you change `kernel_params` ?   also, can you try using initrd ?

[2021-05-21 14:51] egernst commented on #1876
The RC part SGTM, and happy with plan to reevaluate as well.

[2021-05-21 17:12] devimc opened #1909 "release kata 2.x snap through the stable channel"
now that 1.x is no longer maintained, kata 2.x should be release through the stable channel

[2021-05-21 18:20] cmaf commented on #1894
In https://github.com/kata-containers/kata-containers/pull/1859 I'm adding basic uniform tags about where calls take place, but we could consider these currently experimental [OpenTelemetry semantic conventions](https://github.com/kata-containers/kata-containers/pull/1859) in the future.

[2021-05-21 20:04] #1904 closed

[2021-05-21 20:36] #1895 closed

[2021-05-21 20:36] #1896 closed

[2021-05-21 21:20] #1847 closed

[2021-05-22 07:21] #1909 closed

[2021-05-22 09:08] quanweiZhou opened #1913 "start container failed when dropping all capabilities"
when dropping all capabilities start container will be failed
run as spec
[code]

[2021-05-22 22:07] jtescher commented on #60
@jodh-intel ok couple updates. First latest `tracing-opentelemetry` is now supports otel `0.14` so you can just use latest versions of all the crates 🎉 . Second you can fix your lifetime issue (in either version) by explicitly declaring the lifetime (and the ref has to be mut).

[code]

Lots of folks interested in a 1.0 level tracing stack so hopefully well get there soon 😄

[2021-05-23 11:54] LiangZhou9527 opened #1916 "cannot launch VM via qemu: kata-containers.img for guest RAM: Read-only file system"
Hi there,

I tried to install kata2.x on my CentOS 8 with snap command, following the guide "snap-installation-guide.md" with channel "stable"：
But seems that the kata1.x is installed , instead of kata2.x:

kata-containers 1.12.1 from Kata Containers (katacontainers✓) installed
[root@localhost /]# /snap/kata-containers/current/usr/bin/kata-runtime -v
kata-runtime  : 1.12.1
   commit   : b967088a66

[2021-05-23 12:48] fidencio commented on #1916
Hey, I never used snap on CentOS.  However, I'd really recommend you to use the CentOS packages, maintained by @etrunko.
Please, refer to: https://github.com/kata-containers/kata-containers/blob/main/docs/install/centos-installation-guide.md

And yes, you need the advanced-virt module enabled.

If there's some issue, please, report it back here and @etrunko can take a lok at that.

[2021-05-23 14:38] LiangZhou9527 commented on #1916
Thank you @fidencio for your reply, yes way you suggested works on my CentOS.
Seems for snap way it's a regression because two month ago I tried the snap way and it worked at that time, but now it does not work as expected.

[2021-05-24 03:01] huisebug commented on #564
Currently all kata runtimes, and the versions are all 1.11+
After my test, the number of open files is too large, which makes java unable to run.
Cannot run when the image is FROM alpine,
It can run when the image is FROM slim,
For docker installed on Centos8 system, the default number of open files for all containers is 1048576
For docker installed on Centos7 system, the number of open files for

[2021-05-24 08:07] lifupan opened #1917 "update container failed when set memory limit and swap at the same time"
When update memory limit, we should adapt the write sequence
 for memory and swap memory, so it won't fail because
 the new value and the old value don't fit kernel's
 validation.

# Description of problem

(replace this text with the list of steps you followed)

# Expected result

(replace this text with an explanation of what you thought would happen)

# Actual result

(replace this text with an

[2021-05-24 08:13] #1841 closed

[2021-05-24 08:31] #1907 closed

[2021-05-24 08:53] ManaSugi opened #1919 "docs: --skip-preflight-checks flag of kubeadm has been removed"
# Description of problem

The existing  [run-kata-with-k8s ](https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/run-kata-with-k8s.md#run-a-kubernetes-pod-with-kata-containers) document uses `--skip-preflight-checks` flag with `kubeadm init`, but the flag has been deprecated in the [Kubernetes v1.9](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.9.m

[2021-05-24 09:39] #1903 closed

[2021-05-24 12:13] #1913 closed

[2021-05-24 12:51] devimc commented on #1916
@LiangZhou9527 thanks for the heads up, I will take a look

[2021-05-24 19:12] #1919 closed

[2021-05-24 22:40] egernst commented on #1887
@lifupan can you TAL?

[2021-05-24 22:41] egernst commented on #1887
@LFrobeen -- thanks fo the great issue report.

[2021-05-25 02:18] #1898 closed

[2021-05-25 02:58] ryanlyy commented on #1880
After changed to initrd in config file, there is still 7 seconds delay.

[    1.029251] scsi host0: Virtio SCSI HBA
[    1.060138] NET: Registered protocol family 40
[    8.488640] systemd[1]: Started Journal Service.

[2021-05-25 03:01] ryanlyy commented on #1880
and when pod configured with 2 cpu request, error still fired:
Error: failed to create containerd task: failed to online 2 CPU(s) after 100 retries: unknown

dmesg show:
[    0.942248] printk: console [hvc0] enabled
[    1.010584] scsi host0: Virtio SCSI HBA
[    1.044508] NET: Registered protocol family 40
[   10.550648] systemd[1]: Started Journal Service.
[   11.580193] CPU1 has been hot-added

[2021-05-25 07:29] lifupan commented on #1887
NP.

[2021-05-25 11:13] bergwolf opened #1922 "[RFC] Direct Attachable CNIs For Kata Containers"
# Background
Kata Containers is an open source container runtime, building lightweight virtual machines that seamlessly plug into the containers ecosystem. It aims to bring the speed of a container and the security of a virtual machine to its users.
As Kata Containers matures, how it interacts with Kubernetes CNI and connects to the outside network, has become increasingly important. The issue cov

[2021-05-25 12:46] sunwoo2 opened #1923 "Failed to mount /sys/kernel/tracing directory."
# Description of problem

I try to mount '/sys/kernel/tracing' using docker volume for some tracing in kata container, but an error occurs. Other common directories do not fail. What's the problem ??

# Actual result
`$ docker run --rm -it --runtime kata-qemu -v /sys/kernel/tracing:/home syscall_trace:v5.0 bash`
[code]

# Further information

I'm using ubuntu 20.04 as docker image.
[code]

[2021-05-25 13:36] devimc commented on #1923
Hi @sunwoo2 - Kata 1.x has been deprecated also you are trying to share a sysfs directory with the VM, something that I think virtiofs not support

cc @kata-containers/redhat @dagrh

[2021-05-25 13:41] devimc commented on #1880
uhmmm that's weird, are you using a custom kernel?  can you try with cloud hypervisor?

[2021-05-25 13:56] dagrh commented on #1923
Is this actually a question of whether you have a /sys/kernel/tracing on the kernel in the kata child kernel?
Using a standalone qemu+virtiofs I did manage to mount /sys/kernel/tracing into a guest - although interestingly can't actually read anything from the 'files'.

[2021-05-25 14:11] fidencio commented on #1836
By the way, kata-containers packages have been updated on CentOS.  Please, give it a try and if they don't work, feel free to re-open this issue.

For now, we're closing it.

[2021-05-25 14:16] c3d commented on #1864
Any PR would be welcome. I don't see your work as overlapping with what @jodh-intel was proposing.

[2021-05-25 14:22] ariel-adam commented on #1874
@kata-containers/redhat could someone take a look at this issue since this is centos related?

[2021-05-25 14:28] fidencio commented on #1884
This should have been closed by #1885

[2021-05-25 14:28] #1884 closed

[2021-05-25 14:32] ariel-adam commented on #1890
We have not tested this on MIPS64 and since we don't have HW for that (nor a CI to run on it) it's currently not supported.
@hellocloudnative  Would you be interested in pushing this forward?

[2021-05-25 14:41] ariel-adam commented on #1922
Stefano Brivio is working on the following user space solution that could also be relevant for kata: https://passt.top/passt/about/

[2021-05-25 15:32] Jakob-Naucke commented on #1902
@jodh-intel sign me up! Assign me if you want to. I've ben looking forward to this :)

[2021-05-25 15:41] cmaf opened #1924 "Test tracing on multiple architecture configurations"
This issue tracks hypervisor/architecture configurations for runtime & agent tracing testing based on [new tracing documentation](https://github.com/kata-containers/kata-containers/issues/1892).

| | QEMU | CLH | FC | ACRN |
| :-: | :-: | :-: | :-: | :-: |
| **amd64** | :heavy_check_mark: | | | |
| **arm64** | | | | |
| **ppc64le** | | | | |
| **s390x** | | | | |

Existing issues for testing on di

[2021-05-25 17:09] stevenhorsman opened #1925 "doc: 'How to use Kata Containers and Containerd' runtime class configuration outdated?"
# Description of problem

I was trying to set up Kubernetes `v1.21.0` to use Kata Containers `2.0.3` with containerd `github.com/containerd/containerd 1.3.3-0ubuntu2.3` (which I installed by running `apt-get install containerd` with the default ubuntu apt repositories).

I tried following the [How to use Kata Containers and Containerd](https://github.com/kata-containers/kata-containers/blob/main/d

[2021-05-25 17:53] bpradipt commented on #1900
@Amulyam24 @MatthieuSarter @clnperez

[2021-05-25 17:55] bpradipt commented on #1900
@jodh-intel @cmaf happy to help with ppc64le..

[2021-05-25 21:37] jcvenegas opened #1926 "metrics: kata-monitor should report virtiofsd metrics"
**Which feature do you think can be improved?**

virtiofs is a common common component for shared filesystems  and it may increase kata overhead (depending on how is configured). Kata  should provide metrics to monitor it.

**How can it be improved?**

Export metrics   using kata-monitor.

**Additional Information**

Anything else to add?

**Before raising this feature request**

Have you looked a

[2021-05-25 21:37] jcvenegas commented on #1926
@devimc @egernst @liubin @bergwolf  does it make sense to you ?

[2021-05-25 21:44] jcvenegas commented on #1926
It would be great to have it exported to provide more data in metrics tests. See : https://github.com/kata-containers/tests/issues/3569

[2021-05-26 01:00] liubin commented on #1926
Yes, it will be helpful to ensure the Kata Containers is working by monitoring all the components.

[2021-05-26 01:13] ryanlyy commented on #1880
@devimc no I use the default one kata-container supported.

[2021-05-26 01:16] hellocloudnative commented on #1890
@ariel-adam  I have the hardware here and I'm working on it.
But I met a lot of problems, if you are interested, I don't know whether we can push forward the work together, communicate with each other.
If so, may I have your contact information?
Thank you very much

[2021-05-26 07:10] snir911 commented on #1874
It seems to be a gap in 2.x, not necessarily in centos
It was reported also in #1445 and mentioned also in #1154.

[2021-05-26 07:11] snir911 commented on #1445
Closing as it's duplicate of #1874

[2021-05-26 07:11] #1445 closed

[2021-05-26 08:56] sbrivio-rh commented on #1922
A few details about this: the general idea (not ready for consumption or demo, at this stage) would be to add vhost-user ring support to it, and provide full network capabilities (except for custom IP protocols) without requiring special privileges, while bypassing qemu for the data path, and the possibility of having rootless containers (at least as far as network capabilities are involved).

Thi

[2021-05-26 10:01] bobobo1618 opened #1927 "cgroup mountpoint does not exist: not found"
# Description of problem

[code]

# Expected result

The container kernel version would be shown.

# Actual result

See above.

# Further information

[code]

kata-collect output will be in the next comment.

[2021-05-26 10:03] bobobo1618 commented on #1927
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.1.0 (commit 0f822919268e4095dd9bdbbb2351248b53746501)` at `2021-05-26.11:57:56.017546623+0200`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/usr/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>/usr/bin/kata-runtime kata-env</tt></summary>
<

[2021-05-26 10:17] c3d commented on #1837
I don't think this is correct. In a confidential containers context, the tenant would supply the configuration file and rely on the measurements of the boot image to know that this is applied. If you allow agent command line options to override that, then the guarantee seems to be lost. Unless we find a way to add the agent command line to the measurements?

[2021-05-26 10:20] c3d commented on #1837
From configuration file:
[code]

In the context of a split host/tenant trust realms like #1834 (I'm now forcing myself to no longer say "trust domain" because in the case of TDX, that's defined as the VM and not whatever else is in the same security "domain"), then the agent would presumably no longer get that over `vsock`.

@sameo Would you agree that this could later be extended to accept `https

[2021-05-26 11:15] sunwoo2 commented on #1923
@devimc Thanks. Can kata 2.x be used in ubuntu?

[2021-05-26 11:23] sunwoo2 commented on #1923
@dagrh Thanks. Actually, What I want is to mount  /sys/kernel/tracing in host to kata containers to write at `trace_marker` file.
Can you tell me how mount /sys/kernel/tracing into a guest? Any more details?
And what's the meaning of `can't actually read anything from the 'files'`?

[2021-05-26 12:11] jiangliu commented on #1837
We have two ways to disable some API services/code:
1) statically disabled at compilation time
2) dynamically disabled at runtime
And I think these two methods should be used together.
Another question, is an allowed/denied list of API services enough? Or eventually we need something like seccomp_bpf to also filter request parameters?

[2021-05-26 12:14] jiangliu commented on #1837
We can't disable all API services for confidential computing, otherwise we never need Kata for confidential computing. The only solution will be running kubelet/containerd/runc within a confidential VM. So the answer may be audibility. We should audit/log every sensitive API service request.

[2021-05-26 12:38] sameo commented on #1837
I fully agree, and the plan is certainly not to disable all API for CC. There is no need for it, and deciding which APIs to disable is also a business decision.

That already exists and it's a fairly different use case.

Are you saying we should keep all APIs open and audit log the sensitive ones from the agent?

[2021-05-26 12:48] sameo commented on #1837
We discussed about it in our weekly use case meeting, and agreed having it configurable at runtime is more flexible.
One could argue that build time disabling endpoints is safer, but aside from the security aspects, do you see any advantage of doing it at build time over runtime?

How would you map gRPC request parameter to seccomp rules?

[2021-05-26 14:13] fidencio commented on #1880
CentOS 4.18 kernel.  Which just means 4.18 plus a whole lot of patches.
CentOS kernel will work with Kata Containers 2.x, that (or quite close to that) is what some downstreams are using. :-)

[2021-05-26 14:14] fitzthum commented on #1837
@c3d We have some patches for OVMF and maybe QEMU that extend the SEV launch measurement to the kernel command line, kernel, and initrd. See [this discussion](https://edk2.groups.io/g/devel/topic/83074450#75567)

[2021-05-26 14:18] devimc commented on #1923
@sunwoo2

yes, but I think you need to build & install it from source  or from the snapcraft store

[2021-05-26 14:31] c3d commented on #1837
This is the kernel command line. We are talking about the agent command line overriding the settings, aren't we? [Side note: one could argue that these only come through a measured channel, e.g. kernel command line, but given the talk given by @jodh-intel yesterday, that does not seem certain at all anymore. He talked about a restartable agent notably for tracing.]

Let me put it another way: what

[2021-05-26 14:36] c3d commented on #1837
@sameo: The discussion above with @fitzthum made me think that the above seems unsafe as well. I think that the configuration file should be in some hard-coded path provided at compile-time. The *optional* condition is satisfied by either having the file or not having it. But if the tenant put the file in the right place in the filesystem, it should be practically impossible to run the agent witho

[2021-05-26 14:40] c3d commented on #1837
@sameo In the comment above, I made the hypothesis that we would have different configuration files for the confidential and non-confidential VMs, and that the configuration file would presumably be "one per tenant".

I realised that there may be a desire to have a single boot image that serves both confidential and non-confidential cases. That may have been your meaning for "optional", and could

[2021-05-26 14:51] sameo commented on #1837
:-) We usually call it TD :)

By "that", do you mean the trusted API calls? In any case, there will be a need for the agent to accept requests from the host through vsock, or are you suggesting that *all* commands should go through the secure channel and not the regular k8s control plane?

You mean as a mutually exclusive option to the vsock address one?

That would be a fairly intrusive change, a

[2021-05-26 15:04] fitzthum commented on #1837
@c3d I am not in the loop with the efforts you mention to disconnect the kernel command line and the kata agent command line. Generally speaking, it seems like there could be value to providing some config over the command line because it cuts down on the amount of images/measurements that you need to keep track of. Not only would you need separate images for confidential and non-confidential VMs,

[2021-05-26 15:18] jodh-intel commented on #1902
Thanks @Jakob-Naucke ! As mentioned in the AC meeting yesterday (and as shown on https://github.com/kata-containers/kata-containers/pull/1929), the initial PR won't provide _full_ agent tracing (as it doesn't have all the trace points). However, it is still "testable" to provide the concept.

 Once we have [some tracing docs](https://github.com/kata-containers/kata-containers/issues/1892), I'll le

[2021-05-26 15:38] jodh-intel commented on #1837
@c3d - We have talked in the past about having a restartable agent (to support in-place agent upgrades where the agent binary could be updated somehow (via the ttrpc channel, or some other means) and the running agent could then serialise its state, re-exec itself and slurp back that state, and keep on working). That would support a zero downtime type scenario but none of this is related to tracin

[2021-05-26 16:11] c3d commented on #1834
Updated trust _domains_ to trust _realm_ to make it clear that we are not talking about TDs as defined by TDX.

[2021-05-26 16:37] Jakob-Naucke commented on #1412
@fidencio WDYT? Forego memory constraints for the time being (+ skip those tests in CI) or attempt virtio-mem, even though Secure Execution won't work?

[2021-05-27 00:45] zeigerpuppy commented on #1367
apologies for the very late response @fidencio
I think my message may have been a bit misinterpreted.  I am happy to test a build procedure on Debian 10/Devuan Beowulf but unfortunately am not able to maintain the official packages (due both to time and skill constraints!).

Perhaps we can at least exchange information about the best build process here and put together a Debian specific guide to s

[2021-05-27 02:30] ryanlyy commented on #1880
my node os is:
Linux foss-ssc-6 4.18.0-240.22.1.el8_3.x86_64 #1 SMP Thu Apr 8 19:01:30 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux.

When i start kata container, seems it uses my node vmlinuz.

my kata version is: kata-containers-2.0.1-1.el8.x86_64

So what is next? Do need to upgrade to 5.0?

[2021-05-27 06:45] cmaf commented on #341
Hey @GabyCT, is this PR still relevant? If not could we close it?

[2021-05-27 06:48] cmaf commented on #412
@jodh-intel will this be covered in your agent tracing updates or should I add it to the [tracing project](https://github.com/orgs/kata-containers/projects/28)?

[2021-05-27 06:54] #478 closed

[2021-05-27 06:56] liubin opened #1931 "FD leaks and virtiofsd pid not returned correctly for clh"
If `Start()` function in file `src/runtime/virtcontainers/virtiofsd.go`, there are two problems:

- virtiofsd process ID returned to the caller will always be `0`, the `pid` var is never being assigned a value.
- socket listen fd may leak in case of failure of starting virtiofsd process.

[2021-05-27 07:23] liubin commented on #1927
Hi @bobobo1618 , are you using a guest image with cgroups v2?

[2021-05-27 07:30] liubin opened #1933 "virtiofsd need refactor to share code with clh and qemu"
Now `clh` is using code in `virtiofsd.go` and `qemu.go` is using code in itself, they are not sharing common code.

Let `qemu` use code in `virtiofsd.go` will make code easy to maintain.

[2021-05-27 07:41] liubin commented on #1927
Oh, I'm sorry that missed some of your configs, to use cgroup v2 at host, you can set `sandbox_cgroup_only` to true, pleas read [this](https://github.com/kata-containers/kata-containers/blob/main/docs/design/host-cgroups.md#cgroups-v2) for more info.

[2021-05-27 07:47] bobobo1618 commented on #1927
Ah, I see. I was mainly following [the instructions for containerd](https://github.com/kata-containers/kata-containers/blob/main/docs/install/container-manager/containerd/containerd-install.md), which didn't mention this.

I also find it strange that `kata-runtime check` reports that everything is fine?

[2021-05-27 07:48] bobobo1618 commented on #1927
Sorry, I should mention that setting `sandbox_cgroup_only` did fix the problem and I'm able to successfully start containers now.

[2021-05-27 07:59] liubin commented on #1927
Yes, this could be improved by checking the combination of host group v2 and the `sandbox_cgroup_only` configuration item.

[2021-05-27 09:07] bobobo1618 opened #1935 "Network interfaces not created"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.1.0 (commit 0f822919268e4095dd9bdbbb2351248b53746501)` at `2021-05-27.10:53:15.333328845+0200`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/usr/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>/usr/bin/kata

[2021-05-27 10:44] jodh-intel opened #1936 "Test agent tracing with an initrd"
We need to test agent tracing with a configured initrd.

[2021-05-27 11:11] sameo commented on #1837
It would be very handy in practice, as @fitzthum pointed out.

With confidential computing I'm assuming that a) the kernel command line is part of the measurement and b) the agent will be pid 1 from an initrd image and could take some config options from the kernel cmdline.

Attempting to modify the kernel cmdline should make any attestation fail, so one could use a single initrd including confide

[2021-05-27 11:22] sameo commented on #149
Thanks for the clarification. A few questions related to that approach:

- How would containerd/CRIO handle encrypted layers for which they don't have the private keys?
- What would happen if a pod asks for the same image layers? Would CRIO/containerd try to re-use those encrypted layers provided that they are stored on the host? Or is that not the intention?
- What happens when the pod that pulle

[2021-05-27 13:15] devimc commented on #1880
could you try with this kernel http://jenkins.katacontainers.io/view/all/job/kata-containers-2.0-kernel-vanilla-x86_64-nightly/ ?

[2021-05-27 13:19] c3d commented on #1834
Added a few images to make things easier to understand.

[2021-05-27 16:12] davidhildenbrand commented on #1412
IIRC, there is nothing fundamentally broken with virtio-mem + secure execution, at least on s390x. We'll primarily need share/unshare calls when plugging/unplugging memory blocks inside the Linux guest. But that's certainly stuff for the future.

[2021-05-27 16:18] Jakob-Naucke commented on #1412
Sorry, meant virtio-balloon (updated). virtio-mem is for the future, yes :)

[2021-05-28 01:17] ryanlyy commented on #1880
Thanks a lot for your support. so far my lab is released. will try it later when I get a new lab.

by the way, I am interesting what real issue is here? kernel issue?

[2021-05-28 08:43] #1927 closed

[2021-05-28 09:16] jodh-intel commented on #60
Thanks @jtescher.

[2021-05-28 10:29] #1931 closed

[2021-05-29 02:05] #1887 closed

[2021-05-29 02:05] #1917 closed

[2021-05-29 02:27] bergwolf opened #1941 "src/runtime/virtcontainers/doc.go is empty"
We should just drop it as it doesn't contain any actual code.

[2021-05-29 05:16] bergwolf opened #1944 "TODOs in runtime needs cleaning up"
Some of them no longer apply and can be dropped.

[2021-05-29 06:44] liubin opened #1945 "Kata shim process leak after container exit using nerdctl"
Start a container and exit from container:

[code]

After that, the `containerd-shim-kata-v2` remains and QEMU has exited.

Logs:

[code]

After kill the shim process:

[code]

From the trace, the shim's Delete/Shutdown method not called.

But if run container in on terminal, and `nerdctl rm -f $cid` will work, the shim process will  exist, so it may be an issue of nerdctl.

[2021-05-29 11:00] liubin commented on #1945
I think I have found that [this commit](https://github.com/containerd/nerdctl/pull/112/files#diff-05d67ab64d2cc3aeb2a3d4b1b1de5b145c06a2371ddf94660d326f5aa265ab6d) of nerdctl introduced this issue.

But there may something can be done in Kata Containers, the shim process has detected that the agent is dead.

[2021-05-29 13:43] liubin commented on #1945
Created an [issue](https://github.com/containerd/nerdctl/issues/228)

[2021-05-30 10:19] amnoni commented on #1922
Some comments/questions:
1. By not having a network namespace on the host, isn't the security being compromised?
2. Should'n the solution be CNI agnostic? Or at least try to accommodate current common CNIs (as many as possible)?

[2021-05-31 00:36] bporter816 commented on #1162
@cmaf
On the last PR, we decided to pass the individual loggers into the single trace function, like so: https://github.com/bporter816/runtime/blob/consolidate_tracing/pkg/katautils/katatrace/tracing.go#L105
Do we still want to do that here, or could we use the kata utils logger for all the "trace called before context set" errors?

[2021-05-31 06:56] liubin commented on #1945
Reopen for that it may not be fixed in a short time.

[2021-05-31 14:21] devimc commented on #1880
In the past, I faced similar issues and the problem was the guest kernel, maybe this bug is different, who knows....

[2021-05-31 14:56] bergwolf commented on #1922
@amnoni
1. As being discussed in the kube-ovn issue, netns on the host is optional. Kata doesn't need the netns, but it doesn't mean we cannot work with an netns. I would prefer to leave it to the CNI implementation to decide if it wants to create a netns and Kata just works with what it is given.
2. Yes, the solution is CNI agnostic. But we need CNI to be aware of Kata's characteristics and imple

[2021-05-31 20:41] #1941 closed

[2021-06-01 00:32] #1933 closed

[2021-06-01 00:37] liubin opened #1947 "Some logs/comments are wrong"
Should be fixed.

[2021-06-01 04:57] #1852 closed

[2021-06-01 06:16] #1944 closed

[2021-06-01 07:26] #1881 closed

[2021-06-01 11:01] #1923 closed

[2021-06-01 14:03] sbrivio-rh commented on #1922
I understand this might have some impact on performance, although this part is there for obvious reasons of isolation (in a logical and in a security sense) and compatibility.

I wonder, though, given that the fast path of those network devices interfaces is rather lightweight and mostly zero-copy, what is the actual performance impact? Do you have some data motivating this?

I think however the s

[2021-06-01 14:13] huoqifeng commented on #149
@jiangliu I think 3. and 4. align with the longer term goal, 1. and 2. have more larger scope.
Maybe, the trade off is should the image offload be proceeded incrementally.

[2021-06-01 14:29] huoqifeng commented on #149
@sameo I think the proposal is to download and handle the images within guest VM but don't same them on host, so that
- containerd/CRIO does not need handle encrypted layers.
- if another pod on same worker asks for the same image layers, further image pull happens again.
- when the pod that pulled the image layers terminates, image layers are also gone.

[2021-06-01 15:02] jiangliu commented on #149
yes, we call it scoped image management. Currently have two types of scope:
1) global scope, which the is current containerd image management mode.
2) pod scope, the image lifetime is bound to the associated pod and is only available to the pod.
Logically there's a third scope, user scope for multi-tenants, which shares images among all pods of a  specific user.

[2021-06-02 02:49] bergwolf commented on #1922
There are two motivations in the original proposal:
1. the removal of the unneeded veth pair and TC mirroring rules, which should result in lower latency (due to fewer network stacks), and cleaner network setup
2. the possibility to support VFIO and vhost-user based NICs, which is not possible with current veth pair based setup

When security is a concern, we can just create a fake netns when CNI

[2021-06-02 02:52] #1947 closed

[2021-06-02 08:01] Tim-Zhang opened #1950 "Socket fd of vsock leaks to child processes"
First run kata-runtime exec to connect to the guest, this action will create a vsock connection and trigger the leak problem
Then exec to the container, run `ls -l /proc/self/fd`

You'll see the extra fd

[code]

The further information: https://github.com/rust-vsock/vsock-rs/issues/15

[2021-06-02 08:17] Tim-Zhang opened #1952 "Socket fd of netlink leaks to child process"
[code]

The netlink fix: https://github.com/little-dude/netlink/pull/165

[2021-06-02 08:50] marcel-apf opened #1953 "Remove support for the x86 PC machine"
**Which feature do you think can be improved?**

There is no need to support both the PC and Q35 machine types for x86.

**How can it be improved?**

Just remove the PC machine.

**Additional Information**

Less machine types will mean less testing needed.

[2021-06-02 09:26] sbrivio-rh commented on #1922
This is actually why I was asking: should -- but do you have some data? Note that the network stack isn't traversed multiple times because of that -- indeed there must be overhead, I just wonder if we already have some indications of it.

Wait, sorry, my comment was probably not clear then. By "faking a network namespace" I mean pretending there is one, when in fact there's none. In any case, if i

[2021-06-02 09:34] oilbeater commented on #1922
Here is the performance test result between `ovs veth` and `ovs internal port` (implemented by tap device). We use ping and iperf3 to test latency and throughput between two pods on the same node. We also tested `macvlan` as the baseline

| Nic Type        | Latency(ms)           | Throughput (Gbits/second) |
| ------------- |:-------------:| -----:|
| Veth      | 0.042 | 26 |
| Internal Port

[2021-06-02 09:40] marcel-apf commented on #1953
/cc @dgibson

[2021-06-02 09:53] liubin opened #1956 "add more traces for network operations"
To see more info.

[2021-06-02 10:40] fidencio commented on #1953
Please, also see: https://github.com/kata-containers/kata-containers/issues/1038

[2021-06-02 14:41] #1950 closed

[2021-06-02 18:45] #60 closed

[2021-06-02 21:41] #1850 closed

[2021-06-03 02:38] #1926 closed

[2021-06-03 12:15] #1952 closed

[2021-06-03 17:53] GabyCT opened #1960 "fix release process documentation"

[2021-06-04 08:02] sunwoo2 opened #1962 "Failed to mount sysfs directory in kubernetes"
# Description of problem

I tried to mount sysfs directory to kata container in k8s. But Failed. #1923
I installed kata via kata-deploy (https://github.com/kata-containers/kata-containers/tree/stable-2.1/tools/packaging/kata-deploy)
And I've refered to docs (https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/run-kata-with-k8s.md#containerd-with-cri-plugin).
My CRI runtime is

[2021-06-04 13:11] egernst commented on #1962
Sysfs should be specific to the kernel running. I don’t think it’d make sense to have host kernels sysfs layered on the guest kernel.

[2021-06-04 16:10] #1878 closed

[2021-06-04 17:59] #341 closed

[2021-06-04 18:48] cmaf commented on #253
We still need unit tests for `cli`; current coverage is 65%, down from 73% in 1.x.

[2021-06-04 18:49] cmaf commented on #254
Current coverage is 32%

[2021-06-04 18:51] cmaf commented on #255
Current coverage is 62%.

[2021-06-04 18:52] cmaf commented on #256
Current coverage is 60%

[2021-06-04 18:52] cmaf commented on #257
Current coverage is 13%

[2021-06-04 18:53] cmaf commented on #258
Current coverage is 51%

[2021-06-04 19:57] devimc opened #1965 "snap: qemu: server certificate verification failed. CAfile: none CRLfile: none"
[code]

[2021-06-04 19:59] #1960 closed

[2021-06-04 21:28] cmaf commented on #259
Current coverage is 66%

[2021-06-04 21:29] cmaf commented on #260
Current coverage is 34%

[2021-06-04 21:31] cmaf commented on #261
Current coverage:
- virtcontainers/device/api 0%
- virtcontainers/device/config 29%
- virtcontainers/device/drivers 10%
- virtcontainers/device/manager 65%

[2021-06-04 21:32] cmaf commented on #262
Current coverage is 39%

[2021-06-04 21:39] cmaf commented on #278
Current coverage is <1%

[2021-06-04 21:45] cmaf commented on #700
Current coverage is 76%

[2021-06-07 09:49] liubin opened #1968 "Pass span context from runtime to agent to get a full trace"
Now traces from agents have their own root span, all RPC call spans should inherit from runtime by span context.

sub task of https://github.com/kata-containers/kata-containers/issues/1347

[2021-06-07 10:03] Bryce-huang opened #1970 "How does katacontainer get the annotation of pod in k8s ？"
I saw in the document that the geust os kernel and image of katacontainer can be controlled by configuring annotations. I want to know how this works?

https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-set-sandbox-config-kata.md

[2021-06-07 10:07] Bryce-huang commented on #1970
https://github.com/kata-containers/kata-containers/blob/main/docs/design/architecture.md#oci-annotations
I found it,thanks

[2021-06-07 11:26] #938 closed

[2021-06-07 11:42] chestack commented on #1922
AFAIK, containerd instead of CNI created the netns https://github.com/containerd/cri/blob/master/pkg/server/sandbox_run.go#L122

[2021-06-07 12:55] lifupan opened #1971 "Kata containers didn't work against the latest containerd"
# Description of problem

Since the containerd had switched the socket from abstract socket to unix path socket, see https://github.com/containerd/containerd/commit/4a4bb851f5da563ff6e68a83dc837c7699c469ad,
thus kata should upgrade containerd vendor to compatible with the latest containerd.

@fidencio
I think the crio also need some change to be compatible with it.

# Expected result

(replace thi

[2021-06-07 13:16] fidencio commented on #1971
@lifupan, I'll double check on CRI-O side but I think we're fine there as we're already vendoring the latest containerd bits on the CRI-O side.

Thanks for the head's up and I'll update this later Today / Tomorrow.

[2021-06-07 14:21] #1862 closed

[2021-06-07 14:22] jodh-intel commented on #1968
I think this is (or is part of) https://github.com/kata-containers/kata-containers/issues/420.

[2021-06-07 14:38] jodh-intel opened #1972 "Ensure agent trace spans have correct parents"
Now that https://github.com/kata-containers/kata-containers/pull/1929 has landed, we need to "fill in the gaps" by ensuring the trace spans generated by the agent form the correct hierarchy.

[2021-06-07 15:17] davidhay1969 commented on #1971
Thanks for raising this @lifupan following the [thread](https://katacontainers.slack.com/archives/C86U7NZND/p1623010730069900) in the `kata-containers` Slack.

Purely FYI, I hit an issue with the most recent build of `containerd` using this job: -

[code]

The pod stays in `ContainerCreating` and `kubectl describe pod` shows: -

[code]

This is how I install `containerd` into the existing K8s `1.2

[2021-06-07 15:31] Jakob-Naucke opened #1973 "CC=gcc for Fedora s390x is outdated"
For FFI to C in Go, `CC=gcc` is (still) required on Fedora s390x (see https://github.com/kata-containers/osbuilder/issues/217).

- This was set for the agent, but is no longer required with the Rust agent.
- This isn't set for the runtime, but should be.

PR is prepared.

[2021-06-07 15:40] Jakob-Naucke opened #1975 "CMake and musl are installed on s390x, but unnecessary"
- CMake used to be a requirement, but wasn't cleaned up for s390x.
- musl isn't required to be installed on s390x since there is no Rust target for it.

PR is prepared.

[2021-06-07 20:28] fmendoz7 opened #1977 "Stale Documentation: Kata Runtime Registration"
# Description of problem
Followed all the steps of the documentation with no preexisting dependencies, encountered stale documentation on "Register The Runtime" with kata qemu. Provisioned on an Ubuntu 18.04.5 LTS server. Ran the following command:

cd kata-containers/tools/packaging/kata-deploy/k8s-1.14

# Expected result
Directory goes into k8s-1.14 distribution so you can subsequently register

[2021-06-08 08:36] #1965 closed

[2021-06-08 15:33] c3d commented on #1962
@sunwoo2 Could you explain what you are trying to achieve? The `sysfs` you are trying to mount describes the host kernel. For security reasons, containers running inside Kata are not supposed to access the host kernel (tracing or otherwise). So this is working as intended.

If your application requires access to kernel tracing, would it be OK for it to mount the _guest_ kernel tracing filesystem i

[2021-06-09 03:55] sunwoo2 commented on #1962
@c3d What I'm trying to achieve is to access the tracefs of host in kata container, or, more precisely, to write into the ftrace ring buffer via trace_marker in host kernel from kata container user space. In other words, entire sysfs are unnecessary.
To mount the guest kernel tracing filesystem seems useless to me.
I don't know What I'm trying to do is possible practically or not.

[2021-06-09 06:28] LiangZhou-CTY opened #1980 "no need to call storeSandbox at the end of createSandboxFromConfig"
In the routine createSandboxFromConfig(), it will call s.createContainers(ctx), then call s.storeSandbox(ctx), see [here](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/api.go#L123).

But at the end of createContainers(), it has already called s.storeSandbox(ctx), see [here](https://github.com/kata-containers/kata-containers/blob/16a835e4a0be2f8bfa35e0f7c81

[2021-06-09 08:24] jodh-intel commented on #1962
Hi @sunwoo2 - If you need full host access, it does beg the question why you need to do all this from inside a container :smile:

Are you maybe using the container as a "packaging solution" for your particular host-centric application? If so, a virtualised container system like Kata (which purposely insulates you from the host environment) probably isn't appropriate for your (arguably somewhat nic

[2021-06-09 08:54] jodh-intel opened #1982 "add guest protection to env output"
The [`kata-runtime env`](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/cli/kata-env.go) command should show the available [guest protections](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/qemu_arch_base.go#L155..L171) (TDX, SEV, PEV, _etc_).

Steps to add:

- Create a slice of string names for the current [`guestProtection`'s](ht

[2021-06-09 09:33] kraxel opened #1983 "microvm: should not use kernel_irqchip"
# Description of problem

Using `-machine kernel_irqchip=on` does not work for microvm in qemu 6.0+.

Background: microvm got a second ioapic for the virtio-mmio irq lines, allowing for 24 instead of 8 virtio-mmio devices.
That doesn't play well with `kernel irqchip=on`, interrupts for the virtio-mmio devices don't arrive.
Using `kernel_irqchip=split` (which I think is the default) works.

[2021-06-09 09:46] kraxel opened #1984 "microvm: legacy mode for virtio-mmio doesn't work."
# Description of problem

One of the devices seems to not come up and the kata agent can't initialize properly.
Turning off legacy mode (`-global virtio-mmio.force-legacy=false`) fixes this.

[2021-06-09 09:58] kraxel opened #1985 "metrics not working"
# Description of problem
versions:
  fedora 34
  kata 2.1.0
  kubernetes 1.21.1

(1) deploy metrics-server on your cluster.
(2) fetch metrics (`kubectl top pod`, or check kubernetes-dashboard).

# Expected result
all containers are listed.

# Actual result
only runc containers are listed, no data for kata containers.

[2021-06-09 10:22] fidencio commented on #1985
@kraxel, what's the metrics server you're using?

This has been fixed on CRI-O side as part of https://github.com/cri-o/cri-o/pull/4470

To get metrics properly working with kata-containers you should be using CRI stats, rather than cAdvisor, and to set that up there are some changes needed on CRI-O config side (as cAdvisor code explicitly checks for the CRI-O socket path).

[2021-06-09 10:43] kraxel commented on #1985
Using (standard?) https://github.com/kubernetes-incubator/metrics-server

cri-o-1.19.0-43.gitc00d425.module_f34+10209+fb610d12.x86_64 (cri-o:nightly module).

Oh, I see there is a cri-o:1.20 module.  Hmm.  /me picked nightly assuming that'll give me the latest and greatest without the hassle of switching modules for updates.  Seems that didn't play out that well ...

[2021-06-09 10:51] fidencio commented on #1985
@kraxel, the CRI-O version you're using is supposed to match with the Kubernetes version you're using.
@haircommander, do we happen to have 1.21 packaged for Fedora already?

[2021-06-09 13:27] haircommander commented on #1985
it seems not, and I am having issues rebuilding the project: https://pagure.io/releng/issue/10144

[2021-06-10 02:56] #1956 closed

[2021-06-10 03:55] LiangZhou-CTY opened #1986 "How to enable privileged feature to k8s + containerd + kata"
Hi there,

I followed the guide https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/privileged.md#host-devices to enable privileged feature on kata but failed.

Here's my steps:

1. set privileged to true on my pod yaml:
[code]
2. set related fields in  /etc/containerd/config.toml :
[code]

3. run the pod, but cannot get the host devices under /dev:
[code]
we see that the host

[2021-06-10 04:24] sunwoo2 commented on #1962
@jodh-intel Thank you.
I'm doing research on container security. Thus, I needed some tracing on kata container.

[2021-06-10 04:43] egernst commented on #1986
You’ll want to explicitly add those devices if you need them. Containerd won’t add these devices if you have set: privileged_without_host_devices = true

[2021-06-10 05:47] LiangZhou-CTY commented on #1986
Thanks @egernst for your quick response.
I'm not very familar with k8s, is there any example for kata to "explicitily add those devices" ?

[2021-06-10 07:54] ManaSugi opened #1987 "agent: Conform to the latest nix version (0.21.0)"
**Which feature do you think can be improved?**

I'd like to add new mount flags such as `LAZYTIME` to the agent, but the flag is available from `nix 0.21.0` that is the latest version. Before adding the flags, we need to fix some agent's code to conform to the latest `nix` crate because the current agent uses `nix 0.17.0`.

**How can it be improved?**

Modified area:
- `unistd::fork`
   - Made `u

[2021-06-10 08:26] #1876 closed

[2021-06-10 08:31] liubin opened #1989 "Improve log message that is not error but seems like an error"
In [rootfs.sh](https://github.com/kata-containers/kata-containers/blob/2fc7f75724ac9e18e60f63dcc9aa395dc51c184d/tools/osbuilder/rootfs-builder/rootfs.sh#L587):

[code]

If the AGENT_VERSION is empty, will log a message `checkout failed!`, but there is not any error.

[2021-06-10 09:17] #1987 closed

[2021-06-10 11:12] Apokleos opened #1991 "kata with cloud-hypervisor build from source code may failed with the dirty name (v15.0-213-g8f1404ee-dirty)"
The information provided will help us to understand the problem more quickly
so saves time for both of us! :smile:

# Description of problem
1. When I compile cloud-hypervisor with the lastest source code from `https://github.com/cloud-hypervisor/cloud-hypervisor.git` and get a new binary. and its source code version as below:
[code]

2.  I have download the latest kata-static from `https://github

[2021-06-10 16:37] likebreath commented on #1991
@Apokleos Thanks for opening the issue. Yes, I encountered the same issue recently and had to use a similar workaround to make Kata happy with my custom build of cloud-hypervisor. I think this 'limitation' is definitely not preferable, and can be improved/loosed.

I may miss the context of the rationality behind of having this version check, Any comments/advises? @jodh-intel @jcvenegas @devimc

[2021-06-10 16:53] devimc commented on #1991
@likebreath clh was not stable with a lot of changes in its API and we depended on experimental features, I guess we can get rid of that check since now it's *"stable"*, right?

[2021-06-10 16:57] likebreath opened #1992 "versions: Update to Cloud Hypervisor v16.0"
Highlights from the Cloud Hypervisor release v16.0:

1. Improved live migration support;
2. Improved `vhost-user` support;
3. ARM64 ACPI and UEFI support;
4. Bug fixes.

Details can be found: https://github.com/cloud-hypervisor/cloud-hypervisor/releases/tag/v16.0

[2021-06-10 22:02] #1771 closed

[2021-06-10 22:19] GabyCT opened #1994 "remove travis reference in osbuilder readme"

[2021-06-10 22:28] GabyCT opened #1996 "enable power and ubuntu sev amd CI until they are ready?"
I have seen that most of the PRs at this repository seem to be failing but most of them are "failing" because we currently have the Power and the sev amd CI failing in each PR. I believe that we should enable these CIs to be trigger in each PR until they are ready to make clearer the environment and easier to detect which PRs are ready to review and to merge. I know that a lot work has been done t

[2021-06-10 22:30] #1980 closed

[2021-06-10 22:31] #1975 closed

[2021-06-10 22:31] #1973 closed

[2021-06-10 22:40] fidencio commented on #1996
Agree!

[2021-06-11 01:59] Apokleos commented on #1991
@likebreath Thanks for your reply.  I agree with you.

[2021-06-11 02:16] LiangZhou-CTY commented on #1342
Is there any plan for this issue ?
Are we going to passthrough all  block devices from host to guest container when "securityContext :privileged  is true" and  "privileged_without_host_devices is false"?

[2021-06-11 02:24] Apokleos commented on #1991
Thanks @devimc , checking `stable` will ensure the released kata with stable clh version. But it may also cause the similar problem.
I now have a new doubt that what is the purpose of version checking? for version specification or something else?

[2021-06-11 02:46] oilbeater commented on #1922
After some test with tap device,  once the tap device is moved to netns, the ovs can not find the tap device and lost link to it.

[2021-06-11 05:04] liubin opened #1997 "Add a fastfail test mod for development"
Default `make test` will run tests under parallel, the test will not finish even one test has failed, and trying to find with test failed is difficult.

Add `-failfast` option will let go test fail immediately.

[2021-06-11 06:02] ManaSugi opened #1999 "agent: Add some mount options to rustjail and sort the list alphabetically"
**Which feature do you think can be improved?**

Add new mount flags to catch up with the [runtime spec](https://github.com/opencontainers/runtime-spec/blob/v1.0.2/config.md#mounts)

In addition, we should sort `PROPAGATION` and `OPTIONS` alphabetically to scan easily because It's hard to visually scan over the list currently.

**How can it be improved?**

Add the following mount options to rustja

[2021-06-11 06:47] cmaf opened #2001 "Call to Trace() should return context in runHooks()"
The call to `Trace()` in `runHooks()` should return a context so that the subsequent call to `runHook()` produces a tracing span with proper ordering.

[2021-06-11 06:49] pohly opened #2002 "io.katacontainers.config.hypervisor.memory_offset: is not enabled"
# Description of problem

I installed Kata Containers 2.1.0 on Kubernetes 1.20 with kata-deploy, with the version locked onto 2.1.0 by https://github.com/pohly/pmem-CSI/blob/fix-kata-containers-support/test/setup-kata-containers.sh#L1-L43

I then tried to create this pod:
[code]

# Expected result

Pod should run.

# Actual result

Fails to start:

[code]

# Further information

Kubernetes: 1.20.5

[2021-06-11 06:51] pohly commented on #2002
Where is that script when using kata-deploy?

[2021-06-11 07:08] pohly opened #2005 "quickstart for kata-deploy"
# Description of problem

The https://github.com/kata-containers/kata-containers/releases/tag/2.1.0 release notes mention "improvements to kata-deploy, which is the preferred way of deploying the project". I used kata-deploy in the past, but now had problems finding it again.

When searching for kata-deploy with Google, the first hit is the obsolete
packaging/kata-deploy repo.

The next hit is the

[2021-06-11 07:18] pohly opened #2006 "io.katacontainers.config.hypervisor.memory_offset: must be larger than 32 bit"
**Which feature do you think can be improved?**

Kata Containers and PMEM-CSI can be used together to make PMEM volumes available inside a container (https://intel.github.io/pmem-csi/0.9/docs/design.html#kata-containers-support). It's currently broken (https://github.com/intel/pmem-csi/issues/987) but that'll get addressed.

**How can it be improved?**

`io.katacontainers.config.hypervisor.memory_

[2021-06-11 07:51] houfangdong opened #2008 "tokio need rust version at least 1.45"
# Description of problem
use rust1.41 to compile the agent

# Expected result
the agent can be successfully compiled

# Actual result
Compilation failed, see:[#3849](https://github.com/tokio-rs/tokio/issues/3849)
# Further information

The rust library tokio used by the agent has a requirement
 of at least 1.45 for the rust version

[2021-06-11 08:26] LiangZhou9527 opened #2010 "Guest OS shell cannot be used via kata-runtime exec"
Hi there,

I want to use kata-monitor and kata-runtime exec to enter into guestOS , yes I can enter into guestOS bash but the bash cannot be used, as the logs below.
[code]
Anything I missed?

I attached the full log from kata-collect-data.sh.

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.1.0-rc0 (commit 51ac

[2021-06-11 09:56] bpradipt commented on #1996
Makes sense. We need to do some work on our side to make the CI runs stable on ppc64le.

[2021-06-11 10:54] santhoshcameo opened #2011 "Unable to run any pods in kubernetes using Kata Runtime."
Dear All,

It's been two week  😢  since I am trying to configure Kata with Kubernetes in a single node cluster…

- Installed kubernetes and its working as expected for normal deployment files such as nginx etc.
- Installed containerd and its working as expected and serving runtime for kubernetes
- Installed Kata and all the Kata version check and env are working as expected

`sudo ctr run --runtim

[2021-06-11 11:31] fidencio opened #2012 "runtime: Update go.mod dependencies"
Let's update go.mod dependencies, in order check whether it's the reason of the breakage of the CI on the tests side.

[2021-06-11 11:38] fidencio commented on #2011
@santhoshcameo, your configuration puzzles me a little bit.

[code]
This is not supported anymore, see: http://lists.katacontainers.io/pipermail/kata-dev/2021-May/001896.html

Then you say you try to run kata-containers shimv2:
[code]

But your configuration files is clearly pointing to kata-runtime:
[code]

Have you tried following
https://github.com/kata-containers/kata-containers/blob/main/docs

[2021-06-11 13:08] devimc commented on #1991
we don't need that check anymore :smile:

[2021-06-11 13:16] devimc commented on #2002
I'll be working on this

[2021-06-11 13:16] devimc commented on #2006
working on this

[2021-06-11 13:40] skaegi opened #2014 "docker:dind reports ... cannot find cgroup mount destination: unknown."
We're in the process of moving from kata 1.12.1 to 2.1. We noticed a change in behavior when we launch docker:dind.

[code]
This is actually easy to workaround but at least wanted to report the issue...
[code]

[2021-06-11 13:43] skaegi commented on #2014
Here's the pod recipe I was using...
[code]
  I ran ...
[code]

[2021-06-11 13:59] devimc commented on #2002
Closing issues, since this is expected and documented here https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-set-sandbox-config-kata.md#restricted-annotations

hence, `memory_offset` must be added to `enable_annotations` in the configuration file

[2021-06-11 13:59] #2002 closed

[2021-06-11 14:01] fidencio commented on #2014
@skaegi, mind to share your kata configuration file?

I **think** setting `sandbox_cgroup_only=true` would be enough to solve the issue.

[2021-06-11 14:23] #1994 closed

[2021-06-11 14:25] skaegi commented on #2014
That was using the out of the box settings for kata-deploy. So... am using `sandbox_cgroup_only=false`. FWIW this is what we were using with Kata 1.12.1 too.

I just tried re-launching with `sandbox_cgroup_only=true` ... but same result.

[2021-06-11 17:16] pohly commented on #2002
And how can I do that when using kata-deploy?

If that is not possible, can we reopen and make this a feature request for kata-deploy?

[2021-06-11 17:22] pohly commented on #2002
https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/how-to-set-sandbox-config-kata.md#restricted-annotations mentions adding `enable_annotations` in "the configuration file" - which configuration file is that?

[2021-06-11 17:25] pohly commented on #2002
@devimc can you provide an example config snippet? It's not clear to me from the documentation.

[2021-06-11 18:03] davidhay1969 commented on #2010
Sorry for jumping in here @LiangZhou9527 but it may be worth double-checking which image you're using as, I believe, you *may* be using the [Clear Linux](https://clearlinux.org/downloads) image, which is pretty lightweight and, perhaps, doesn't have all the required commands.

You can check which image you're using via `kata-exec env | grep .img` as per this example: -

`kata-runtime env | grep .i

[2021-06-11 18:12] pohly commented on #2002
I've found `/opt/kata/share/defaults/kata-containers/configuration-qemu.toml`.

I now have there:
[code]

Is that correct?

[2021-06-11 18:50] santhoshcameo commented on #2011
@fidencio  thank you for your response.

I have updated the kata version using snap

[code]

[code]

[code]

[code]

[code]

Please help @fidencio

[2021-06-11 19:17] devimc commented on #2002
@pohly yes, that's correct

[2021-06-11 20:04] GabyCT commented on #1996
@bpradipt changes applied to power ci, to trigger it use `/test-power`

[2021-06-11 20:05] GabyCT commented on #1996
and for the sev-amd CI , `/test-amd`

[2021-06-11 20:06] GabyCT commented on #1996
As these CIs will not longer be triggered in each PR, I will close this issue

[2021-06-11 20:06] #1996 closed

[2021-06-11 20:11] #1992 closed

[2021-06-11 20:13] pohly opened #2018 "tearing down a container with PMEM volume fails"
# Description of problem

This occurs with PMEM-CSI. At this point, a locally built PMEM-CSI with a fix for regression https://github.com/intel/pmem-csi/issues/987 is needed. With that version and support for annotations enabled (see https://github.com/kata-containers/kata-containers/issues/2002), the deploy/common/pmem-kata-app.yaml example pod can be started on the QEMU cluster, but stopping the

[2021-06-11 20:57] GabyCT opened #2019 "remove old links to readme documentaion"

[2021-06-11 22:34] #1831 closed

[2021-06-12 07:38] davidhay1969 commented on #2011
Hey @santhoshcameo apologies for jumping in here, but I *think* your `containerd` configuration - `/etc/containerd/config.toml` - may be missing something wrt Kata.

This is what I have: -

[code]

Note the Kata-specific element: -

[code]

which I didn't see in the TOML that you posted earlier.

Also, you can double-check the Kata configuration using `kata-runtime check` and `kata-runtime env`

I

[2021-06-12 09:26] santhoshcameo commented on #2011
Hi @davidhay1969  I have updatey my conf.toml file and tested, and still the issue exists. I have already added Kata Env file and Runtime check file as you mentioned. Plesae help

[2021-06-12 09:26] santhoshcameo commented on #2011
Hi @davidhay1969  I have updated my conf.toml file and tested, and still the issue exists. I have already added Kata Env file and the Runtime check file as you mentioned. Please help

[2021-06-12 14:56] #1869 closed

[2021-06-12 20:31] davidhay1969 commented on #2011
Hey @santhoshcameo hmmm, interesting.

So, for me, I can run a container using Kata 2 as follows: -

`ctr run --rm --tty --runtime io.containerd.kata.v2 docker.io/library/ubuntu:latest ubuntu`

which ties up with what I have in `/etc/containerd/config.toml` namely: -

[code]

Please can you share your TOML file, now that you've edited it to reflect Kata 2 ?

[2021-06-13 04:29] davidhay1969 commented on #2011
Also, if you're running `containerd` via `systemctl`, what do the logs show e.g. `systemctl status containerd` ?

And what version of `containerd` are you running - `containerd --version` ?

[2021-06-13 08:02] davidhay1969 commented on #2011
Also, you can dump out the `containerd` config using `containerd config dump > /tmp/foo.yaml` to validate the runtimes etc.

[code]

[2021-06-13 15:57] #1970 closed

[2021-06-14 07:39] santhoshcameo commented on #2011
@davidhay1969  **Thank you so much for helping out again, please find my conf.toml file**

[code]
**Containerd Verison and Status is below**

[code]

[code]

**and containerd config dump is**

santhosh_cameo@san-test-fin:~$ containerd config dump > /tmp/foo.yaml

[code]

[2021-06-14 08:39] jodh-intel opened #2022 "Remove table of contents from all docs"
Remove tables of contents (TOCs) from all markdown docs.

Manually mantaining TOCs has also caused a lot of grief over the years. We have a [tool](https://github.com/kata-containers/tests/tree/main/cmd/check-markdown) that can check markdown and generate TOCs but its all too easy to forget to run it. It's also not very easy to programatically verify that the TOC added to a new document is correct.

[2021-06-14 09:05] littlejawa opened #2024 "Backport 1832 to stable-2.1"
The unit test for ioCopy() should be backported to the stable-2.1 branch.

See #1832

[2021-06-14 10:38] davidhay1969 commented on #2011
Hey @santhoshcameo thanks for sharing the above - it looks pretty similar to my own configuration.

So, with the most recent configuration, what happens when you try and start a container using the Kata 2 runtime ?

`ctr run --rm --tty --runtime io.containerd.kata.v2 docker.io/library/ubuntu:latest ubuntu`

?

And, when you run that, what, if anything, do you see via `systemctl status containerd`

[2021-06-14 12:48] santhoshcameo commented on #2011
@davidhay1969  Please find the log below. I tried to run a normal ngix deployment and it went well...but when tried with  Kata i could see the below logs.

[code]

[code]

[2021-06-14 13:17] Jakob-Naucke opened #2026 "s390x: virtio-blk-ccw is missing from agent"
Support for `virtio-blk-ccw`, the virtio-blk driver on s390x, has not yet been ported to the v2 agent. PR is prepared.

[2021-06-14 14:02] santhoshcameo commented on #2011
@davidhay1969  thanks for helping me. By default containerd is running without any issues and I can run normal Nginx pods in my Kubernetes as well.

but when I run below commands containerd is crashing..both logs are attached.

[code]

**and containerd logs after running above commands.**

[code]

[2021-06-14 14:56] Jakob-Naucke commented on #1412
So I've had the opportunity to play with virtio-balloon a little.
However, that uncovered another misunderstanding I had about Kata's inner workings:
The memory hotplugging is not to limit memory, but to ensure that there is enough memory (https://github.com/kata-containers/runtime/pull/786), which isn't really a problem that ballooning solves.
AFAIU now, the way that limits are enforced are [cgro

[2021-06-14 15:10] davidhay1969 commented on #2011
Hey @santhoshcameo so I've not run Kata via `snap`, but, given the exception that you're seeing: -

[code]

I wonder whether part of the problem is the location of the sandbox image - `kata-containers.img` - which appears to be located here: -

[code]

Looking at [Configure Kata Containers](https://github.com/kata-containers/kata-containers/blob/main/docs/install/snap-installation-guide.md#configu

[2021-06-14 15:37] #2019 closed

[2021-06-14 16:18] davidhay1969 commented on #2011
Hey @santhoshcameo using a different VM ( running locally on my Mac ), I **think** I've reproduced your problem: -

`ctr run --detach --runtime io.containerd.kata.v2 docker.io/library/ubuntu:latest ubuntu`

[code]

I'll now test my suggested mitigation ....

[2021-06-14 17:30] davidhay1969 commented on #2011
Hey @santhoshcameo so, as I thought, the problem is that the `.img` file is located in a read-only file-system.

I tested this by following the steps outlined in [Configure Kata Containers](https://github.com/kata-containers/kata-containers/blob/main/docs/install/snap-installation-guide.md#configure-kata-containers) which enabled me to relocate and update the Kata configuration file: -

`sudo mkdi

[2021-06-14 17:57] devimc commented on #2011
: unknown

[this patch](https://github.com/kata-containers/kata-containers/blob/main/tools/packaging/qemu/patches/5.0.x/0002-memory-backend-file-nvdimm-support-read-only-files-a.patch) was not ported to QEMU 5.1.x and 5.2.x, I wonder why? :thinking:  cc @wainersm

qemu-system-x86_64: ../target/i386/kvm.c:2701: kvm_buf_set_msrs: Assertion `ret == cpu->kvm_msr_buf->nmsrs' failed.
: unknown

This is

[2021-06-14 18:39] cmaf commented on #1162
@bporter816, if we can pass the loggers in for now, let's do that so we can preserve some logging information from the calling function

[2021-06-14 19:13] GabyCT opened #2029 "docs: remove docker support with sysctls with kata"

[2021-06-14 19:47] GabyCT opened #2031 "docs: Update url for breaking compatiblity for kata 2.x"

[2021-06-14 21:22] #2029 closed

[2021-06-14 21:40] #2031 closed

[2021-06-15 02:10] Apokleos commented on #1991
Thanks @devimc , I want to confirm that the method `func (clh *cloudHypervisor) getAvailableVersion() error {...}` will be removed in future, or somthing else?

[2021-06-15 03:35] Tim-Zhang opened #2035 "epoll_fd was leaked to the child process"
[code]

This is caused by mio lib, this is the fix: https://github.com/tokio-rs/mio/pull/1491
This is the issue link of tokio: https://github.com/tokio-rs/tokio/issues/3809

[2021-06-15 07:13] #1989 closed

[2021-06-15 07:33] #2035 closed

[2021-06-15 08:55] santhoshcameo commented on #2011
@davidhay1969  thanks a million David for patiently helping me and recreating these issues and explaining the solution. It worked well. **But the main issue (the first message in this thread ) still there**. The simple `nginx pods  pod with kata run time is not running.` To solve that issue I tried to install Kata via snap, hence` the unable to read /snap/kata-containers/719/usr/share/kata-contain

[2021-06-15 10:06] c3d opened #2036 "Message "is not exist" does not match test suite"
The test "Create container with non-existent command" of the CRI-O integration tests is failing, because it expects "not found" in the error message, but we emit "is not exist".

[2021-06-15 10:06] #2008 closed

[2021-06-15 10:22] Amulyam24 opened #2038 "ppc64le: add test for appendProtectionDevice"
Currently test for `appendProtectionDevice()` is not added.

[2021-06-15 14:41] wainersm commented on #2011
@devimc FYI, I will prepare a PR today to include the missing patches on QEMU 5.2.0 build.

[2021-06-15 15:22] jodh-intel commented on #2010
Hi @LiangZhou9527 - @davidhay1969 is correct.

# Image type

If you click on the triangle to expand "Show kata-collect-data.sh details", then click "Image details", we see the metadata stored inside the rootfs image you're using:

[code]

That shows you're using the default Clear Linux image, which is highly optimised for speed and size. The downside is that ebyou won't find all the expected tooli

[2021-06-15 17:21] santhoshcameo commented on #2011
@devimc @davidhay1969  Thanks for helping out. As @devimc  mentioned the containerd-shim-kata-v2 is already in path and attached the /etc/containerd/config.toml part again for your review.

created symlink as mentioned [here](https://github.com/kata-containers/kata-containers/blob/main/docs/install/snap-installation-guide.md#integration-with-shim-v2-container-engines)
[code]
**/etc/containerd/conf

[2021-06-15 17:36] likebreath commented on #1991
@devimc Thanks for sharing your thoughts. It makes sense to me that the version check was in place when clh was not "stable" (API wise).

If there is no objections, I will send a PR to remove the version check from the CLH driver (`clh.go`) in Kata. @jcvenegas
@jodh-intel  @chavafg @amshinde @egernst

[2021-06-15 17:42] davidhay1969 commented on #2011
@santhoshcameo just to check, what version of `containerd-shim-kata-v2` do you have ?

This is what I have, purely as an example: -

[code]

[code]

`containerd-shim-kata-v2 --version`

[code]

which ties up with the Kata Runtime itself: -

`kata-runtime --version`

[code]

What do you see for each of those two binaries ?

[2021-06-15 18:12] devimc opened #2042 "TestIoCopy is failing randonly in the CI"
[code]

see https://github.com/kata-containers/kata-containers/pull/2041/checks?check_run_id=2831897753

cc @littlejawa

[2021-06-15 18:14] devimc opened #2043 "Skip TestIoCopy"
TestIoCopy is failing randonly, let's skip it until we have a fix, see https://github.com/kata-containers/kata-containers/issues/2042

cc @littlejawa

[2021-06-15 18:23] devimc commented on #2011
@santhoshcameo  maybe your `PATH` is not configured correctly, please try creating a symlink to `containerd-shim-kata-v2` in `/usr/bin/`

[2021-06-15 21:37] fidencio commented on #1412
No objections at all, thanks for digging into this!

[2021-06-15 23:19] #2038 closed

[2021-06-16 01:56] LiangZhou9527 commented on #2010
Thank you @davidhay1969 and @jodh-intel for your information, I'll try later and get back then.

[2021-06-16 06:59] #2043 closed

[2021-06-16 08:48] fidencio opened #2045 "RFE | Move virtiofsd logs to its own log files"
**Which feature do you think can be improved?**

Currently, virtiofsd logs are going to the journal due to:
https://github.com/kata-containers/kata-containers/blob/fb318532b90c0fa81725403af79e1cf25ac34263/src/runtime/virtcontainers/virtiofsd.go#L158-L159

Turns out that those are quite verbose logs that can pollute the journal, and that systemd heavily throttles the journal, making logging to the

[2021-06-16 09:30] santhoshcameo commented on #2011
Thank you @davidhay1969  and @devimc for looking into this issue, I am not sure what's wrong. Everything looks normal to me, but except the simple kube8s pods rest everything works. I have attached the asked information @davidhay1969 .
@devimc  I have added the symlink too.

[code]

**Once again attaching pod logs**

[code]

Please help

[2021-06-16 09:41] littlejawa commented on #2042
@devimc - thanks for raising this.
I've just run the proposed fix in a loop, and didn't cause the problem anymore (running it 30+ times).
Before that, I was seeing it about 1 out of 5 tries.

[2021-06-16 09:46] jodh-intel commented on #2011
@santhoshcameo - something else to try is to pare everything back to basics:

First, [enable full Kata debug](https://github.com/kata-containers/kata-containers/blob/main/docs/Developer-Guide.md#enable-full-debug).

Then, use a minimal containerd environment with debug-level logging:

[code]

Here, you could either restart the `containerd` service, or just run it manually:

[code]

Then in another

[2021-06-16 10:34] liubin opened #2048 "Logrus field value should be function call but not function name"
Here line 230:

https://github.com/kata-containers/kata-containers/blob/fb318532b90c0fa81725403af79e1cf25ac34263/src/runtime/virtcontainers/qemu_amd64.go#L226-L231

`kernelParameters` is a function, but not a struct field, to print the right value, here should be the function call.

[2021-06-16 12:09] devimc commented on #2011
@santhoshcameo

are you sure that the CRI runtime is containerd (not crio)?

did you restart containerd service (`sudo systemctl restart containerd`) after editing its configuration file?

[2021-06-16 13:29] jodh-intel commented on #1991
Thanks @likebreath!

[2021-06-16 14:10] #2006 closed

[2021-06-16 17:32] wainersm opened #2052 "Snap CI: Failing to build the agent"
The commit 45fd58d11cc4e74a703ea8 broke the Snap CI.

Actually it uncovers a problem that has been around for a while now, which is the osbuilder will try to `git checkout $AGENT_VERSION` if `AGENT_VERSION` is set. That operation used to raise just a warn in case of failure, now it will exit the script. The snap CI sets `AGENT_VERSION` to the value from `VERSION` file, so the osbuilder tries to ch

[2021-06-16 18:12] santhoshcameo commented on #2011
@devimc I think I  am using containerd and just attached the node description for your review. Here under system info I could see it is  **Container Runtime Version:  containerd://1.3.7**.

and yes **sudo systemctl restart containerd** ran every time whenever making any changes.

[code]

[2021-06-16 18:21] santhoshcameo commented on #2011
@jodh-intel  thanks for coming to help me, on a side note the below command works as usual. It can pick up the kata run time

Or by running the below command in debug mode will help us to solve Kubernetes issue as well?

[code]

[2021-06-16 19:02] devimc commented on #2011
@santhoshcameo I'm running out of ideas, try the following:

[code]

[2021-06-16 19:04] evanfoster opened #2053 "Add support for host-created EmptyDir"
This is a recreation of [this issue](https://github.com/kata-containers/runtime/issues/2518) raised against Kata 1.X. A PR will be inbound shortly.

**Is your feature request related to a problem? Please describe.**

Kubernetes EmptyDirs are sometimes used as a way to share data from the host to a guest. The work done in https://github.com/kata-containers/runtime/pull/1485 drastically improved per

[2021-06-16 20:01] davidhay1969 commented on #2011
@santhoshcameo it may be an irrelevance, but it's interesting that your Compute Node reports: -

[code]

which differs with the version of `containerd` that you said that you were running, namely: -

`containerd --version`

[code]

Comparing this with my own setup, I also have version `1.4.4-0` : -

`containerd --version`

[code]

**BUT** my Control Plane and Compute Nodes both report as : -

[cod

[2021-06-16 20:14] davidhay1969 commented on #2011
Dumb question, but have you ever run `systemctl daemon-reload` before running `systemctl restart containerd`, since you've made various changes to your cluster ?

It's probably an irrelevance but 🤷‍♀️

[2021-06-16 20:41] #2052 closed

[2021-06-16 22:14] evanfoster commented on #2053
Apologies, testing this change is taking a bit longer than expected. I'll have a PR in tomorrow.

[2021-06-16 23:49] wainersm commented on #2011
Reopening, the fix above is for just problem found along the way.

[2021-06-17 00:16] eadamsintel commented on #2005
I would also add on to this issue that the Docker hub description still refers to trusted and untrusted which is an old  way of doing things for containerd.

Also, and this might deserve its own issue, the `kata-deploy:latest` tag points to a 1.12 image and is 7 months old. If you use `kata-deploy.yaml` as is unmodified it will install an unsupported Kata 1.12 image. You have to actually edit the

[2021-06-17 02:34] #1962 closed

[2021-06-17 02:53] #2048 closed

[2021-06-17 06:57] fidencio commented on #2005
I'm taking this one and will work on making it more visible and updating the tags.

I don't have access to the dockerhub repo, though, and I may need help from someone who has in order to access it.
@chavafg, maybe you can help me here?

[2021-06-17 08:53] #1999 closed

[2021-06-17 09:58] pohly commented on #2005
So now it is the opposite of what I pointed out when I first used kata-deploy.yaml: at that time, checking out a certain release of "packaging" always installed the latest version instead of the one that was checked out. I think I filed an issue at that time to always ensure that the YAML file gets updated for the tagged release.

This is now a bit harder: you first have to update the YAML file on

[2021-06-17 10:05] fidencio commented on #2005
I ended up doing that a few months ago in order to ensure a released version would always point to the released content.
However, it caused such issues with folks consuming content from `main`.  We even have an issue open for that, but I never got to actually work on it.

Yep, we're currently updating that as part of the release scripts, but well, not optimal indeed.

[2021-06-17 10:12] stevenhorsman opened #2054 "CI pipeline is using an incorrect version of containerd"
# Description of problem

I found this running part of the CI pipeline locally, but it can be seen in a Jenkins jobs [(I just picked one as an example)](http://jenkins.katacontainers.io/job/kata-containers-2.0-ubuntu-20.04-PR/248/consoleFull)

[versions.yaml](https://github.com/kata-containers/kata-containers/blob/main/versions.yaml) has a cri-containerd section of:
[code]

showing that the versio

[2021-06-17 10:14] pohly commented on #2005
You could revert to "latest" after tagging or do all releases on a branch. In PMEM-CSI, we branch.

But either way, the underlying question is who you annoy more: actual users who should be using only stable releases, or developers who want "main" + latest.

My opinion is that users should be more important. Life for them should be as easy as possible to avoid mistakes without having to read many

[2021-06-17 10:18] fidencio commented on #2005
Yep, I'll try to get access to the dockerhub later Today and solve the issue with latest pointing to 1.x.

Another crazy idea we had in the past was to always generate a kata-deploy for testing / development versions after each merged PR, and maybe even use that to test things, only changing the bits that changed on each PR.  But that's a material for future future.

[2021-06-17 12:23] Jakob-Naucke commented on #1902
![image](https://user-images.githubusercontent.com/42409106/122395603-70797d00-cf77-11eb-8faf-119970c3a3a9.png)
@jodh-intel if it's supposed to look like that, then it's working. (This is on s390x.)

[2021-06-17 15:17] stevenhorsman commented on #2054
It looks like since I've been working on this issue one has been raised that does an update of similar code: https://github.com/kata-containers/tests/issues/3630. It looks like containerd is going to be bumped to version 1.5.0 as a dependency, so that might supercede my work?

[2021-06-17 15:23] jodh-intel commented on #1902
Thanks @Jakob-Naucke! That certainly proves you're seeing trace spans from the agent. The "shape" / hierarchy is known to not currently be correct. However, you might want to either wait a little, or try testing https://github.com/kata-containers/kata-containers/pull/1969 which improves the situation significantly.

[2021-06-17 15:59] eadamsintel commented on #2005
This is following on to what @pohly said but how hard would it be so that `main` always had `kata-deploy:latest` in the yaml file but every single tag of the repo replaced the `latest` with the tagged version?  If you checked out 2.0.1 of that kata-deploy yaml file then the container image in it would be `kata-deploy:2.0.1`?  That then follows GitHub tags and makes the most sense. People who consu

[2021-06-17 16:07] fidencio commented on #2005
@eadamsintel, for instance, this is what we have as part of the stable-2.1 branch:
https://github.com/kata-containers/kata-containers/blob/stable-2.1/tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml

[2021-06-17 16:10] eadamsintel commented on #2005
Ah thanks.  That must have changed at some point in the past that I never noticed.  That is really useful.

[2021-06-17 16:12] fidencio commented on #2005
This was part of https://github.com/kata-containers/kata-containers/issues/1665, fixed by https://github.com/kata-containers/kata-containers/pull/1667

But the other points are still super valid and must be addressed.

[2021-06-18 08:07] liubin opened #2059 "Delete some lint attributes"
These attributes is not needed:

- `#[allow(unused_macros)]`
- `#[allow(unused_assignments)]`
- `#[allow(dead_code)]`

[2021-06-18 08:39] jodh-intel opened #2061 "Add tracing proposals document"
Collect the proposals on PR #1937 and convert them into a design proposal document PR.

[2021-06-18 09:45] ManaSugi opened #2064 "runtime: Format golang proto code"
**Which feature do you think can be improved?**

Existing golang proto files such as `agent.pb.go` are not formatted like below.

[code]

However, the generated code by `protoc-gen-gogo` is always formatted like below.

[code]

**How can it be improved?**

It is better to adopt the generated code by default.

**Additional Information**

Nothing

[2021-06-18 10:06] stevenhorsman commented on #2054
Based on the new pushes to https://github.com/kata-containers/tests/pull/3629 it looks like the changes in my fix have now been done there as well, so I guess I'll close this issue

[2021-06-18 10:06] #2054 closed

[2021-06-18 10:18] c3d commented on #2053
@evanfoster Since there is a trade-off that, IMO, depends more on the workload than on the location, have you considered also adding an annotation to configure `disable_host_empty_dir`? That way, you could disable it for a specific workload rather than fro all workloads on a node. It would also be more user friendly, since it would not require deploying a configuration file to all nodes (which req

[2021-06-18 14:43] Jakob-Naucke opened #2067 "Support Podman in QEMU build"
to enable a Podman-based toolchain, e.g. for importing images for CRI-O.

[2021-06-18 16:50] GabyCT opened #2069 "update the url for kata installation guides at runtime readme"

[2021-06-18 18:13] RobertKrawitz opened #2071 "Kata VM with a CPU request >1 does not receive appropriate number of vCPUs if limit not set"
# Description of problem

Created a Kata container (in an OpenShift 4.7 pod) with a CPU resource request of 4 cores and no limit specified.  The VM had only one vCPU assigned.  If I set a resource limit of 4 cores in addition to the resource request, I get the requisite number of vCPUs.

# Expected result

Receive a Kata container with a VM suitable for running a container requesting 4 cores (pres

[2021-06-18 18:14] RobertKrawitz commented on #2071
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.1.0 (commit fa7b9408555e863d0f36f7d0640134069b0c70c8)` at `2021-06-18.17:55:54.878930159+0000`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>/bin/kata-runtime kata-env</tt></summary>
<p>

[cod

[2021-06-18 18:14] RobertKrawitz commented on #2071
@c3d

[2021-06-18 18:48] GabyCT opened #2072 "update kata-deploy urls for minikube documentation"

[2021-06-18 18:58] devimc commented on #2071
can I see the yaml ?

[2021-06-18 19:04] RobertKrawitz commented on #2071
[code]

[2021-06-18 19:21] RobertKrawitz commented on #2071
Note that if I set a CPU limit of 4, I get the necessary CPUs.  This was present in Kata 1.1 also.

[2021-06-18 20:22] devimc commented on #2071
@RobertKrawitz

this is expected, take a look to the `config.json` file generated by kubernetes/openshift (i.e `/run/containerd/io.containerd.runtime.v2.task/k8s.io/e97be4223395b7f94a31d71015ad399e1edb12fac28b72d6d34d34bff58b4bb5/config.json`) and you will see that there is no quota and period is `100000`, the runtime can't calculate the amount of vcpus with that information.

According to [this](

[2021-06-18 21:41] RobertKrawitz commented on #2071
As a user, this is not what I expect -- I request 4 CPU resources, I expect to receive a guaranteed 4 with the ability to burst above it (unless CPU is overcommitted), but no guarantee that I'll be able to burst.  From https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/:

If there's a limitation in the runtime protocol such that the runtime can't work out how many vCPUs

[2021-06-18 22:53] bporter816 commented on #1162
@cmaf @jodh-intel
Should the goal here be to completely remove any case in which opentelemetry is being imported outside of the tracing package? Wondering about this since there are many cases where a trace span is created, then after that call, dynamic data is passed in with additional tags, resulting in the need to import and use the `label` package to declare the tags - example in https://githu

[2021-06-19 09:17] santhoshcameo commented on #2011
**Finally The issue is solved**  Managed to run Kata runtime in a single kub8s cluster. Thank you so much @fidencio @devimc
 @jodh-intel  for your invaluable time and  getting in and helping with suggestions

The issue was **_microk8s was coming with a default containerd_** which is located at `/var/snap/microk8s/2264/args/containerd.toml `. But I have installed a containerd seperately using `sudo

[2021-06-20 08:33] davidhay1969 commented on #2011
Hey @santhoshcameo yay, that's awesome news, glad you found a successful resolution - it does show how version "creep" can often get in the way, when trying to resolve thorny problems such as this. Great news 👍 🥂

[2021-06-20 12:06] Bryce-huang commented on #28
Is there a way to solve this problem？

[2021-06-20 20:09] #2011 closed

[2021-06-21 06:30] cmaf commented on #1162
It would be nice but not necessary for now IMO; the goal is to reuse `Trace()`

It would be great to add a function like that! If you have time, please do. Otherwise I or someone else can add this later.

Yeah we'll need to update the OpenTelemetry version & import path and having to update it in fewer places is preferable (but not strictly necessary for this issue).

/cc @jodh-intel @liubin

[2021-06-21 09:47] c3d opened #2074 "Update protobuf to 1.3.2"
SourceClear scan of the source code on branch `main` exposed the following:

Vulnerabilities - Public Data
CVE-2021-3121                                  High Risk       Insecure Validation           github.com/gogo/protobuf v1.3.1

Reported-by: Przemyslaw Roguski <proguski@redhat.com>

We should update prototbuf to 1.3.2

[2021-06-21 13:23] devimc commented on #28
may be using the [release tarball](https://github.com/kata-containers/kata-containers/releases) ...

[2021-06-21 13:30] devimc commented on #2071
:thinking: ... I don't consider this as a limitation, since the runtime can't figure out the amount of CPU requested with the information received (`config.json`), `cpu request` is kubernetes/openshift specific and I think it's your responsibility as final user to guarantee that the VM has the amount of CPU requested and you can do this through annotations or configuration file, mind documenting t

[2021-06-21 14:32] fidencio commented on #2071
@devimc, sorry, just checking it know and I see that CRI-O has access to such values via the io.kubernetes.cri-o.Annotations, which looks like:
[code]

I wonder if we can't have something similar on containerd and start taking advantage of those to support @RobertKrawitz's request.

@devimc, WDYT? Am I still missing something?

[2021-06-21 14:52] devimc commented on #2071
right, we don't have such information with containerd

sure we can implement this, but this solution will be very specific (kubernetes with cri-o)

[2021-06-21 14:54] fidencio commented on #2071
Wait, wait, I'm not proposing to make i work with k8s + CRI-O only, that's not the case.

What I'm saying is that we should consider opening an issue against containerd, maybe having this as a standard annotation passed down to the runtime, and then come up with a solution that benefit both CRI runtimes (as a very first step, and the, maybe, move it one layer up and make it official.

[2021-06-21 14:57] devimc commented on #2071
okay, it sounds good :sweat_smile:

[2021-06-21 16:37] #2069 closed

[2021-06-21 16:41] davidhay1969 opened #2075 "Debug console documentation inconsistent or incorrect"
# Description of problem

Running: -

- `kata-runtime` `2.1.1`
- `qemu-system-x86_64` `5.2.0`
- `containerd` `1.4.4-0ubuntu1~20.04.2`

I'm trying and failing to consistently see output / diag from the `kata-agent` running inside the pod sandbox / guest VM.

I'm following the guidance in the [Developer Guide](https://github.com/kata-containers/kata-containers/blob/main/docs/Developer-Guide.md#set-u

[2021-06-21 16:58] evanfoster commented on #2053
Hey @c3d,

I had attempted to add an annotation previously, but I was unable to figure out a way to do that cleanly. The annotation data wasn't available when setting up the pod sandbox in Kata 1.x, and the volumes were already set up by the time the data was present. I'll take another look now, since it appears that there's been some architectural changes in `containerd-shim-v2/create.go`.

[2021-06-21 19:13] #2072 closed

[2021-06-21 20:25] inahga commented on #1971
Hello! We're affected by the same issue--`containerd v1.5.2` not working with `stable-2.1`.

Fortunately it looks like https://github.com/kata-containers/kata-containers/pull/2040 solves the issue. I dropped in `containerd-shim-kata-v2` patched with https://github.com/kata-containers/kata-containers/pull/2040 and it brought the Kata pods back to life.

Any chance of this fix being backported to `s

[2021-06-22 02:35] lifupan commented on #1971
@inahga

I'm still working on the CI, since the upgrading containerd vendor would break the CI  too. Once the CI worked, we'll merge it into main branch first. But for the backport, we would have a carefully evaluation: since it would break the compatibility with the older containerd.  Hi @fidencio,  once we upgraded the containerd vendor, it would only work with the containerd 1.5.x, so would we

[2021-06-22 09:06] davidhay1969 commented on #2075
As above, have raised [PR 2077](https://github.com/kata-containers/kata-containers/pull/2077) to cover the typo issues in the Developer Guide

[2021-06-22 13:26] inahga commented on #1971
Ah--I didn't realize it would break compatibility that far back. In that case I can't reasonably expect a backport, so no worries! We can build the shim from main branch.

[2021-06-22 13:47] focus-zhaos opened #2079 "Fixed 3 errors which misused the bracket to substitute parameter"
`${parameter}`: The braces are required when parameter is substituted.
`$(command) `: “command substitution”.

one of the process for initrd image creation at the developer guide
`$ sudo install -o root -g root -m 0550 -T ../../../src/agent/target/$(ARCH)-unknown-linux-$(LIBC)/release/kata-agent ${ROOTFS_DIR}/sbin/init`

`$(ARCH)` and `$(LIBC) `**misused** parentheses to substitute parameter.

[2021-06-22 13:50] fidencio commented on #1971
This is quite intrusive. :-).
I'd say we use it only for main and have a huge release note about this.  I'm trying to figure out what we need to fix on the CRI-O side to unblock the CI, but we plan to have this one fixed ASAP.

[2021-06-22 14:06] #2018 closed

[2021-06-22 14:07] ariel-adam commented on #1983
@kraxel could you provide more information on what exactly needs to be done here?

[2021-06-22 14:12] ariel-adam commented on #1985
@haircommander were you able to create the 1.21 package?

[2021-06-22 14:19] c3d commented on #1986
@egernst At present, the [documentation](https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/privileged.md#host-devices) does not give examples (not even a suggestion) that the `/dev/` entries need to be manually passed in that case.

We provide a number of configuration files, but we should also provide a k8s yaml file showing what to do in that case, no?

[2021-06-22 14:22] haircommander commented on #1985
oh darn I dropped that ball

[2021-06-22 14:23] ariel-adam commented on #2010
Closing this issue for now since this relates to the image distro and not to kata.
@LiangZhou9527 feel free to open it again if you believe it's still an issue with kata.

[2021-06-22 14:23] #2010 closed

[2021-06-22 14:30] c3d commented on #2014
@skaegi Can you please confirm that the commands you shared were run from within the guest?

[2021-06-22 14:31] c3d commented on #2014
@skaegi Could you run `kata-collect-data.sh`? I'm curious about the distro and kata config you are using, in order to reproduce.

[2021-06-22 17:11] wainersm commented on #1476
Hi @ManaSugi ,

I maintain a CI to test Kata Containers in OpenShift. I have investigated a k8s e2e test which has failed, it seems to be caused by the lack of seccomp support on Kata Containers. So, I would like to double-check this is still a work in progress (which seems so). Thanks!

[2021-06-23 02:00] #1953 closed

[2021-06-23 03:47] liubin opened #2082 "Many duplicate code in virtcontainers/pkg/oci/utils.go"
There are many `strconv.ParseBool()` or `strconv.ParseUint()` calls that using the same pattern, these can be improved by wrapping them in common functions.

[2021-06-23 06:33] kraxel commented on #1983
I'd recommend to simply use the qemu default (i.e. remove the kernel_irqchip option from the qemu command line).
Alternatively use "kernel_irqchip=split".

[2021-06-23 09:07] liubin opened #2085 "Machine type in generated configuration file should be q35"
Now the machine type is `pc`, it should b `q35`

[2021-06-23 10:21] Jakob-Naucke commented on #1902
Hierarchical traces also work (just tested for other reasons)

[2021-06-23 11:13] #2079 closed

[2021-06-23 11:25] lifupan opened #2087 "The wait goroutines would leak when start an exec failed"
After create an container/exec successfully, containerd
would wait it immediately, and if start it failed, there
is no chance to send value to exitCh, thus the wait goroutine
would blocked for ever and had no chance to exit.

Using the dlv tool to show clearly the wait goroutines increased as below:

ontainers/kata-containers/src/runtime/containerd-shim-v2.(*service).Wait (0x558c5506af69) [chan re

[2021-06-23 11:28] pohly opened #2088 "kata-deploy: allow setting memory_offset by default"
**Which feature do you think can be improved?**

When using PMEM-CSI volumes with Kata Containers, users have to configure the `memory_offset` (https://github.com/intel/pmem-csi/issues/987#issuecomment-864187971). Theoretically they can do that via a pod annotation, but currently that annotation is not enabled. This leads to:

[code]

**How can it be improved?**

kata-deploy should configure the c

[2021-06-23 11:32] pohly commented on #2088
`/opt/kata/share/defaults/kata-containers/configuration-qemu.toml` on each host must be changed so that it contains:
[code]

[2021-06-23 11:43] fidencio opened #2090 "kata-deploy: Evaluate which are the annotations that could be enabled by default"
Since we switched to 2.x, we have annotations disabled by default.  However, we should spend some time taking a look on which annotations could be abused and only block those, rather than disabling everything.

One example of one annotation that could be enabled by default was brought up by @pohly, as part of https://github.com/kata-containers/kata-containers/issues/2088

The list doesn't have to

[2021-06-23 11:44] fidencio commented on #2088
@pohly, do you submit the PR or would you prefer if I do?

Also, I've opened https://github.com/kata-containers/kata-containers/issues/2090 for a more extensive exercise of figuring out which are the annotations that could be enabled by default without any issue.

[2021-06-23 11:58] pohly commented on #2088
I currently don't have the time to create and test a PR, so please go ahead.

[2021-06-23 12:14] ManaSugi commented on #1476
Thank you for the comment @wainersm
Yes, this activity is in progress and I look forward to hearing from the maintainers.

[2021-06-23 12:26] #2085 closed

[2021-06-23 13:56] c3d commented on #2074
Also covered incidentally by #2040

[2021-06-23 14:55] Jakob-Naucke opened #2092 "Document LIBC=gnu for s390x"
yes, we/I should make this

[code]

but this doesn't make the PR less valid. LGTM!

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/kata-containers/pull/2080#pullrequestreview-690427920_

[2021-06-23 15:06] wainersm commented on #1476
@ManaSugi I wrote an e2e test to check the seccomp support implementation will work on Kubernetes. Sorry I did not look at your pull requests in detail so I don't know if you have a test case. If not, maybe you could incorporate that test on your pull request so we could verify the implementation on CI?

Here is the code: https://github.com/wainersm/kc-tests/tree/k8s_seccomp_test (commit https://g

[2021-06-23 15:17] GabyCT opened #2094 "update documentation requirements urls"

[2021-06-23 15:27] littlejawa opened #2096 "crio: exit time for the container is not initialized in container status"
Using Kata with cri-o, when running "crictl inspect [container id]" on a stopped container, the "FinishedAt" field is not set.
When using runc, the same field is properly filled.

This error was found while running the integration tests from cri-o.
Namely: ctr.bats file, test 6 "ctr lifecyle", checks the start and finish time for a container.
With Kata, the test fails when checking the finish time

[2021-06-23 15:44] littlejawa opened #2098 "stable-2.1: crio: exit time for the container is not initialized in container status"
Need to backport the fix for #2096

Using Kata with cri-o, when running "crictl inspect [container id]" on a stopped container, the "FinishedAt" field is not set.
When using runc, the same field is properly filled.

This error was found while running the integration tests from cri-o.
Namely: ctr.bats file, test 6 "ctr lifecyle", checks the start and finish time for a container.
With Kata, the test

[2021-06-23 16:11] #2094 closed

[2021-06-23 19:09] devimc opened #2101 "ci: check if kata works with golang 1.16.x"
update github actions

[2021-06-23 20:10] haircommander commented on #1985
fyi one can follow https://bugzilla.redhat.com/show_bug.cgi?id=1970050 to see the status of cri-o packaging (something happened and the cri-o package was retired from fedora, thus disallowing the update of cri-o in fedora)

[2021-06-23 20:53] #2096 closed

[2021-06-23 21:01] davidhay1969 commented on #2075
@GabyCT not sure that this should be closed, my PR was merely to fix a small number of typos. The main issue that I raised is still, in my view, outstanding i.e. the debugging console behaves inconsistently. Should we reopen this ?

[2021-06-23 21:04] fidencio commented on #2075
@davidhay1969, it was automatically closed because the PR was merged.  Let me re-open this one.

[2021-06-23 21:06] #2087 closed

[2021-06-23 23:52] eadamsintel opened #2103 "QAT driver versions in the Docs and Dockerfile needs updating"
The QAT driver version for the QAT [Dockerfile](https://github.com/kata-containers/kata-containers/blob/main/tools/osbuilder/dockerfiles/QAT/Dockerfile) is out of date.

[2021-06-24 05:44] Amulyam24 commented on #1900
Hi @jodh-intel , upon testing, I do see trace spans from the agent but not in proper hierarchy. Will try testing with #1969 and check.

[2021-06-24 06:08] #2092 closed

[2021-06-24 09:32] Jakob-Naucke opened #2106 "Configure kernel for s390x Secure Execution"
On more recent s390x systems, with `confidential_guest = true`, it's possible to run a Kata guest in a secure image encompassing kernel, initrd, and kernel parameters encrypted with the machine's host key (Secure Execution). However, this requires a guest kernel with `CONFIG_PROTECTED_VIRTUALIZATION_GUEST` enabled. PR is prepared.

[2021-06-24 09:41] #2103 closed

[2021-06-24 09:52] ManaSugi commented on #1476
@wainersm Thank you for creating the seccomp test on CI.
I do not have the test yet, so your test is very helpfull for me.
However, to enable the seccomp capability in the agent, we should install [`libseccomp` library](https://github.com/seccomp/libseccomp) on per architecture and set some environment variables for [libseccomp crate](https://crates.io/crates/libseccomp) before building the agent

[2021-06-24 13:16] #2067 closed

[2021-06-24 13:29] #2106 closed

[2021-06-24 14:50] #2001 closed

[2021-06-24 16:02] etrunko opened #2111 "`cargo vendor` fails with duplicate version of netlink-packet-utils"
Trying to build the latest released version of kata-containers for Fedora, I got the following error while running `cargo vendor`, to generate the vendored code.

[code]

Happens with both kata-containers-2.1.1 and 2.2.0-aplha0 releases.

It appears to be caused by commit 9e3349c18e31e57277622046b300e1021eedae8c.

[2021-06-24 16:02] etrunko commented on #2111
@fidencio has a patch that appears to fix this:

https://paste.centos.org/view/3145d201

[2021-06-24 16:06] fidencio commented on #2111
Ooiii!
It's not a patch, it's a quick and dirty workaround to be able to offline vendor the code, I wouldn't add my `Signed-off-by:` on that. :-)

@Tim-Zhang, what's the best approach to take on these cases?

[2021-06-25 10:23] sameo opened #2112 "trace-forwarder build is noisy"
I don't think we have any good reason to build it with `-v`.

[2021-06-25 10:43] sameo opened #2114 "The nix crate version differs between all the kata rust code bases"
We should make it run on the latest 0.21.0.

[2021-06-25 14:11] davidhay1969 opened #2116 "rootfs builder for Fedora defaults to 30, which is EOL"
**Which feature do you think can be improved?**

Currently, the root file-system builder **defaults** to Fedora `30` when one runs e.g.

`USE_DOCKER=true ./rootfs-builder/rootfs.sh -r ~/fedora_rootfs fedora`

where the version default is defined in [config.sh](https://github.com/kata-containers/kata-containers/blob/main/tools/osbuilder/rootfs-builder/fedora/config.sh).

However, Fedora `30` was EO

[2021-06-25 14:19] devimc commented on #2116
it makes sense to me, Fedora 34 should work

[2021-06-25 14:22] fidencio commented on #2116
I am shooting myself in the foot here as someone from Fedora community, but I think we should have a document or a wiki about where we use $distros containers and leave it for someone from the distro side to update them on every new release.

[2021-06-25 14:29] davidhay1969 commented on #2116
Interestingly, I just tried Fedora `34` and it went `bork bork bork` : -

`OS_VERSION=34 USE_DOCKER=true ./rootfs-builder/rootfs.sh -r ~/fedora_rootfs fedora`

[code]

Am now trying `33` ....

[2021-06-25 14:49] davidhay1969 commented on #2116
OK, so that worked: -

`OS_VERSION=33 USE_DOCKER=true ./rootfs-builder/rootfs.sh -r ~/fedora_rootfs fedora`

[code]

Have not tried using that as the basis for a pod sandbox image yet, need to build a new K8s cluster first ...

[2021-06-25 16:02] egernst opened #2117 "failed to cleanup cgroups, Failed to remove paths"
Seeing:

[code]

We don't create a kata_* cgroup for all of these subsystems, but I think when we call the cgroup manager's destroy function, it mustn't realize this?  Need to look at how we are utilizing the cgroup manager, and verify our cleanup.

Links:
https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/sandbox.go#L696-L698
https://github.com/kata-containers

[2021-06-25 19:59] #1879 closed

[2021-06-25 20:44] eadamsintel commented on #2116
I tried this out and saw the same thing. Because I was recently working on QAT building rootfs I also tried this with the container I had just built and didn't see this issue running `osbuilder` inside of the container.  In this scenario I wasn't starting from the host with `USE_DOCKER=true` but rather was already in a privileged Fedora 34 container image where I cloned the kata-containers repo an

[2021-06-25 21:04] davidhay1969 commented on #2116
Cheers @eadamsintel will have a play ... 🙇‍♂️

[2021-06-25 21:23] fidencio commented on #2005
Okay, I've gotten access to the repo and in the next few days I'll update the information there.

Another change that I'm doing is also pointing `:latest` to the latest development release (in our case now, 2.2.0-alpha0), and pointing `:stable` to the latest stable release (2.1.1).

Sorry for how long it's taking to get this updated, but we finally will be working on this one.

[2021-06-25 23:24] eadamsintel commented on #2116
@davidhay1969 I think I found where the problem is.  If you go to the fedora [Dockerfile ](https://github.com/kata-containers/kata-containers/blob/69bf7e7519a06467dc8299347c689ac7663955c6/tools/osbuilder/rootfs-builder/fedora/Dockerfile.in#L33) that it consumes it tries to install a `redhat-release` package that is no longer compatible with Fedora 34.  That package was giving that error.  When I r

[2021-06-26 03:59] davidhay1969 commented on #2116
Awesome work @eadamsintel - thanks for digging into this, will try that trick myself ...

[2021-06-28 03:13] Apokleos opened #2122 "May I set SandboxCgroupOnly=false, when use cgroup v2 at host?"
Recently, I run [kata](https://github.com/kata-containers/kata-containers/releases/download/2.1.1/kata-static-2.1.1-x86_64.tar.xz) with containerd on my fedora34.
And the fedora34 with kernel-5.11.12-300.fc34.x86_64, which default cgroup is v2.
When I `ctr run ...`, something wrong happends , the same as [issue](https://github.com/kata-containers/kata-containers/issues/1927).

**Which feature do y

[2021-06-28 06:18] #1412 closed

[2021-06-28 06:18] #2114 closed

[2021-06-28 07:37] jongwu opened #2123 "enable kvm ptp on arm64 for kernel 5.10, 5.4 and 4.19"

[2021-06-28 07:48] LiangZhou-CTY opened #2124 "agent: wrong regular expression to fetch the guest context ID"
when using the regular expression to fetch the guest-cid, actually it returns incorrect result.
https://github.com/kata-containers/kata-containers/tree/main/tools/agent-ctl#connect-to-a-real-kata-container
`$ guest_cid=$(ps -ef | grep qemu-system-x86_64 | egrep -o "guest-cid=[^,][^,]*" | cut -d= -f2)
	[root@localhost tmp]# ps -ef | grep qemu-system-x86_64 | egrep -o "guest-cid=[^,][^,]*" | cut -d=

[2021-06-28 09:02] sameo opened #2126 "agent-ctl build failure"
With `cargo v1.53` I get:

[code]

[2021-06-28 10:47] fidencio commented on #2012
It's updated and I forgot to close this one, sorry.

[2021-06-28 10:47] #2012 closed

[2021-06-28 10:49] fidencio commented on #2045
Closing this one as we should improve the amount of logs being logged and its granularity on the virtiofsd side.

[2021-06-28 10:49] #2045 closed

[2021-06-28 10:51] fidencio commented on #2098
Closing this one as the PR has already been merged.

[2021-06-28 10:51] #2098 closed

[2021-06-28 10:52] fidencio commented on #2111
@lifupan, @liubin, may we get some help with this one?

[2021-06-28 12:49] liubin commented on #2111
hi @etrunko , can you give a try of [this patch](https://github.com/kata-containers/kata-containers/pull/2129/files#diff-ea496d70d6c5b9af96b8df30a08de6e4d8352d88c12f6cdb06d79932137dc058)

[2021-06-28 13:36] snir911 opened #2130 "agent is failing to online an already onlined cpu"
# Description of problem

In some OSes it's not uncommon to have a rule which automatically onlines CPU which is hot-plugged, if it's defined, this will cause the agent to miss the hot-plugged CPUs and to emit the following error:
`Error: CreateContainer failed: failed to online 2 CPU(s) after 100 retries: unknown`

# Expected result

Agent is able to use the hot-plugged and onlined CPU

# Actual

[2021-06-28 13:54] devimc commented on #2116
@eadamsintel

please raise  PR, I will take a look and the CI will test your change :+1:

[2021-06-28 15:06] jodh-intel opened #2132 "forwarder: Add dump only option"
The trace forwarder needs a way to _not_ forward traces for testing purposes. Add a `--dump-only` option that just displays the trace details but does not send them on to a collector like Jaeger.

[2021-06-28 17:46] GabyCT opened #2134 "fix URL in virtio fs documentation"

[2021-06-28 19:26] GabyCT opened #2136 "Static checks are failing"
Static checks are failing with the following error
[code]
https://github.com/kata-containers/kata-containers/pull/2135/checks?check_run_id=2934587980

[2021-06-28 19:39] fidencio commented on #2136
@GabyCT, it'll be fixed by https://github.com/kata-containers/kata-containers/pull/2127

[2021-06-28 19:51] eadamsintel commented on #2090
@fidencio For the QAT use case being able to have a custom kernel, rootfs, and modules-load is really useful right now although at some point in the future I would expect the driver to be fully integrated upstream so that would be less important going forward.  Have you thought about a `kata-deploy` development or unrestricted tag that would would fully enable everything so people could more easil

[2021-06-28 20:11] fidencio commented on #2090
This can be done by setting `enable_annotations = [ ".*" ]`, however it was disabled for a reason, which was a possible CVE on an attacker (who happened to have access to a node) replacing, for instance, the VMM binary by their own binary.

I'm lost together with you on this one, Eric ...

... and depending on the use-cases we would like to support we should be more or less permissive / relaxed on

[2021-06-28 21:05] fidencio commented on #2090
/cc @jensfr, from the Operator side. :-)

[2021-06-28 23:24] eadamsintel commented on #2090
Yes it makes perfect sense. It is impossible to come up with a single generic solution that works for everyone or even the vast majority of people. Perhaps it would be better to identify a set of common Kata use cases and have different generic options for those.  I could see Kata evolving that way.  The function-as-a-service use case would want something very minimal and fast whereas a Transcodin

[2021-06-28 23:34] eadamsintel opened #2138 "Request to add more details to error message about missing annotations to provide users hints on how to fix"
**Which feature do you think can be improved?**

I think the error message for missing annotations could be enhanced to provide clues on how to fix.

**How can it be improved?**

Right now if you specify an annotation in a kubernetes yaml file but have not enabled that annotation to be supported in either the configuration.toml for Kata or the CRI's toml configuration then kubernetes will give an

[2021-06-29 05:00] Amulyam24 commented on #268
Hi @jodh-intel , I would like to work on adding tests to `container.go`. Feel free to assign me if needed :)

[2021-06-29 08:02] fidencio commented on #2090
So, let's take a look on what we have as options for annotations (and sorry for redirecting the reader to another page): https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/pkg/annotations/annotations.go

From everything there, I can see some things are not desired by some downstreams, but some downstreams will do their own packaging anyways.

What I think we sh

[2021-06-29 09:08] jensfr commented on #2090
We know it's used in production by companies with minimal changes to kata-deploy itself but with an ecosystem around it.

It certainly is, but not stand-alone. I think some modifications are required to make it fit into your environment and to the requirements given by regulations etc.

It certainly is a quick way to deploy and play around with kata.

Yes, I don't think people use the pre-build co

[2021-06-29 13:07] fidencio opened #2139 "osbuilder: Evaluate whether makes sense to keep supporting the alpine rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the alpine rootfs
* Where do we use the alpine rootfs
* Who's the person responsible for maintaining the alpine rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:08] fidencio opened #2140 "osbuilder: Evaluate whether makes sense to keep supporting the centos rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the centos rootfs
* Where do we use the centos rootfs
* Who's the person responsible for maintaining the centos rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:09] fidencio opened #2141 "osbuilder: Evaluate whether makes sense to keep supporting the clearlinux rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the clearlinux rootfs
* Where do we use the clearlinux rootfs
* Who's the person responsible for maintaining the clearlinux rootfs

All the information will end up going to

[2021-06-29 13:10] fidencio opened #2142 "osbuilder: Evaluate whether makes sense to keep supporting the debian rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the debian rootfs
* Where do we use the debian rootfs
* Who's the person responsible for maintaining the debian rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:11] fidencio opened #2143 "osbuilder: Evaluate whether makes sense to keep supporting the fedora rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the fedora rootfs
* Where do we use the fedora rootfs
* Who's the person responsible for maintaining the fedora rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:11] fidencio opened #2144 "osbuilder: Evaluate whether makes sense to keep supporting the gentoo rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the gentoo rootfs
* Where do we use the gentoo rootfs
* Who's the person responsible for maintaining the gentoo rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:12] fidencio opened #2145 "osbuilder: Evaluate whether makes sense to keep supporting the suse rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the suse rootfs
* Where do we use the suse rootfs
* Who's the person responsible for maintaining the suse rootfs

All the information will end up going to a Wiki page so we

[2021-06-29 13:13] fidencio opened #2146 "osbuilder: Evaluate whether makes sense to keep supporting the ubuntu rootfs"
This is part of a [bigger effort](https://github.com/kata-containers/tests/issues/3657) to simplify what we support and ensure we actually test what we say we support.

The outcome of this should be:
* Whether we support or not the ubuntu rootfs
* Where do we use the ubuntu rootfs
* Who's the person responsible for maintaining the ubuntu rootfs

All the information will end up going to a Wiki page

[2021-06-29 13:41] fidencio commented on #2139
alpine is current used as part of the VFIO CI, as it can be seen [here](https://github.com/kata-containers/tests/blob/1829610f8b11603d04a170b6736e002cd3f9d111/.ci/jenkins_job_build.sh#L357-L358):
[code]

Do we need alpine for that? Could it be done with another distro? My understanding is that we rely on the alpine image as that's a really minimal one.

@devimc, opinions?

[2021-06-29 13:45] fidencio commented on #2140
CentOS image is not supported nor officially used anywhere so far.  However, https://github.com/kata-containers/tests/pull/3658 makes it tested by every single PR running on the CentOS CI.

This currently uses CentOS 7 by default (please, see https://github.com/kata-containers/kata-containers/blob/main/tools/osbuilder/rootfs-builder/centos/config.sh#L8) and it should be updated to use CentOS 8.

W

[2021-06-29 13:47] fidencio commented on #2141
clearlinux image does not seem supported nor officially used anywhere so far.

@kata-containers/intel, does someone would like to volunteer to add a CI to test it, and maintain it in case something goes wrong?

[2021-06-29 13:50] fidencio commented on #2143
Debian image is not supported nor officially used anywhere so far.  However, https://github.com/kata-containers/tests/pull/3658 makes it tested by every single PR running on the Debian CI.

This currently uses Debian 9.5 by default (please, see https://github.com/kata-containers/kata-containers/blob/7d37fbfdfba05be660b11f2b4d6545dfdfbecd63/tools/osbuilder/rootfs-builder/debian/config.sh#L6-L9) and

[2021-06-29 13:54] fidencio commented on #2144
Gentoo image is not supported nor officially used anywhere so far.

@devimc, I remember it was added by you.  Do you consider this essential for us to keep maintaining? If so, would be possible to add a test in the CI so we ensure this works and will keep working?

[2021-06-29 13:56] Jakob-Naucke commented on #2140
I wonder if there are good reasons to maintain it beside Fedora?

[2021-06-29 13:56] Jakob-Naucke commented on #2142
I wonder if there are good reasons to maintain it beside Ubuntu?

[2021-06-29 13:58] Jakob-Naucke commented on #2143
@fidencio I think you meant to put that in https://github.com/kata-containers/kata-containers/issues/2142 :)
I'd vow for keeping it because Ubuntu is flakey with Podman, see https://github.com/kata-containers/tests/pull/3636#issuecomment-867701599

[2021-06-29 14:00] fidencio commented on #2142
Debian image is not supported nor officially used anywhere so far.  However, https://github.com/kata-containers/tests/pull/3658 makes it tested by every single PR running on the Debian CI.

This currently uses Debian 9.5 by default (please, see https://github.com/kata-containers/kata-containers/blob/7d37fbfdfba05be660b11f2b4d6545dfdfbecd63/tools/osbuilder/rootfs-builder/debian/config.sh#L6-L9) and

[2021-06-29 14:02] fidencio commented on #2143
Just updated the comment, thanks!

[2021-06-29 14:22] etrunko commented on #1203
This could help preventing issues like #2111 from happening

[2021-06-29 14:28] fidencio commented on #2145
openSUSE image is not supported nor officially used anywhere so far, and kata-containers 2.x is not supported on openSUSE.

I guess it's worth reaching openSUSE community and checking whether someone wants to take this over.  If not, remove it otherwise.

[2021-06-29 14:29] fidencio commented on #2146
This is the most used and tested image, it's part of **all** our CIs.

[2021-06-29 14:36] Jakob-Naucke commented on #2146
Volunteering because I already did it thinking I'd need it

[2021-06-29 14:37] Jakob-Naucke opened #2147 "Update Ubuntu osbuilder guest to 20.04"
Volunteering because I already did it thinking I'd need it
e: at least if by "latest" you mean "latest LTS"

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/kata-containers/issues/2146#issuecomment-870657313_

[2021-06-29 14:39] fidencio commented on #2147
Yes! Please, mind that:
[code]

So, I'd rather have the file using `:latest` than actually pointing to `20.04`. (And yes, the very same comment applies to my Fedora PR).

[2021-06-29 14:47] Jakob-Naucke commented on #2147
I would go with `20.04` (or `focal`) because this will likely break unexpectedly when 22.04 becomes LTS

[2021-06-29 14:49] fidencio commented on #2145
We can't support SUSE hosts at this point, unfortunately.
There's no official kata-containers (2.x) for SUSE, and there's no CI either.

Yep, that's my point.  I'd rather have a CI with someone responsible for it (and its failures).
I sincerely think it's worth approaching their community and see if someone has the interest to do so.

Personally, I'm way more interested in getting someone maintain

[2021-06-29 16:03] ManaSugi opened #2148 "osbuilder: Fix the order of checking the distro config directory"
# Description of problem

The current [osbuilder/rootfs-builder/rootfs.sh](https://github.com/kata-containers/kata-containers/blob/stable-2.1/tools/osbuilder/rootfs-builder/rootfs.sh#L327) checks the distro config directory after using the directory.
The order of checking the directory is not correct.
Therefore, we need to fix the order and check if the directory exists before using it.

[2021-06-29 16:05] eadamsintel commented on #2090
I think having an operator makes a lot of sense. Between that and kata-deploy I think the vast majority of uses cases from evaluation to production could be covered by one of these two installation methods.

Are you suggesting that kata-deploy be part of an operator and also be stand alone?  That would make sense for re-use of code.

[2021-06-29 16:22] mazocode opened #2151 "Kubelet in "Failed to stop infra container" loop"
# Description of problem

Kubelet remains in a StopPodSandbox loop for a non existing container after a pod was deleted which previously was unable to start (ie because of a referenced PV failed to mount).  I am not sure if this is a kata, crio-o issue or some bad configuration issue but it is reproduceable and seems to occur when using the kata runtime with cri-o only.

kata: 2.1.0-4
os: Rocky 8.

[2021-06-29 16:24] ManaSugi commented on #1476
Hi @wainersm,
I created the script in [this commit](https://github.com/kata-containers/kata-containers/pull/1788/commits/83450faf1601054253f92993ddcde0ab33f02ab5) to install the libseccomp library for linking the agent with the libseccomp statically.
If this pull request is merged, your e2e test will run successfully. Thanks.

[2021-06-29 18:05] jensfr commented on #2090
Yes, actually I'm saying that's what we did here: https://github.com/openshift/sandboxed-containers-operator/tree/release-4.6#kubernetes
It's just two different controllers in one Operator. One for OpenShift another one for vanilla Kubernetes.
But it did not get a lot of traction and so we're about to remove it.

[2021-06-29 21:34] eadamsintel commented on #2090
@jensfr Perhaps it didn't get a lot of traction is because it is off on its own GitHub and not assumed to be associated with the Kata project.  I think the idea is really useful though, but  probably just needs better promotion.  Also, it looks like you have to manually deploy the operator from GitHub. I didn't see any Kata operator at [Operator hub](https://operatorhub.io/?keyword=kata) for examp

[2021-06-30 08:00] jensfr commented on #2090
You are right that it's not easy enough to use right now. One way to improve that would be for us to test the Kubernetes controller again and then (as you suggested) make it available on Operatorhub.io. Since it *is* kata-deploy wrapped in a controller I think it should solve the same needs and add things like life-cycle management (upgrades etc) on top.

[2021-06-30 08:07] fidencio commented on #2090
I know it's easier said than done, but I'd suggest to actually implement our own logic rather than using the kata-deploy scripts (mind, I think we should still use the binaries, but only the binaries).  There are a few things that are broken and known to be broken, mainly on the upgrade path, and it'd be way more aligned with the ecosystem.

[2021-06-30 08:55] jensfr commented on #2090
Yes, but what the DaemonSet does and how it is implemented is  independent from the Operator. We can start with the current scripts and then implement it in go when we have the capacity or someone contributes it.

[2021-06-30 09:47] #2126 closed

[2021-06-30 14:47] #2134 closed

[2021-06-30 14:51] #2059 closed

[2021-06-30 18:08] #2064 closed

[2021-06-30 19:46] fidencio commented on #1038
Closing this one as https://github.com/kata-containers/kata-containers/pull/1954 got merged.

[2021-06-30 19:46] #1038 closed

[2021-06-30 20:12] fidencio commented on #966
Well, this one can be closed as 1.x reached its EOL.

[2021-06-30 20:12] #966 closed

[2021-06-30 20:37] fidencio opened #2157 "Consider adding a "disable_annotations" list, or an special notation to identify annotations that should **not** be enabled by default"
**Which feature do you think can be improved?**

Please, take a look at what we have to do when enabling all annotations but a few of them:
https://github.com/kata-containers/kata-containers/pull/2156/files

This is error prone and tedious to do.

**How can it be improved?**

I think we could simplify it by supporting something like:
[code]

This would require a better definition of the syntax acc

[2021-06-30 20:37] fidencio commented on #2157
/cc @c3d, @amshinde, @bergwolf ... opinions?

[2021-07-01 07:55] #1441 closed

[2021-07-01 08:47] jongwu opened #2158 "tarball of cri-containerd-release v1.3.7 is gone"
13:40:10 Trying to install containerd from static tarball
13:40:35 Download tarball from https://storage.googleapis.com/cri-containerd-release/v1.3.7/cri-containerd-cni-1.3.7-linux-amd64.tar.gz
13:40:35   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
13:40:35                                  Dload  Upload   Total   Spent    Left  Speed
13:40:35
  0     0    0     0

[2021-07-01 08:54] MatthieuSarter commented on #2158
Additionally, the install from the sources fails ("error: pathspec 'v1.3.7' did not match any file(s) known to git.").

This is because the repository referenced in versions.yaml is containerd/cri, while the v1.3.7 tag is a tag from the containerd/containerd repository.
Switching to containerd/containerd in versions.yaml fixes the second issue, I'm currently testing if it does not break anything e

[2021-07-01 10:01] #2111 closed

[2021-07-01 10:02] #2074 closed

[2021-07-01 10:02] c3d commented on #2074
Closed by #2040

[2021-07-01 10:05] fidencio opened #2159 "agent: Ensure `cargo vendor` works."
**Which feature do you think can be improved?**

A test should be added, to run on every pull-request, to ensure that we don't break `cargo vendor`.

Downstream, which are using our upstream tarballs to build their own packages, most likely will build the package on an offline environment, so they'll run `cargo vendor`and add the whole amount of vedored code as a patch.

If `cargo vendor` doesn't

[2021-07-01 10:09] c3d opened #2160 "Arbitrary path injection in containernetworking/cni 0.7.0"
SourceClear scan of the source code on branch main exposed the following:

CVE-2021-20206                                 Medium Risk     Arbitrary Path Injection      github.com/containernetworking/cni v0.7.0

Reported-by: Przemyslaw Roguski proguski@redhat.com

We should update containernetworking/cni to v0.8.1

[2021-07-01 10:15] c3d opened #2161 "vendor: Denial of service in current buger/jsonparser version"
SourceClear scan of the source code on branch main exposed the following:

CVE-2020-10675                                 Medium Risk     Denial Of Service (DoS)       github.com/buger/jsonparser HEAD (f4dd9f5)

Reported-by: Przemyslaw Roguski proguski@redhat.com

We should update to v1.1.1 if possible. This is an indirect dependency.

[2021-07-01 10:20] c3d opened #2162 "agent: Stack overflow in prost 0.5.0"
Crate:         prost
Version:       0.5.0
Title:         Parsing a specially crafted message can result in a stack overflow
Date:          2020-01-16
ID:            RUSTSEC-2020-0002
URL:           https://rustsec.org/advisories/RUSTSEC-2020-0002
Solution:      Upgrade to >=0.6.1

Reported-by: Przemyslaw Roguski proguski@redhat.com

[2021-07-01 10:22] c3d opened #2163 "trace-forwarder: Dangling reference in `access::Map` with Constant"
Found by Cargo Audit tool

Reported-by: Przemyslaw Roguski <proguski@redhat.com>

Crate:         arc-swap
Version:       0.4.7
Title:         Dangling reference in `access::Map` with Constant
Date:          2020-12-10
ID:            RUSTSEC-2020-0091
URL:           https://rustsec.org/advisories/RUSTSEC-2020-0091
Solution:      Upgrade to >=0.4.8, <1.0.0-0 OR >=1.1.0
Dependency tree:
arc-swap 0.4.

[2021-07-01 10:25] c3d opened #2164 "agent: Crate 'failure' is unmaintained"
Reported by Cargo Audit on both agent and agent-ctl

Reported-by: Przemyslaw Roguski <proguski@redhat.com>

Crate:         failure
Version:       0.1.8
Warning:       unmaintained
Title:         failure is officially deprecated/unmaintained
Date:          2020-05-02
ID:            RUSTSEC-2020-0036
URL:           https://rustsec.org/advisories/RUSTSEC-2020-0036
Dependency tree:
failure 0.1.8
├── w

[2021-07-01 10:27] c3d opened #2165 "agent: Crate tokio was yanked"
Found by Cargo Audit, for both agent and agent-ctl

Reported-by: Przemyslaw Roguski <proguski@redhat.com>

Crate:         tokio
Version:       1.6.0
Warning:       yanked
Dependency tree:
tokio 1.6.0
├── ttrpc 0.5.1
│   ├── protocols 0.1.0
│   │   ├── rustjail 0.1.0
│   │   │   └── kata-agent-ctl 0.0.1
│   │   └── kata-agent-ctl 0.0.1
│   └── kata-agent-ctl 0.0.1
├── tokio-vsock 0.3.0
│   └── ttrp

[2021-07-01 10:28] c3d opened #2166 "trace-forwarder: Multiple vulnerabilities due to oudated components"
Found by Cargo Audit

Reported-by: Przemyslaw Roguski proguski@redhat.com

Crate:         arc-swap
Version:       0.4.7
Title:         Dangling reference in `access::Map` with Constant
Date:          2020-12-10
ID:            RUSTSEC-2020-0091
URL:           https://rustsec.org/advisories/RUSTSEC-2020-0091
Solution:      Upgrade to >=0.4.8, <1.0.0-0 OR >=1.1.0
Dependency tree:
arc-swap 0.4.7
└── s

[2021-07-01 14:05] Jakob-Naucke opened #3499 "govmm: Refactor iommu_platform tests"
There is one test that tests `IOMMUPlatform` for `FSDevice`: https://github.com/kata-containers/govmm/blob/263136e69ac80bf0a0136b26e82b8dcbe3328d6a/qemu/qemu_s390x_test.go#L84
but that's 25 lines for that tiny flag, and that times all the devices... the _ideal_ thing would be to refactor testing to allow for these flags.

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/go

[2021-07-01 14:27] Jakob-Naucke opened #2167 "SUSE s390x needs CC=gcc too"
#1974 set `CC=gcc` on Fedora-likes for s390x. It turns out SUSE needs the same.

[2021-07-01 16:41] RobertKrawitz commented on #2071
The issue is more serious than I first realized, and the workaround of setting resource limits in addition to requests will not work for all multi-container pods.  The difficulty is that limits are per-container, not per-pod.  So if I have a two container pod that I want 2 CPU resource for, I have to do it by setting a limit of 1 for each container (or 1.5+.5, or something).  I can't simply say "O

[2021-07-02 02:24] wenbinzeng opened #2169 ""IPVlanEndpoint does not support Hot attach" Is it technically impossible or just not implemented yet?"
ipvlan endpoint does not support hot-attach:
https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/ipvlan_endpoint.go#L127

I am wondering if hot-attach for ipvlan endpoint is technically impossible or just not implemented yet? If it is possible, please kindly give me some hints, I desperately need this feature.

Any feedback is very welcome, thank you very much i

[2021-07-02 03:01] liubin opened #2170 "Skip installing golang in rootfs builder"
Now the ttRPC protocol files are not depend on `protoc` to compile them, so there is no need to install golang.

Skipping installing golang can save some time, especially in CI jobs.

[2021-07-02 06:10] Tim-Zhang opened #2172 "Unit tests of execute_hook may not pass on some test machines"
Got test error on some test machines:
[code]

The reason is that the exec path which execute_hook accept must be full path, and the test command `/usr/bin/sleep` may not place at the position.

[2021-07-02 07:02] dgibson opened #2174 "We should never use SHPC hotplug"
# Description of problem

Depending on hypervisor, platform and details Kata can use any of several methods to hotplug devices into the guest.

With qemu backend:
- On `pc` machine (until it was removed) we used ACPI hotplug on the root bus and behind bridges
- On `q35` machine we use PCIe hotplug on PCIe root ports (only used for VFIO devices) and SHPC under PCIe to PCI bridges
- On ARM, I'm not

[2021-07-02 07:02] dgibson commented on #2174
@marcel-apf @c3d for your attention.

[2021-07-02 09:07] MatthieuSarter opened #2176 "containerd install from sources fails"
The ci setup script fails when trying to install containerd from the sources:

[code]

[2021-07-02 09:43] MatthieuSarter commented on #2176
Issue was indeed already solved with the bump to containerd 1.5.2.

[2021-07-02 09:43] #2176 closed

[2021-07-02 21:30] mxpv opened #2177 "Cleanup Agent config"

[2021-07-03 01:31] #1968 closed

[2021-07-03 07:51] #2177 closed

[2021-07-04 04:48] bporter816 commented on #1162
@cmaf I opened a PR for this. Looking at testing it with the test script to make sure the span created message still works.

[2021-07-04 08:36] Rapiz1 opened #2180 "The Configuration example in containerd-install.md is out of date"
# Description of problem

`containerd` will not start with the given example:

[code]

# Expected result

A recent `containerd` will start.

# Actual result

A recent `containerd` will not start.

# Further information

https://github.com/containerd/cri/issues/1076

[2021-07-05 06:36] #2172 closed

[2021-07-06 02:07] YchauWang opened #2181 "osbuilder: Rootfs Image of ARM CentOS script had a error setting for GPG_KEY_ARCH_URL ENV variable"
# Description of problem

There is a error or changed for GPG_KEY_ARCH_URL setting, when I tried to build dev arm rootfs image of [centos](tools/osbuilder/rootfs-builder/centos/config_aarch64.sh).

# Expected result

GPG_KEY_ARCH_URL="http://mirror.centos.org/altarch/7/os/aarch64/RPM-GPG-KEY-CentOS-7"

GPG_KEY_ARCH_FILE="RPM-GPG-KEY-CentOS-7"

# Actual result

GPG_KEY_ARCH_URL="http://mirror.cento

[2021-07-06 02:13] dgibson opened #2182 "Agent can mis-parse /proc/self/mountinfo if device for virt filesystems is "-""
# Description of problem

Currently, the agent can generate a bunch of "mountinfo corrupted!" warnings on what are actually perfectly valid /proc/self/mountinfo contents, because virtual filesystems happen to be mounted with an (arbitrary) device of `-`.

[2021-07-06 04:29] jongwu commented on #2181
Hello @YchauWang -, for now kata only support ubuntu on arm64, if you want to use centos, you can raise a PR to fix it.

[2021-07-06 05:21] sameo opened #2184 "Hypervisor threads are not constrained"
# Description of problem

With `sandbox_cgroup_only` unset, the hypervisor vcpu threads are not constrained to the limits defined by the sandbox cgroup hierarchy.

# Expected result

When not setting `sandbox_cgroup_only`, all the vcpu threads should be added to the sandbox cgroup hierarchy and follow the limits defined there. This is the expected behaviour.

[2021-07-06 05:22] sameo commented on #2184
cc @egernst @devimc @chavafg

[2021-07-06 11:14] #2082 closed

[2021-07-06 11:51] D1abloRUS opened #2185 "Nvidia GPU passthrough with k8s"
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.1.1 (commit 0e2be438bdd6d213ac4a3d7d300a5757c4137799)` at `2021-07-06.11:32:01.523510977+0000`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/opt/kata/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>/opt/kata/bin/kata-runtime kata-env</tt></

[2021-07-06 12:01] #2124 closed

[2021-07-06 12:54] D1abloRUS commented on #2185
I [removed](https://github.com/D1abloRUS/kubevirt-gpu-device-plugin/blob/ebc8e9380577a152521550cb8d1fa8c948002519/pkg/device_plugin/generic_device_plugin.go#L250) the device forwarding from the plugin and everything works, the ENV is thrown - `declare -x GPU_PASSTHROUGH_DEVICES_NVIDIA="0000:02:00.0"`, the problem is when the device is forwarded

[2021-07-06 16:04] jodh-intel commented on #268
Thanks @Amulyam24 ! :smile:

Take a look at https://github.com/kata-containers/tests/blob/main/Unit-Test-Advice.md if you haven't already. Also, reading through some of the existing test code can help a lot. But feel free to ping us if you have any queries!

[2021-07-06 16:47] jodh-intel commented on #1900
Thanks @Amulyam24 - yes, that was expected. But now #1969 has landed, you should get much better results.

[2021-07-06 16:50] jodh-intel commented on #1902
Thanks @Jakob-Naucke! Now that #1969 has landed, the traces should look better still.

[2021-07-07 02:10] egernst commented on #2122
/cc @sameo  -- this may be a limitation of using containerd cgroups in the sandbox-cgroup-only case.

[2021-07-07 02:12] egernst commented on #2071
The high level summary on why you're seeing this:
 Kata works well, and correctly imo, when a pod is 'guaranteed', as well as 'burstable' if a limit is set. We do not 'properly' support bestEffort or unbound burstable (today).

In the configurations I have used of Kubernetes, a default limit is usually applied (or we validate that a limit is set) at pod admission time, so all is well behaved. This

[2021-07-07 02:19] egernst commented on #2071
Yeah -- it sounds like you'd like the scenario of pod level resource definitions. IIRC, there have been KEPs in the past in sig-node for this scenario: Allow these containers to run unbound, with an overall pod limit of X, where X is less than the sum of allocatable CPUs on the host.

While we can likely fix the completely unbound scenario, I think what you're describing is an outstanding enhancem

[2021-07-07 08:04] liubin opened #2187 "Some comments are not suitable for the code."
Some comments are old or copy miss,  not suitable for the code.

And the API doc for virtcontainers is old.

[2021-07-07 08:10] jodh-intel opened #2188 "update kata-manager for new containerd config"
See: https://github.com/kata-containers/kata-containers/pull/2175#pullrequestreview-699936692

This should be a relatively easy change for someone with shell scripting skills.

[2021-07-07 10:28] frank-heimes opened #2190 "kata-container snap not up to date for all architectures"
On an amd64 system I can find that the latest stable kata-container snap is 2.1.1
$ snap info kata-containers
name:    kata-containers
summary: Lightweight virtual machines that seamlessly plug into the
  containers ecosystem
publisher: Kata Containers (katacontainers✓)
store-url: https://snapcraft.io/kata-containers
contact:   https://katacontainers.io/
license:   Apache-2.0 OR BSD-2-Clause OR BS

[2021-07-07 10:53] fidencio commented on #2190
@devimc, I'm not familiar with snap at all, but do we require hardware to build for s390x, aarch64, and ppc64le?

Considering we don't need hardware, we'd need to live with a few differences between the x86_64 / aarch64 builds and the s390x / ppc64le ones, as the agent would have to be built using glibc for the latter.  Apart from this, I think that things should simply work.

@Jakob-Naucke and @d