[2021-09-16 19:27] fidencio commented on #1456
I think we should.

[2021-09-16 19:34] paleozogt commented on #2580
I ran `ctr` with `--debug`:
[code]

Here's the output of `journalctl -u containerd -f`:

[code]

[2021-09-16 20:11] wainersm commented on #1456
My worry is about rejecting a PR which isn't introducing any bug/regression, that may be misleading to developers (mainly newest contributors). It happens that at that unfortunate moment the vulnerability database was updated and some vendored dependencies are impacted. When it turns out to be a PR which bump/change the dependencies, yes, we should be running the check at that moment (and even tho

[2021-09-16 20:44] eadamsintel commented on #1403
I am but I am not sure if it is an actual issue given how OS builder works.  I was doing this on the host but not using the Dockerized build.  If I try the same step and build an Ubuntu or Fedora or CentOS rootfs I get other errors like debootstrap missing or dnf missing etc..

However, the documentation at the rootfs builder page indicates I should just be able to do that command.  I also tried i

[2021-09-16 23:14] cmaf opened #2665 "Trace call in newContainer uses incorrect logger"
In calls to `Trace`, if a subsystem's logger is available it will be used to generate a log message for nil context errors. If a logger isn't available it will use the `kataTraceLogger`.

A call to `Trace` in container.go uses the sandbox logger.  The container logger has not been created yet, but we can use `nil` to use the `kataTraceLogger` so that the log message doesn't erroneously attribute a

[2021-09-16 23:28] cmaf opened #2667 "backport: Trace call in newContainer uses incorrect logger"
Backport of #2665

In calls to Trace, if a subsystem's logger is available it will be used to generate a log message for nil context errors. If a logger isn't available it will use the kataTraceLogger.

A call to Trace in container.go uses the sandbox logger. The container logger has not been created yet, but we can use nil to use the kataTraceLogger so that the log message doesn't erroneously att

[2021-09-16 23:46] #2625 closed

[2021-09-17 02:37] #2627 closed

[2021-09-17 06:23] YchauWang commented on #2581
the manager.go file was deleted, and this issue is invalid. closed!

[2021-09-17 06:23] #2581 closed

[2021-09-17 07:17] YchauWang opened #2670 "runtime virtcontainers/shim has been removed update .gitignore file"
# Description of problem

virtcontainers/shim was removed by PR #445, The .gitignore file still keep the `/virtcontainers/shim/mock` config.

# Expected result

clear the virtcontainers/shim config from .gitignore

[2021-09-17 11:23] Jakob-Naucke commented on #2632
for reference: https://src.fedoraproject.org/rpms/kata-containers/pull-request/3

[2021-09-17 12:22] wllenyj commented on #2637
Other issues:
The `checkpoint/restore` api of the pod level, (https://github.com/kubernetes/enhancements/pull/1990).

Current checkpoint/restore interfaces are based on container level, which is simply not possible when using vm-based snapshots, migration.

[2021-09-17 15:10] Jakob-Naucke commented on #2632
was merged for 2.2.0-3 -- thanks @etrunko @fidencio!

[2021-09-17 15:10] #2632 closed

[2021-09-17 16:41] fgiudici commented on #2563
One thing that we should improve is to move the cache update from a polling task to an event based process (as it was with the containerd client backend).
The idea could be to monitor the filesystem where the sandboxes data are written by the shimv2 processes.
We will be able to get the new pod directly from the fs events but in order to be safe in all kind of environments we should also sync with

[2021-09-17 18:34] mcastelino opened #2672 "Make hypervisor.go and its associated dependencies a self contained package"
# Make hypervisor.go and its associated dependencies a self contained package.

Today govmm is a self contained package hosted by Kata containers that can be consumed by other projects.
However govmm does not contain all the logic required to manage a VM. Also that logic is found in virtcontainers.

The goal of making hypervisors its own package us to decouple VM management from virtcontainers (an

[2021-09-17 18:37] fidencio commented on #2672
cc @dgibson

[2021-09-17 18:37] mcastelino commented on #2672
/cc @bergwolf @egernst

[2021-09-17 18:46] cmaf commented on #2672
/cc @jodh-intel

[2021-09-17 19:24] mcastelino commented on #2672
Left unsaid is that if we do this govmm logic will be subsumed into hypervisors and the package will get deprecated.

[2021-09-17 20:34] wainersm opened #2673 "musl: consider upgrading musl to fix CVE-2020-28928"
The [musl's landing page](https://musl.libc.org) reports that all the releases prior to 1.2.2 are affected by [CVE-2020-28928 ](https://www.openwall.com/lists/musl/2020/11/19/1).

At the time of this writing Kata Containers has tested musl 1.1.23, therefore it should be considered the upgrade of musl libc to the version 1.2.2 or newer.

[2021-09-17 21:33] fengwang666 opened #2674 "Cgroup path validation failure"
# Description of problem

The [rootless CI](https://github.com/kata-containers/tests/pull/3846) is [failing](http://jenkins.katacontainers.io/job/kata-containers-2.0-centos-PR/1819/console) due to cgroup path being empty.
Related log:
[code]

After some investigation, I found it's failing on [this line](https://github.com/kata-containers/kata-containers/blob/e4cb6cbfbb4b9d5345dabc278e513d3e24ad3f7

[2021-09-17 22:36] paleozogt opened #2676 "broken url for rootfs centos gpg key"
# Description of problem

Building rootfs for centos ppc64le is broken because it uses a bad url for the gpg key:
[code]

# Expected result

That the gpg url would be correct.

# Actual result

The gpg key url is wrong, so building centos ppc64le rootfs is broken.

# Further information

Did the CentOS mirror break the URL?

I found an alternative URL here: https://github.com/CentOS/sig-core-AltAr

[2021-09-17 23:10] fengwang666 commented on #2605
@egernst Do you see it as a very common use case to mount the same block device in multiple Kata VM sandbox?
@amshinde In the scenario when there are multiple "users' on the same node, we don't want them to be able to access each other's disk volume.

[2021-09-18 07:36] bergwolf opened #2677 "CI: enable firecracker CI job in stable branch PRs"
Right now it is not enabled as shown in 2.2.0 PRs like https://github.com/kata-containers/kata-containers/pull/2668

[2021-09-18 07:40] fidencio commented on #2677
Following Tao's request and a conversation on #kata-ci Slack, I've enabled the firecracker-ci to run as **non-required** for the stable-2.* branches, and I'm taking advantage of #2668 to ensure it works (sorry, @cmaf, but it shouldn't cause much disruptions),

The job to monitor is http://jenkins.katacontainers.io/job/kata-containers-2.0-firecracker-ubuntu-PR/1162/, and I'm closing this one.  If t

[2021-09-18 07:40] #2677 closed

[2021-09-20 04:36] dgibson commented on #2672
I do not think this is feasible.  There are a lot of different modes of use for a hypervisor, which makes designing a general purpose abstraction for them an immensely difficult problem.  Note, for example, that this is essentially the entire purpose of libvirt - they have a substantial team who've been working on this for many years, and it's at best a partial abstraction with a lot of issues.

T

[2021-09-20 07:21] fidencio commented on #2676
/cc @kata-containers/redhat

[2021-09-20 09:18] fidencio opened #2680 "[RFE} release: move all the logic spread into release.yaml into scripts"
`release.yaml` is the workflow used for releasing the kata-containers artifacts.  However, the workflow has a bunch of embedded shell script into it that should not be there, but instead be part of a some .sh file called by the workflow actions.

This would help us to test the scripts, their logic, and to keep the workflows as minimal as possible.

See: https://github.com/kata-containers/kata-cont

[2021-09-20 09:39] fidencio opened #2681 "[RFE] release: install every needed dependency as a pre-req of the other actions"
We should aim to have all the external binaries we need installed in the system (cargo, hub, something else?) as a pre-req of the other actions, as those should be independent to the "release" logic.

[2021-09-20 09:42] fidencio commented on #2681
For instance, install docker https://github.com/kata-containers/kata-containers/blob/fff82b4ef564c4a16ece8d9779bd43951b49e767/.github/workflows/release.yaml#L22-L25 is the very first thing done, and at that point we could also install hub https://github.com/kata-containers/kata-containers/blob/fff82b4ef564c4a16ece8d9779bd43951b49e767/.github/workflows/release.yaml#L117-L121, which is only done tow

[2021-09-20 14:51] stevenhorsman opened #2682 "CCv0 | agent: PoC for adding verify signed image support"
### Problem

As part of the [CCv0 plan](https://docs.google.com/spreadsheets/d/1M_MijAutym4hMg8KtIye1jIDAUMUWsFCri9nq4dqGvA/edit#gid=0) we've implemented pulling and image into the Kata guest. As part of feature 1b) we want to support verifying the signature of the image, if it has been signed. This helps to validate where the container image came from and ensure that it hasn't been tampered with.

[2021-09-20 16:22] #2652 closed

[2021-09-20 17:00] GabyCT opened #2683 "call agent shutdown test only the correspondent ci job"

[2021-09-20 19:13] #2683 closed

[2021-09-20 20:29] GabyCT opened #2685 "Not able to launch multiple containers with hugepages with CLH"
I am using the script of https://github.com/kata-containers/tests/blob/main/metrics/storage/webtooling.sh using CLH+containerd and I am enabling hugepages for CLH at the configuration.toml, I am also allocating the hugepages for the host and inside the containers, for the host I am using `$ echo 20480 | sudo tee /proc/sys/vm/nr_hugepages` and if I do
[code]
The way that I am allocating the images

[2021-09-21 00:20] egernst commented on #2638
Thanks for the reproducer -- I see it in my environment as well. Will get a fix or update pushed tomorrow.

[2021-09-21 03:38] egernst commented on #2637
I'm curious if there are cases where a checkpoint/restore in Kubernetes would happen at *just* the container level (from a user perspective).  I'll need to read more of that KEP, though... so long as the requests are passed down to the runtime to execute this, I think we should be able to manage?

[2021-09-21 03:41] egernst commented on #2637
| the CPU issue used as an example is caused by a lack of data, specifically the number of requested CPUs being absent in the data that Kata receives. This forces Kata to hot-plug CPUs using data "guessed" from the CPU limit, and seriously restricts for example CPU-bound network performance in cases where we run with 1 CPU whereas runc would run with all host CPUs.

I'm not sure I agree with the s

[2021-09-21 03:48] egernst commented on #2637
The area that we could use more detail is being provided the memory/cpu details at sandbox time (in case of pod lifecycle) in order to help us appropriately setup the queues for the various IO devices (virtio-net/virtiofs). This should be feasible to implement, and the required changes in Kubernetes is targeting 1.23 (code freeze mid October).

[2021-09-21 03:51] egernst commented on #2637
I'd need to better understand the rest of the image pull discussions that have been happening in the CC calls. In particular, I know that Ali folks have been progressing in this space; I'm curious to understand how they're working through the ordering limitation (ie, ensuring an image pull is associated with a given sandbox).

Similar; I'm not sure I appreciate yet the attestation flow relative to

[2021-09-21 03:58] egernst commented on #2605
I wouldn't say very common, but it is allowed.

Unless there is an OPA policy (or some other webhook) ensuring all PVCs have access mode set to the new ReadWriteOncePod , the practical assumption for Option 1 cannot be guaranteed. For raw block situations, I think Kata should probably continue to allow all k8 access modes including the *Many

If you're going with this pattern, you'll need to ensur

[2021-09-21 06:48] #2674 closed

[2021-09-21 07:48] genjuro214 opened #2686 "agent-ctl: improve the oci_to_grpc code to handle more fields"
**Which feature do you think can be improved?**

The oci_to_grpc function in [tools/agent-ctl/src/utils.rs](https://github.com/kata-containers/kata-containers/blob/main/tools/agent-ctl/src/utils.rs#L331), it just handles part of oci fields, and others are not copied from oci spec to grpc spec, such as process.env, process.capabilities, mounts and so on.

There are **FIXME** marks in the code to im

[2021-09-21 13:15] #2670 closed

[2021-09-21 14:18] c3d commented on #2611
@fgiudici Would you mind assigning this one to yourself (or find someone who could follow up)? Thanks.

[2021-09-21 14:28] fidencio commented on #2639
We had a discussion about this this morning on Slack and we will discuss by the end of this week / beginning of the next week.

[2021-09-21 15:24] fgiudici commented on #2611
@c3d , I cannot assign issues, missing superpowers ;-)
Guess the issue comes from a combination of the latest kata shimv2 and an "old" cri-o release (cri-o 1.18).
https://github.com/cri-o/cri-o/issues/5276 should be solved first, than the fix may be backported (but I don't think that is what causing the pod to not start).
Not sure anyway that shimv2 is supported in cri-o 1.18. I would at least use

[2021-09-21 15:28] jclab-joseph commented on #2611
@fgiudici @c3d

Thank you for your efforts to solve the problem.
Now this issue is the same in cri-o 1.19.2.

[code]

[2021-09-21 15:42] fgiudici commented on #2611
Thanks @jclab-joseph, cri-o 1.19.2 should work with shimv2. I will look into kata with cri-o 1.19.2  (also if I may not be that quick).
@c3d , feel free to assign this to me.

[2021-09-21 15:48] jclab-joseph commented on #2611
@fgiudici
The previous issue almost certainly seems to happen when running on a virtual machine rather than a physical machine.
Perhaps this issue is also due to the virtual machine.
I use Proxmox (based on kvm qemu).

[2021-09-21 15:54] bergwolf commented on #2605
#### option 5: make kata's vmm user join the per PV permission group

Similar to option 1, but instead of altering the devices' permission bits, make sure that CSI provides each PV a separate group and kata runtime changes the vmm user to join the PV's permission group. Downside, need CSI modification. Upside, kata doesn't manage PV devices' access mode.

[2021-09-21 16:08] fidencio commented on #2605
During the meeting @ananos mentioned in the chat about possibly taking advantage of https://linux.die.net/man/1/setfacl ...

Now that the discussion officially moved here, @ananos, feel free to be more verbose about your suggestion. :-)

[2021-09-21 16:15] ananos commented on #2605
I feel I'm missing something so take this with a grain of salt.

Modifying the ownership of a (device) file seemed a bit too hacky for me, so I was thinking that using something like ACL for files could be cleaner... given that the runtime has to run as root, issuing a setfacl to the files/dir/block device that will be passed along to the guest to be used by the container might make sense. Or if t

[2021-09-21 16:36] dborquez commented on #2685
I have replicated the kata setup mentioned by @GabyCT, and tried to set a value in `/proc/sys/vm/nr_hugepages` inside a single container as follows:

[code]

In the second experiment I have set `kernel_params = "rw"` in the kata configuration.toml, and then ran the container with `--privileged` parameter and got this result:

[code]

[2021-09-21 16:46] ananos commented on #2639
thanks @fidencio -- initially I think we should kick off two separate issues.

The first is adding an aarch64 build to the release process ([building it as part of the release system](https://katacontainers.slack.com/archives/C879ACQ00/p1631654028083800?thread_ts=1631651631.081100&cid=C879ACQ00)). I assume native execution is the best way to go; cross-compiling the whole stack might require quite

[2021-09-21 17:19] shuochen0311 commented on #2606
I am able to repro the issue with java. From the java code what I saw is:
1) kata has around 300MB/s bw while runc have around 1GB/s
2) vhost process consumes nearly 100% cpu.
3) After increasing the vhost process count, i can see significant perf improvements from kata container.

This behavior is different from what I saw in python version but this is closer to what we saw in our production envi

[2021-09-21 17:29] dborquez opened #2689 "Unable to start container as privileged: ctr: failed to create shim: failed to hotplug block device"
### Description:
I want to configure hugepages in kata 2.3.0-alpha0, but the container was unable to start as privileged.

1. Enable hugepages for CLH at the configuration.toml
2. restart containerd
3. run container with privileged flag

### Result:
[code]
### Additional information:

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect

[2021-09-21 17:31] mazzy89 commented on #2639
Thanks @ananos . Let me know if you guys need help on this. We can split the work if it is needed to make this faster.

[2021-09-21 18:07] RobertKrawitz commented on #2606
What did you get out of Kata with the increased vhost count, and how many vhosts did you run?

This is certainly in line with what I've observed, but it depends upon the traffic mix.

[2021-09-21 19:02] shuochen0311 commented on #2606
I get 1GB/s from kata container which is same as nonkata.
I make vhosts count same as cpu count which is 72, but i only saw around 5 vhosts consume around 50% cpus each. (totally 250%).

Would you mind share what you've done before, you mentioned it depends upon the traffic mix, what does it mean? Different packet size or something else?

[2021-09-21 19:17] RobertKrawitz commented on #2606
It depends upon packet size, amount of multi-threading, line speed, and that.  My experiments suggest that there's not much point in having vhosts > number of cores in the guest VM; go much beyond that, and performance can degrade; it's certainly possible that for some workloads you might need more.

[2021-09-21 19:37] #2444 closed

[2021-09-21 19:46] #1203 closed

[2021-09-21 20:45] #2545 closed

[2021-09-21 22:11] GabyCT commented on #2689
For QEMU the issue that I have see is https://github.com/kata-containers/kata-containers/issues/2611

[2021-09-21 22:24] GabyCT commented on #2467
This issue is only see on Kata as with RunC is working fine
[code]

[2021-09-22 02:35] YchauWang opened #2691 "The TestTemplateFactory unit test case of the template_test.go executed failed"
# Description of problem

The TestTemplateFactory  unit test case of the template_test.go executed failed. We got a os.PathError, because the `/tmp/vc/mockfs` path was removed. the case, `expect tt.statePath not exist, if exist, it means this case failed.`, had been executed correctly, but the assert code failed. We should asserted a error.
[code]

# Expected result

the unit test case executed co

[2021-09-22 03:28] dgibson commented on #2672
Sure, use of libvirt as a backend is an entirely unrelated topic.

Um.. that doesn't seem to agree with the initial description which says "This will allow it to be used by other projects.".  If it's still an internal interface, what's the benefit to splitting it out into a separate package?

Well, and we already have `type hypervisor interface`; we certainly can (and must) abstract the hypervisor

[2021-09-22 05:41] YchauWang commented on #2691
It istn't a bug, my env error.

[2021-09-22 05:41] #2691 closed

[2021-09-22 07:05] YchauWang opened #2694 "clear virtcontainers cgroup duplicated function."
# Description of problem

There are two [`DeviceToDeviceCgroup`](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/pkg/cgroups/utils.go) and [`deviceToDeviceCgroup`](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/pkg/cgroups/cgroups.go) functions, creating a `specs.LinuxDeviceCgroup` object.

# Expected result

keep one

[2021-09-22 08:17] #2340 closed

[2021-09-22 08:57] stevenhorsman commented on #2653
The PR #2656 associated with this issue has been merged, closing this issue

[2021-09-22 08:57] #2653 closed

[2021-09-22 10:10] jongwu opened #2696 "dir "v5.1.0" under tag_patches is needed for applying qemu patch on arm64"

[2021-09-22 10:14] fidencio opened #2698 "Ensure https://github.com/qemu/qemu/commit/9911ca0d1bca846f159ebdb48b9d8a784c959589 is applied for QEMU 5.x"
All CIs that have to build QEMU and still rely on QEMU 5.x should have https://github.com/qemu/qemu/commit/9911ca0d1bca846f159ebdb48b9d8a784c959589 applied in order to workaround git.qemu.org instabilities.

The CIs affected are everything on `stable-2.2` branch, but as some of those rely on cached QEMU, the ones we can see being more impacted are:
* s390x
* aarch64
* snap

And then aarch64 on `ma

[2021-09-22 10:19] Jakob-Naucke commented on #2698
@jongwu I can create a patch for QEMU 5.2 on `stable-2.2`, how do you want to handle ARM?

[2021-09-22 12:56] jongwu commented on #2698
@fidencio @Jakob-Naucke -,  arm is using qemu 5.1.0. So can you help apply the patch for qemu 5.1.x on stable-2.2?

[2021-09-22 15:24] GabyCT commented on #2689
This issue is only see on Kata as with RunC is working fine

$ sudo ctr run --privileged --runtime io.containerd.runc.v2 -t quay.io/prometheus/busybox:latest test sh
/ # echo 100 > /proc/sys/vm/nr_hugepages
/ # cat /proc/sys/vm/nr_hugepages
100

[2021-09-22 16:08] #2696 closed

[2021-09-22 16:27] Jakob-Naucke opened #2700 "Make sure cached QEMU/kernel builds are not used in production"
Good question, I don't know. I don't think kata-deploy and kata snap use those cached artifacts, but IMO it is worth checking. Certainly it deserves a new issue.

Thanks for bringing that topic, @Jakob-Naucke !

_Originally posted by @wainersm in https://github.com/kata-containers/tests/issues/3999#issuecomment-925073147_

[2021-09-22 16:27] Jakob-Naucke commented on #2700
I don't think so:
https://github.com/kata-containers/kata-containers/blob/b6ff23d21beacf9c67361ac3421f405c2a47ffc8/snap/snapcraft.yaml#L313
https://github.com/kata-containers/kata-containers/blob/b6ff23d21beacf9c67361ac3421f405c2a47ffc8/tools/packaging/static-build/qemu/Dockerfile#L78
https://src.fedoraproject.org/rpms/kata-containers/blob/c7544c2cf7878b71d30b1cad80d741fb31418c01/f/kata-containers

[2021-09-22 16:40] Jakob-Naucke opened #2701 "Backport QEMU's move to GitLab to 5.1.x"
ouch -- ARM still failed because the patch didn't apply. Let me TAL.

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/kata-containers/issues/2699#issuecomment-924979395, see also rest of thread_

[2021-09-23 00:51] yuanzhe-liu0 opened #2705 "qemu:qemu build fails due to wired submodules links"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers
   or `kata-containers.collect-data`, which is installed as part of the Kata Containers
   snapcraft package.
[code]
   or
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contai

[2021-09-23 01:50] #1971 closed

[2021-09-23 01:51] #2198 closed

[2021-09-23 02:26] yuanzhe-liu0 opened #2707 "upgrade qemu to 6.1 for arm"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers
   or `kata-containers.collect-data`, which is installed as part of the Kata Containers
   snapcraft package.
[code]
   or
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contai

[2021-09-23 03:08] lifupan commented on #2610
Hi @Bevisy

Can you enable the agent's debug mode by adding "agent.log=debug" to kernel_params and paste the full log here, since I couldn't reproduce it.

[2021-09-23 05:02] jongwu opened #2709 "snap build fail as there is no kata repo"
see http://jenkins.katacontainers.io/job/kata-containers-2.0-ubuntu-ARM-PR/2381/console

[2021-09-23 05:30] #2709 closed

[2021-09-23 06:26] Amulyam24 opened #2710 "packaging: qemu build fails on ppc64le"
see kata-containers/tests#3993

[2021-09-23 07:26] wllenyj commented on #2637
Get SandboxName from SandboxConfig of the PullImageRequest, then get the SandboxID based on the SandboxName from  SandboxNameIndex of cri.

[code]
https://github.com/containerd/containerd/pull/5971/commits/3fd50831e88f8537008d2aeed719babaac797ead#diff-c1021ec6c3cecde436373b5c0a3eb6527258e1c3fe264efacc626dcb16e42c41R176

[2021-09-23 09:27] Jakob-Naucke commented on #2700
ah, and kernel (this was just QEMU):
https://github.com/kata-containers/kata-containers/blob/b6ff23d21beacf9c67361ac3421f405c2a47ffc8/snap/snapcraft.yaml#L207
https://github.com/kata-containers/kata-containers/blob/b6ff23d21beacf9c67361ac3421f405c2a47ffc8/tools/packaging/static-build/kernel/build.sh#L32
https://src.fedoraproject.org/rpms/kata-containers/blob/c7544c2cf7878b71d30b1cad80d741fb31418c0

[2021-09-23 09:37] stevenhorsman commented on #2682
My current thoughts are that we split this work into 2 parts: short-term and long term.

For the short-term approach I think we choose:
1. i) Up front create a gpg key pair and from them create signed and unsigned images that we can push to https://quay.io/repository/kata-containers/confidential-containers.
2. i) Check the public gpg key into the kata containers git repo and build it into the imag

[2021-09-23 11:04] #2615 closed

[2021-09-23 11:05] #2621 closed

[2021-09-23 11:07] #2665 closed

[2021-09-23 11:54] #2302 closed

[2021-09-23 12:51] Champ-Goblem opened #2712 "Failed to update routes when creating sandbox"
# Issue
It was observed that kata was unable to create containers due to the existence of a network route within the kata guest kernel which was in conflict with the routes being added by the agent.

Adding some logging to the error detailed this problem further:

[code]

It comes about from how the IP address is assigned to the ethernet interface, kata copies any routes/assigned IP addresses that

[2021-09-23 13:39] dcmiddle commented on #1837
Generally an allow-list is more secure than a deny-list. To offset the usability challenge an example file could be provided with the minimum required APIs allowed, and perhaps some guidance on what other APIs should be enabled if the user experiences a failure.

This issue and an associated PR are pretty far along, though. An alternative would be to stay with the deny-list, but provide an example

[2021-09-23 14:55] #2174 closed

[2021-09-23 16:50] #2661 closed

[2021-09-23 17:14] Jakob-Naucke commented on #2701
that link didn't work somehow

[2021-09-23 17:14] #2701 closed

[2021-09-23 18:29] chavafg commented on #2689
@amshinde @likebreath any idea?

[2021-09-23 19:00] devimc commented on #2689
did you read this https://github.com/kata-containers/kata-containers/blob/main/docs/how-to/containerd-kata.md#kata-containers-as-a-runtimeclass? specifically this part?

[code]

[2021-09-23 20:17] GabyCT commented on #2689
@devimc yes here it is the config file
[code]

[2021-09-23 20:51] GabyCT commented on #2467
any idea @bergwolf ?

[2021-09-24 04:14] bergwolf commented on #2672
We can get cleaner interfaces between components inside virtcontainers. We can do it without putting it in a separate package but obviously we've failed on that path. Actually not just hypervisor.go, I would propose we split virtcontainers into several packages and move them to `pkg/` directory, and eventually there is no virtcontainers package.

[2021-09-24 04:59] #2638 closed

[2021-09-24 06:37] liudalibj opened #2715 "agent-ctl: Implement Linux OCI spec handling in the oci_to_grpc code"
**Which feature do you think can be improved?**

There is no `Linux OCI spec handling` in the oci_to_grpc code.
https://github.com/kata-containers/kata-containers/blob/main/tools/agent-ctl/src/utils.rs#L346

When we use agent-ctl to run containers, without linux namesapce support, the started container process is under the root context on sandbox VM.
To let the started container is running under i

[2021-09-24 06:58] jongwu commented on #2689
I tried it and kata works well. I test both for qemu and cloud hypervisor on arm.
ctr run --privileged --runtime io.containerd.run.kata.v2 -t --rm docker.io/library/busybox:latest hello sh
 / # ls /dev
fd       full     mqueue   null     ptmx     pts      random   shm      stderr   stdin    stdout   tty      urandom  zero
/ #  echo 100 > /proc/sys/vm/nr_hugepages
/ #  cat /proc/sys/vm/nr_hugepages

[2021-09-24 07:16] #2589 closed

[2021-09-24 07:47] Kvasscn opened #2718 "TestVirtiofsdStart reports "trace called before context set" in go test"
# Description of problem

when i run go test in src/runtime/virtcontainers dir,    TestVirtiofsdStart  reports "ERRO[0000] trace called before context set "，the test log like this:
[code]

# Expected result

no error report  while doing go test

# Actual result

in  virtiofsd_test.go  https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/virtiofsd_test.go#L73,   c

[2021-09-24 08:58] gkurz opened #2721 "Adding QEMU patches"
PR #2706 is adding [two patches](https://github.com/kata-containers/kata-containers/pull/1888/commits/bc36b7b49fafb1edc8aa6e9a18273f1bd81d215f) to QEMU 6.1 in order to support ARM. None of these patches exist in upstream QEMU and the second one wasn't even ever posted to the QEMU developer list AFAICT.

This raises a concerns. These patches will unlikely exist in QEMU 6.1 packaged by distros as we

[2021-09-24 08:59] Jakob-Naucke commented on #2721
/cc @fidencio @yuanzhe-liu0 @jongwu and myself

[2021-09-24 09:20] Bevisy commented on #2610
Hi @lifupan
use cmd `journalctl -t kata` to collect log and the full log as follow:
<details>
<summary>fulllog</summary>
-- Logs begin at Fri 2021-09-24 11:03:05 CST. --
Sep 24 17:14:49 zbb-pc kata[96187]: time="2021-09-24T17:14:49.336613902+08:00" level=info msg="loaded configuration" file=/etc/kata-containers/configuration.toml format=TOML name=containerd-shim-v2 pid=96187 sandbox=32fc50f6b44d48

[2021-09-24 09:29] liubin commented on #2610
hi @Bevisy , the log above is only for shim, but does not include the agent's log.

[2021-09-24 09:37] jongwu commented on #2721
Hello @gkurz -, for now, arm need both of these 2 patches, even they are nowhere in upstream qemu. Without the first patch, kata must start with ACPI to using nvdimm and without the second patch memory hotplug will fail for the memory alignment error. I agree with you that these patches are not reviewed by qemu community and may be harmful to kata but without them kata will not work well on arm.
I

[2021-09-24 09:39] dgibson commented on #2672
If we haven't managed to clean up the interface in the same package, I don't see much reason to believe we will once it's a separate package - it seems like putting the cart before the horse.  But, whatever, I've no objection on that front.

What does concern me is that the initial description really does seem to imply this will become an externally consumed interface, which I don't think is a goo

[2021-09-24 09:52] gkurz commented on #2721
Not getting traction from the QEMU community is itself problematic. We'll get things working with our private QEMU and things will break as soon as users start using the QEMU from their distro or upstream... and this will likely be blamed on kata.

This might take some time indeed but in the end we have more guarantees that users will have a consistent experience with kata.

Being a long time QEMU

[2021-09-24 09:57] Bevisy commented on #2610
How can i get the agent log? i have already added "agent.log=debug" to kernel_params.

[2021-09-24 09:59] gkurz commented on #2721
Apart from that I think we should have clear guidelines to add patches to external software that we re-build internally, like:
- only backport patches from upstream
- if non-upstream patch is direly needed, have it merged upstream first
- if extra changes are needed during backport, keep them as minimal as possible and document them

[2021-09-24 10:06] jongwu commented on #2721
@gkurz -, I'm very appreciated of that you can help us. IMHO it's better to apply these two patches in kata first and we can add a document for them while you push these code to upstream. Thus kata on arm won't be blocked. WDYT? Thanks!

[2021-09-24 10:23] fidencio commented on #2721
/cc @devimc

[2021-09-24 11:01] liubin commented on #2610
@Bevisy try set all `enable_debug` to true in Kata Containers's configuration file, and set log level to debug in containerd's config file.

[2021-09-24 11:12] luodw opened #2724 "Bring lazyload ability to kata containers"
[Research](https://www.usenix.org/conference/fast16/technical-sessions/presentation/harter) shows that time to take for pull operation accounts for 76% of container startup time but only 6.4% of that data is read. So if we can get data on demand (lazy load), it will speed up the container start.

Nydusd(https://github.com/dragonflyoss/image-service) is the project which build image with new format

[2021-09-24 11:21] gkurz commented on #2721
I fully understand that being blocked is a real concern you're having now. On the other hand, carrying non-upstream patches can lead to maintenance nightmares in the long run. This looks like a planning issue to me : QEMU 6.1 is obviously not ready to support ARM in our use case. Some more work is needed and this should be taken into account.

I'm not opposed to mitigate that with temporary patche

[2021-09-24 12:09] jongwu commented on #2721
Any idea? @yuanzhe-liu

[2021-09-24 12:20] yuanzhe-liu0 commented on #2721
@jongwu @gkurz -, I have not much qemu experince. I will withdraw the qemu patch temporarily.

[2021-09-24 14:46] devimc commented on #2689
fix/workaround:  Add `--mount type=bind,src=/dev,dst=/dev,options=rbind:rw` to the ctr command line, ie:

`sudo ctr run --privileged --runtime io.containerd.run.kata.v2 --mount type=bind,src=/dev,dst=/dev,options=rbind:rw -t --rm docker.io/library/busybox:latest hello sh`

[2021-09-24 15:40] dborquez commented on #2689
I have tried with the @devimc workaround, and I have the same config as such listed by @GabyCT. The issue is now:

`ctr: failed to create shim: failed to hotplug block device &{File:/dev/loop9 Format:raw ID:drive-cd53781f57b4c50a MmioAddr: SCSIAddr: NvdimmID: VirtPath:/dev/vdj DevNo: PCIPath: Index:9 ShareRW:false ReadOnly:false Pmem:false Swap:false} error: 500  reason: VmAddDisk(VmAddDisk(Device

[2021-09-24 15:58] devimc commented on #2689
yes, I can reproduce the same issue but only with cloud-hypervisor

 @likebreath any thoughts about this error: "failed to fill whole buffer"  ?

[2021-09-24 16:03] fidencio opened #2725 "workflows: Fix tags attribution in the release.yaml"
While releasing kata-containers 2.3.0-alpha1 we've hit some issues as
the tags attribution is done incorrectly.  We want an array of tags to
iterate over, but the currently code is just lost is the parenthesis.

This issue was introduced in a156288c1f8251bdd3231ec765d324f95a3da33e.

[2021-09-24 16:03] jodh-intel opened #2726 "No guest or agent output with debug enabled using cloud hypervisor"
Setting `enable_debug=true` when using `cloud-hypervisor` (CLH) results in no guest userspace output. The journal shows only kernel boot messages and CLH debug output.

I've tried this with CLH v15.0.0 and v18. The sorted kernel command-line args being provided by Kata for CLH are:

[code]

Running CLH stand-alone I see systemd output _and_ agent output using:

- Terminal 1:
[code]

- Terminal 2:

[2021-09-24 16:55] t3hmrman commented on #2474
BTW for anyone who finds this after, You can get past the `overlay` module issue thanks to some smart contributors:

- https://github.com/kata-containers/runtime/issues/2493
- https://github.com/kata-containers/runtime/issues/1888#issuecomment-739057384
- https://github.com/kata-containers/runtime/issues/1429#issuecomment-477385283

`overlay` is actually available (as the PRs in this repo show) it

[2021-09-24 17:25] dborquez commented on #2689
Thank you @devimc for this workaround:

Some loop devices in /dev/loop* are snaps because snap packages are created that way. The issue was fixed by clean up the snaps as this:

`snap remove "$snapname"
`

[2021-09-24 17:28] devimc commented on #2689
if after removing all the snaps the issue persist, remove all loop devices manually `sudo rm -f /dev/loop*`

[2021-09-24 17:28] #2725 closed

[2021-09-24 17:29] #2689 closed

[2021-09-24 18:18] fidencio opened #2729 "release: Fix wrong config for using vendored sources"
Our release action has a typo that, instead of adding the configuration for using the local vendored files to .cargo/config, it adds the configuration .cargo/vendor, making the vendored files useless for downstreams.

[2021-09-24 19:03] GabyCT commented on #2467
Closing this issue as this is fixed with the latest version of containerd

[2021-09-24 21:37] #2729 closed

[2021-09-25 00:30] jclab-joseph commented on #2467
@GabyCT Is it really fixed? It doesn't even work with the latest containerd.

The method presented https://github.com/kata-containers/kata-containers/issues/2689#issuecomment-926685856 also does not work.

[code]

[code]

[2021-09-25 10:17] #2718 closed

[2021-09-26 02:44] bergwolf commented on #2672
@dgibson AFAICT @mcastelino does want to use the hypervisor interafce in other projects. But I don't think we can provide a stable API for him. However, he is still free to use it in different projects even if we might change the APIs from time to time.

[2021-09-27 02:41] dgibson commented on #2672
@mcastelino any comment here?  As @bergwolf and I have both commented, it's not really within Kata's capacity to provide a stable (even slightly) external interface here.  If you're ok with that, then I have no strong objection, although doing the package split *before* designing the new, improved interface still seems backwards to me.

[2021-09-27 03:15] mcastelino commented on #2672
@dgibson @bergwolf Apologies for the delayed response. I wanted to see how many abstractions leaks we had in the Firecracker and Cloud Hypervisor implementations and there are a few. I will push an update to the PR once I clean them up and document them. I have code now that shows that we can separate the hypervisor logic from Kata.

It should demonstrate that there does exist (and more importantl

[2021-09-27 04:25] bergwolf commented on #2672
@mcastelino I agree that there should be a clear boundary between sandbox and hypervisor, and that we should introduce such a boundary for kata's own sake. The hypervisor interface may end up being stable, or not. It would be exposed as other packages in kata would consume it too. It is just that we will not be able to make a promise to keep the hypervisor interface stable (nor plan to). So if you

[2021-09-27 04:29] #2563 closed

[2021-09-27 05:14] dgibson commented on #2672
@mcastelino, I'm certainly in favour of cleaner internal interfaces.  It's only the fact that the initial post seemed to be suggesting another maintained external interface that I was concerned.  I can't really judge the new interface until I see the actual patches, but I'll be happy to review.

[2021-09-27 07:21] Amulyam24 opened #2735 "kata-check TestCCCLIFunction fails with mismatched types"
[code]

[2021-09-27 08:58] yangfeiyu20102011 opened #2737 "kata-netmon does not work"
**kata-runtime kata-network** is not used in Kata 2.x, but the code of kata-network sub command is kept in src/runtime/netmon/netmon.go.

[code]

handleRTMNewLink will call kata-runtime kata-network, it does not work.

Why do we also keep it ?

[2021-09-27 10:09] jodh-intel commented on #2726
Tried adding `--console off --serial tty` to Kata, as suggested in https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/README.md to capture early boot messages, but... no :banana: :sob:

[2021-09-27 10:15] jodh-intel commented on #2726
ftr, as expected, I see kernel + userland output with QEMU + firecracker, so it's just CLH that has this issue.

[2021-09-27 13:12] #2694 closed

[2021-09-27 13:14] #2515 closed

[2021-09-27 13:45] fgiudici opened #2738 "kata-monitor: minor enhancements"
kata-monitor has gone under rework in the PR https://github.com/kata-containers/kata-containers/pull/2566

The PR has been merged but a couple of (minor) improvements have been left out (see [this comments](https://github.com/kata-containers/kata-containers/pull/2566#discussion_r714656659)): take care of those!

[2021-09-27 13:54] c3d commented on #2014
Thanks, @skaegi. Let us know.

[2021-09-27 14:03] fgiudici commented on #2738
/assign @fgiudici

[2021-09-27 16:59] cmaf commented on #2672
@mcastelino What changes do you need to make to the tracing logic?

[2021-09-28 01:35] dgibson commented on #1704
I believe the switch to ACPI hotplug, and removal of PCI rescan (#1682) may have fixed this.  Can you retest @devfaz?

[2021-09-28 02:31] voidC1326 opened #2740 "CCv0 script run failed"
@stevenhorsman
When I run "./ccv0.sh -d build_and_install_all" on a brand new unbuntu 20.04 machine according to the instructions of docs/how-to/how-to-build-and-test-ccv0.md in the CCv0 branch, the failure information is as follows:
[code]

How should I solve this problem?

[2021-09-28 03:49] liubin opened #2741 "Delete not used file and code"
File `src/runtime/virtcontainers/utils/virtcontainers-setup.sh` is not used any more.

[2021-09-28 04:28] fengwang666 opened #2743 "Fix nil bug when cleaning up VM in rootless hypervisor mode"
It seems the client (crio) can send multiple requests to stop the Kata VM, resulting a nil reference on [this line](https://github.com/kata-containers/kata-containers/blob/8bbcb06af52294897a4d79099b74bcbaa1c9447c/src/runtime/virtcontainers/qemu.go#L1032) if the uid has already been cleaned up by a different thread.

[2021-09-28 06:33] dgibson opened #2745 "agent: pci modules has limited address handling"
# Description of problem

Some time ago, I created the `pci` module within the agent for handling of PCI slot numbers and PCI paths.  However, it doesn't currently handle other things to do with PCI address which would be useful.  e.g.:

- It doesn't have tools for manipulating (local) PCI addresses in the normal DDDD:BB:SS.F format
- It has no way of representing PCI functions - in particular no

[2021-09-28 07:15] YchauWang opened #2746 "packaging: build kernel failed because of https://cdn.kernel.org web server 503"
# Description of problem

CI TEST tools/packaging build kernel failed, because of the web server https://cdn.kernel.org response status 503.

[code]
[ci test log detail](https://github.com/kata-containers/kata-containers/pull/2719/checks?check_run_id=3729131326)

my local test error log:
[code]

[2021-09-28 07:16] YchauWang commented on #2746
#2719

[2021-09-28 07:17] YchauWang commented on #2746
runtime: improve unit test coverage for virtcontainers/pkg/cgroups #2719

[2021-09-28 08:30] stevenhorsman commented on #2740
Hi @voidC1326 - I've not seen that error before, and a few of us have run the script, but having a google it seems to be related to the git fetch.
Can you cd into ${GOPATH}/src/github.com/containerd/containerd and run `git branch` and see what the listing is. My guess is that you might already have a `PR_BRANCH` there?

[2021-09-28 08:53] liubin commented on #2746
![image](https://user-images.githubusercontent.com/1212008/135055964-5248e523-219a-4ebc-b44e-6cb704274583.png)

[2021-09-28 08:56] liubin opened #2747 "Optimize func noNeedForOutput and add test cases"
Optimize func [`noNeedForOutput`](https://github.com/kata-containers/kata-containers/blob/fff82b4ef564c4a16ece8d9779bd43951b49e767/src/runtime/pkg/containerd-shim-v2/utils.go#L114) and add test cases for this func.

[2021-09-28 09:42] jodh-intel commented on #2726
Tested with Kata 1.x and this used to work correctly.

After a _lot_ of testing various combos of kernel CLI options and CLH options, I've found the bug in Kata. Working on a PR...

[2021-09-28 10:00] liubin opened #2749 "Fix FIXME in hook.go"
https://github.com/kata-containers/kata-containers/blob/e155fb2b199c6ff60eed028e6c04dbe47d544823/src/runtime/pkg/katautils/hook.go#L35-L44

[2021-09-28 10:12] #2707 closed

[2021-09-28 12:21] liubin opened #2752 "Runtime: optimize test code for pkg/containerd-shim-v2 and pkg/katautils"
These two packages:

- pkg/katautils(/utils_test.go)
- pkg/containerd-shim-v2(/utils_test.go)

are using `init()` to create a rootfs by Docker/Podman service. And this leads to some issues:

- Not all cases need rootfs.
- Too much duplicated code.
- Temp files are not deleted after tests have finished.
[code]

[2021-09-28 14:13] c3d commented on #2650
Assigned both area/networking and area/storage since there seems to be both a networking permission failure and a storage permission issue.

@jlclx Could you give us the exact method you used to run your workload. I'm notably looking for details on whether it runs "privileged" and about storage configuration. I don't thinks this is captured by kata-collect.sh. Thanks.

[2021-09-28 14:18] c3d commented on #2659
@pmores I assigned this to you, as indeed this looks like a useful tool to maintain.

[2021-09-28 14:23] c3d commented on #2660
@paleozogt It still looks like it might be a bug on our side, since you mention it works with the default runtime.

The logs seem to indicate that we have a problem with the host mount. Out of curiosity, could you try with `-v /tmp:/tmp` and see if it makes a difference (trying to rule out permissions with your home directory).

[2021-09-28 14:28] c3d commented on #2673
Good catch @wainersm!

[2021-09-28 14:37] tibeer opened #2754 "ctr: dial unix /run/containerd(...) connect: connection refused: unknown"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.2.1 (commit af0fbb94602a23501e2e8a17a5c98974ff0dc325)` at `2021-09-28.14:33:39.936671282+0000`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/usr/local/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>/usr/lo

[2021-09-28 14:43] #2743 closed

[2021-09-28 14:50] paleozogt commented on #2660
Mounting `/tmp` works, as do most other paths outside of `$HOME`.  Curiously, while it doesn't error out for other paths, it doesn't seem to have actually mounted it properly.  Here's an example using `/home`:

[code]

[2021-09-28 14:58] #2698 closed

[2021-09-28 15:01] cmaf commented on #2698
@Jakob-Naucke @fidencio https://github.com/kata-containers/kata-containers/pull/2699 and https://github.com/kata-containers/kata-containers/pull/2702 were both merged, but based on comments it looks like the ARM CI may still be failing. Is this the case, or can we close this issue?

[2021-09-28 15:02] cmaf commented on #2698
@Jakob-Naucke disregard, I see you **just** closed it as I was writing

[2021-09-28 15:06] Jakob-Naucke commented on #2698
Yes, the linkage didn't work. Issues on ARM should be fixed by #2753.

[2021-09-28 16:34] mcastelino commented on #2712
@amshinde I thought at least in the old (go agent) implementation we were deleting all the routes before applying the agent obtained routes?

/cc @sameo

[2021-09-28 16:46] #2667 closed

[2021-09-28 16:46] #2663 closed

[2021-09-28 16:49] sameo commented on #2712
@mcastelino @Champ-Goblem We are already deleting all current routes:
https://github.com/kata-containers/kata-containers/blob/main/src/agent/src/netlink.rs#L122

So I'm wondering how there could be any of them left to conflict with the update.

[2021-09-28 16:50] gkurz opened #2757 "packaging: Configure QEMU with --enable-pie"
Recent PR #2732 had to disable plugins on ARM because -pie was breaking the build of sample plugins in the test directory of QEMU. This happens because we pass explicit PIE options through the extra CFLAGS and LDFLAGS, and this affects all binaries in QEMU, including test binaries that obviously don't support it. We should only rely on --enable-pie because the QEMU build system knows what can be b

[2021-09-28 16:51] Champ-Goblem commented on #2712
@mcastelino @sameo  I do believe you are in the rust implementation:
[code]
but in the `delete_routes` function any routes that were created by the kernel (which have the `proto kernel` field) are filtered out, and as the conflicting route is created by the kernel this is not deleted.

[2021-09-28 16:55] Champ-Goblem commented on #2712
What I have experienced though is if I removed the filter for kernel based routes it removes not only that conflicting route but others as well, this meant that networking was completely broken for the guest. Its this reason why I suggest hard coding the mask to `32` so that no routes are created by the kernel. https://github.com/kata-containers/kata-containers/blob/main/src/agent/src/netlink.rs#L

[2021-09-28 18:00] #2518 closed

[2021-09-28 19:08] paleozogt opened #2758 "kata-deploy is not multi-arch"
# Description of problem

While kata is distributed for many arches (the snap store shows `amd64`, `arm64`, `ppc64le`, `x390x`), the kata-deploy image (e.g. `quay.io/kata-containers/kata-deploy:2.2.0`) is only for `amd64`.

# Expected result

`quay.io/kata-containers/kata-deploy:x.y.z` should be a multi-arch manifest.

# Actual result

`quay.io/kata-containers/kata-deploy:x.y.z` is a single-arch i

[2021-09-28 19:16] mcastelino commented on #2672
@dgibson @bergwolf I have been iterating and trying to identify the gaps and changes needed here.
https://github.com/kata-containers/kata-containers/pull/2713

You will see the besides CreateVM the hypervisor logic is mostly generic. When it comes to createSandbox I have identified what is sandbox specific and what is hypervisor generic.

I also addeda simple test to validate that such an abstract

[2021-09-28 20:32] jlclx commented on #2650
Thank you @c3d!
## Regarding the `privileged` option for the `securityContext`
The fully rendered securityContext from the helm template appears to be

    securityContext:
      allowPrivilegeEscalation: true
      capabilities:
        add:
        - NET_BIND_SERVICE
        drop:
        - ALL
      runAsUser: 101

the `privileged` option does not seem to be in play here.

## Regarding the stor

[2021-09-28 22:01] jlclx commented on #2650
I believe I've discovered the issue @c3d
The default CloudHypervisor configuration contains the following additional flags for `virtiofsd` by default

    virtio_fs_extra_args = ["--thread-pool-size=1"]

`virtiofsd`'s documentation at https://qemu.readthedocs.io/en/latest/tools/virtiofsd.html indicates that the default behavior for extended attributes is to strip or not pass them

    xattr|no_xat

[2021-09-28 22:48] liubin opened #2759 "Runtime: optimize code for managing temp users for rootless mode."
Deleting temp users in `cleanupVM()(qumu.go)` can share code in file `pkg/containerd-shim-v2/create.go`

[2021-09-28 23:02] liubin commented on #2754
Hi @tibeer , it seems there are no logs uploaded, can you get some syslog when are you trying to run Kata Containers? Thanks.

[2021-09-29 01:20] liubin opened #2762 "Update monitor_address path in .gitignore file"
If the test(`TestCreateSandboxSuccess`) running slowly, sometimes the `monitor_address` will remain in the filesystem.

[2021-09-29 03:03] #683 closed

[2021-09-29 07:32] tibeer commented on #2754
@liubin this is what i can see from journalctl
[code]

[2021-09-29 07:44] YchauWang opened #2765 "runtime make check-go-static command report "cli: directory not found""
# Description of problem

I executed the make check-go-static command in the `[kata-containers/src/runtime](https://github.com/kata-containers/kata-containers/tree/main/src/runtime)` path. It reported the fallow message:
[code]
the cli path was moved to cmd path, by 'reoganize runtime cli code directory' #2627 PR.

[2021-09-29 08:09] zhaojizhuang opened #2767 "kata-shim overhead metrics is zero"
# Get your issue reviewed faster

# Description of problem

metrics collected by `kata-monitor`, overhead metrics is zero

[code]

# Expected result

show the correct overhead metrics of shim

# Actual result

[code]

# Further information

(replace this text with any extra information you think might be useful)

[2021-09-29 08:10] zhaojizhuang commented on #2767
</p>
</details>
<details>
<summary>Initrd details</summary>
<p>

# Initrd details

No initrd

---

</p>
</details>
<details>
<summary>Logfiles</summary>
<p>

# Logfiles

## Runtime logs

<details>
<summary>Runtime logs</summary>
<p>

No recent runtime problems found in system journal.

</p>
</details>

## Throttler logs

<details>
<summary>Throttler logs</summary>
<p>

No recent throttler problems

[2021-09-29 08:11] zhaojizhuang commented on #2767
cc @liubin

[2021-09-29 08:39] liubin commented on #2754
@tibeer How about `journalctl -u containerd` ?

And enable debug will be helpful for debug:

- change all `enable_debug` to true in Kata Containers' configuration.toml
- enable debug for containerd(`/etc/containerd/config.toml`) and restart containerd service:
[code]

[2021-09-29 09:12] liubin commented on #2767
Hi @zhaojizhuang , I tested it use the latest code locally and can get the overhead metrics with non-zero values.

Can you build with some log to check if there have some errors:?

[code]

[2021-09-29 09:30] fidencio commented on #2639
Hey!

Last Friday @ananos and I started the discussion, with some solid action items on what we can do to make this happen in a sustainable way, without putting the cart before the horses. :-)

RIght now the plan is:
* Locally build the static-binaries
* Adapt the base image (currently a CentOS 7 image with systemd support) to be something that can support all the arches we support (s390x, ppc64le

[2021-09-29 09:31] fidencio commented on #2758
@paleozogt, I'm closing this one as this is a dup of https://github.com/kata-containers/kata-containers/issues/2639.  Please, subscribe to that one instead.

[2021-09-29 09:31] #2758 closed

[2021-09-29 10:17] Jakob-Naucke commented on #2746
was resolved

[2021-09-29 10:17] #2746 closed

[2021-09-29 11:52] sameo opened #2768 "Start Sandbox failure when adding IPv6 interface routes"
An interface route is one that only contains a device (the interface), but no destination, source or gateway:

[code]

This is a perfectly valid route that some CNIs define and use when setting a k8s pod networking namespace.
When a CNI sets an IPv6 interface route, we're seeing StartSandbox failures due to the agent trying to set up some conflicting routes in the guest:

[code]

This is due to ho

[2021-09-29 11:55] fidencio commented on #2768
/cc @kata-containers/redhat @sbrivio-rh as this is quite crucial for downstream

[2021-09-29 12:40] tibeer commented on #2754
@liubin
A lot of messages like this:
[code]
I changed containerd to debug mode:
journalctl -u containerd
journalctl -u containerd
[code]

[2021-09-29 13:05] littlejawa commented on #2024
This issue is not relevant anymore as we won't be modifying stable-2.1 anymore.
Closing.

[2021-09-29 13:05] #2024 closed

[2021-09-29 13:08] liubin commented on #2754
Hi @tibeer , it seems containerd failed to startup:

[code]

You need update your containerd config file and ensure that `systemctl status containerd` that shows containerd is running.

[2021-09-29 13:48] sameo commented on #2712
@Champ-Goblem Slightly related PR: #2769

[2021-09-29 13:51] tibeer commented on #2754
Hi @liubin, first of all, thanks a lot for your help.
I found a typo in my containerd config and fixed it. This is the debug output is too long so i pasted it to pastebin: https://pastebin.com/GHMRFdCS

[2021-09-29 14:01] paleozogt commented on #2639
+1 for including ppc64le :)

[2021-09-29 14:23] liubin commented on #2754
Hi @tibeer from the logs you uploaded, I couldn't find any log about "connection refused: unknown" or "io.containerd.run.kata.v2", could you collect logs around your operation of starting Kata Containers?

[2021-09-29 14:50] tibeer commented on #2754
@liubin I only see the message of connection refused when I run this:
[code]
Within the log files I cannot find that message, too.
[code]

[2021-09-29 14:56] #2275 closed

[2021-09-29 15:25] GabyCT commented on #2685
Closing this issue as it has been solved

[2021-09-29 15:25] #2685 closed

[2021-09-29 15:25] #2532 closed

[2021-09-29 15:26] GabyCT commented on #2459
Closing this issue as it seems stable

[2021-09-29 15:26] #2459 closed

[2021-09-29 15:53] #2765 closed

[2021-09-29 16:45] #2762 closed

[2021-09-29 18:11] fengwang666 opened #2770 "use seed() to generate different random sequences"
When we create a random user for rootless hypervisor, [the same random sequence](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/pkg/containerd-shim-v2/create.go#L359) is generated across multiple runs, creating unstable behavior when retrying on transient failures.

Adding a seed() before solves the problem.

[2021-09-29 20:54] eadamsintel opened #2772 "Kata-deploy: Request to add experimental kernel to Docker images for easy installation and validation"
**Which feature do you think can be improved?**

`kata-deploy`

**How can it be improved?**

It would be nice to include the experimental kernel that can be created with the `build-kernel.sh` script

**Additional Information**

I spoke with @fidencio and he suggested I submit this idea here for him to look at. There are a few ways this could be done. One way could be to include it in the existing

[2021-09-29 23:20] likebreath commented on #2685
For future reference:

The resolution was removing unused block devices under `/dev` (e.g. snap and loop devices) from the host machine that was experiencing the issue (AWS instance).

It is likely due to the limit of supporting up to 32 devices from Cloud Hypervisor, given the default behavior of Kata when launching privileged container is sharing all block devices under `/dev` to the guest/conta

[2021-09-30 02:14] liubin commented on #2754
@tibeer can you share your containerd's config file.
The char `s` in path `/run/containerd/s/f89a747f6a50d5c2ffc699d28a658410899f12d03fa638893cc55d2da1cf53f6` is something strange.

[2021-09-30 02:54] liubin commented on #2754
Hi @tibeer , can your share your containerd config file?

And normally when running a new container, there should some logs like:

[code]

But I can't find these log in https://pastebin.com/GHMRFdCS

[2021-09-30 03:18] fengwang666 commented on #2770
@devimc Julio, I think you have seen this before. @egernst @fidencio Please also take a look.

[2021-09-30 05:02] tibeer commented on #2754
Hi @liubin, sure:

/etc/containerd/config.toml
[code]
I cannot find these logs either.

[2021-09-30 07:25] liubin commented on #2754
@tibeer  can you re-collect logs by the time range options of journalctl like this:

 `journalctl  -u containerd --since="2017-04-01 15:00:00" --until="2017-04-05 15:25:00"`

And the time range includes running `ctr run ...`

[2021-09-30 07:40] tibeer commented on #2754
@liubin sure:

[code]

[2021-09-30 08:20] #2735 closed

[2021-09-30 08:35] Champ-Goblem commented on #2712
@sameo Thank you.
Do you plan to make the change in the PR mentioned above? if so have you decided which method you will go with?

[2021-09-30 09:54] Jakob-Naucke commented on #2218
Thank you @diddledani -- I will TAL when I find the time.

[2021-09-30 10:52] Jakob-Naucke opened #2773 "Static checks !x86 failures"
[code]

[2021-09-30 13:46] devimc commented on #2770
@fengwang666 I'm facing the same error, I reported that in your PR https://github.com/kata-containers/kata-containers/pull/2432#issuecomment-912521596

[2021-09-30 14:45] jiangliu commented on #2682
With this proposal, all images from a protected registry must be signed, and all image from an unprotected registry must not signed. So signature is a property of registry/repository?

[2021-09-30 14:50] stevenhorsman commented on #2682
The [signature](https://www.redhat.com/en/blog/container-image-signing) signs the image including the manifest digest hash.
I'm not quite sure I understand the 2nd question - the signature is derived from the image, but you can set up configurations such that only certain repositories require signed images, which is what I'm proposing for the PoC to avoid having to configuration thousands of signa

[2021-09-30 14:54] jiangliu commented on #2682
Thanks for explanation, so the concept of 'unprotected registry' and 'protected registry' is only a convenience for the PoC, right?

[2021-09-30 14:57] stevenhorsman commented on #2682
Yes - in the 'final' version I'd guess we would require all images used to be signed, but the expectation would probably be that our security conscious users would be providing their own private container registries, so hopefully the signature configuration should be straightforward

[2021-09-30 16:05] #2726 closed

[2021-09-30 16:10] fengwang666 commented on #2770
@devimc can you take a look at the fix? https://github.com/kata-containers/kata-containers/pull/2771

[2021-09-30 16:23] liangzhou121 commented on #2682
Hi, about the Long-term with attestation agent proposal, I have three questions:
- How to pass the public key info such as KID to attestation agent? So the attestation agent can use this info to get the corresponding public key. (currently AA get layer's LEK decryption key's KID from layer's annotation)
- And where AA got the public key from? KBS? or some where else? Currently AA can build a secur

[2021-09-30 16:34] stevenhorsman commented on #2682
I guess maybe the broad question I should have asked in the long-term approach is what is the mechanism to get 'custom configuration' ie in this case potential the signature, the public gpg key, then config files that point to the public gpg key and signatures into the guests.
I guess in these cases, unlike in keys for decryption we don't necessarily need them to be secure, but we want to trust th

[2021-09-30 22:04] jcvenegas opened #2776 "cloud-hypervisor+containerd: Kata fails randomly with error `Dead Agent`"
The Kata CI fails randomly with : `cloud-hypevisor` + `containerd` + `kubernetes`  one common issue is an error that just says.

`Dead Agent`

[2021-09-30 22:06] jcvenegas opened #2777 "Increase timeout for check in cloud-hypervisor"
`virtcontainers.clh` `check` may cause some race conditions , as API calls handle by cloud-hypervisor is single thread and at kata start having multple API calls can delay the API response.

[2021-10-01 02:28] liangzhou121 commented on #2682
**As example: get public gpg key from AA directly for simplicity**
I think a potential simple workflow of this should be:
- Image pulling started by skopeo then skopeo send getPublicKey request to AA via GRPC. And the public gpg key's identity info should also be sent to AA simulataneously.
- After AA received the getPublicKey request, it will connect to a trust service to get the public gpg key a

[2021-10-01 06:17] Amulyam24 opened #2779 "static check fails on kata-check_*_test.go"
[code]

[code]
This came up while testing on ppc64le. I'm surprised on how we didn't see it occur on x86_64 or s390x/arm64(where static checks were enabled recently)
/cc @Jakob-Naucke

[2021-10-01 08:11] stevenhorsman commented on #2682
This doesn't match my understanding of how the verification process works. The 'proper' way to get the container image verified on pull is to pre-create a configuration for the repository that you are pulling from which provides a link to the gpg public key on disk *and* to put the signature in a defined place - which could be on disk in the default sigstore directory, or could be on an http serve

[2021-10-01 09:22] liangzhou121 commented on #2682
The AA is pod level program. And I don't sure whether following scenerio is reasonable.
As example, if a user want to launch 10 containers in the pod simultaneously, and these 10 container images are all located in different repositories.
- AA downloads all these potential configuration files and gpg public keys from 10 repositories and generate a pre-create configuration file that includes all li

[2021-10-01 09:28] stevenhorsman commented on #2682
Based on my understanding of the image verification (which might not be complete), that seems to be how I'd expect it to work.

I guess an alternative to AA setting up configurations could be to have a new agent endpoint to do this, but in a Kubernetes scenario I'm not sure what would end up calling it, maybe a custom resource definition as part of the confidential-containers operator we saw yeste

[2021-10-01 10:20] liangzhou121 commented on #2682
Sorry, maybe I make you confusion. Actually the communication protocol between KBS and AA can be extended because it's all KBS   and AA's KBC module's private protocol. So AA can fetch other data from KBS beside decryption key.
In order to keep AA codes footprint as small as possible, AA maybe can got those configuration files and gpg public keys from KBS. So **no** new authentication mechansim sh

[2021-10-01 10:26] liangzhou121 commented on #2682
Actually I don't sure whether it's possible to open a new agent endpoint.
Currently AA is designed to get some global configurations data from kata agent configuration file. And we also have a issue to discuss this.  https://github.com/containers/attestation-agent/issues/6

[2021-10-01 17:59] likebreath opened #2782 "runtime: clh: Enable `seccomp` from Cloud Hypervisor"
Cloud Hypervisor (CLH) provides fine-grained support of seccomp filters for each of its child threads. This feature from CLH was disabled in Kata (back to 1.x) due to two reasons: 1) periodic failures from Kata's CI jobs; 2) noticeable memory foot-print increase.

Considering the security benefits from using the sccomp feature, let's revisit the issue and try to bring it back to Kata when using CL

[2021-10-03 17:48] ManaSugi opened #2784 "[RFC][WIP] tools: Add standard OCI container runtime based on Kata agent"
# Proposal: Add a standard OCI container runtime based on Kata agent

## Motivation

The `kata-agent` has most of the [features](https://github.com/kata-containers/kata-containers/tree/main/src/agent#features) needed for the container runtime and delivers high performance with a low memory footprint owing to the implementation by Rust language.

If we can develop a Rust-based standard container ru

[2021-10-04 08:23] xinau commented on #2467
@GabyCT This issue is definitly not closed with the lastest containerd (1.5.6) version. Could you please re-open this issue or is this tracked somewhere else?

[code]

[2021-10-04 08:25] jodh-intel opened #2786 "Support agent tracing with Cloud Hypervisor and Firecracker"
# Intro

[Now that CLH displays userland log messages (including the crucial agent logs)](https://github.com/kata-containers/kata-containers/pull/2751), if you try to enable agent tracing, you'll find that the container boots but you don't get any trace output. The reason is that the agent is unable to connect via VSOCK to the trace forwarder running on the host. But why?

# Backstory

Firecracker

[2021-10-04 10:16] tibeer commented on #2754
@liubin I did a clean install on a new machine in parallel. Cloud-hypervisor itself able to run raw images, containerd can start containers with runc. Only the combination with kata does not seem to work. I can only assume that there must be either an incompatibility or a misconfiguration of kata or containerd. You have also access to this machine: ubuntu@81.163.193.92. I used your public key from

[2021-10-04 10:50] #2757 closed

[2021-10-04 12:49] devimc commented on #2467
@xinau what the output of: `sudo losetup` ?

[2021-10-04 13:22] jclab-joseph commented on #2467
[code]

[2021-10-04 23:46] shuochen0311 opened #2788 "Resize volumes without pod restarting"
**Is your feature request related to a problem? Please describe.**
kubernetes starts supporting resizing an in-use pvc: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#resizing-an-in-use-persistentvolumeclaim
in its 1.15 beta version and according to [GCP doc](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/#online-file-system-expansion), GCE-PD a

[2021-10-05 05:20] #2779 closed

[2021-10-05 07:56] liubin commented on #2754
Hi @tibeer I got this error when login :

[code]
Can you confirm that my public key has been added?

[2021-10-05 08:14] tibeer commented on #2754
@liubin sorry, had a typo. Should work now.

[2021-10-05 09:14] jongwu opened #2789 "tracking static check failure on arm64"
http://jenkins.katacontainers.io/job/kata-containers-2.0-ubuntu-ARM-PR/2468/console

[2021-10-05 09:33] Jakob-Naucke commented on #2773
even when resolving, this happens as part of the newly activated static checks:

[code]

[2021-10-05 10:31] Amulyam24 commented on #2773
lint failing with unused/deadcode on arch specific code
[code]

[2021-10-05 13:11] liubin commented on #2754
Hi @tibeer , I'm sorry that not imaged that the containerd version is too old of your system.

I logged into your server and updated contaienrd from 1.3.4 to 1.5.7, and it works now:

[code]

And also I set all `enable_debug` in `/etc/kata-containers/config.toml` to `true`, this may lead to too many logs, if not necessary, you can set them to false.

[2021-10-05 13:49] tibeer commented on #2754
@liubin this is absolutely awesome! Thank you so much! I downloaded containerd from here: https://storage.googleapis.com/cri-containerd-release/ Seems there is no newer version available there.
Have a great rest of the week and thanks again!

[2021-10-05 13:49] #2754 closed

[2021-10-05 14:20] #2768 closed

[2021-10-05 14:45] Jakob-Naucke commented on #2773
and ARM for completeness:
[code]

[2021-10-05 16:12] fengwang666 commented on #2788
@egernst @bergwolf @fidencio @jodh-intel @c3d @amshinde any comments?

[2021-10-05 16:37] #2676 closed

[2021-10-05 23:49] liubin commented on #2754
@tibeer the `cri-containerd` has been moved into `containerd` project, you can see readme of https://github.com/containerd/cri

[2021-10-06 00:21] liubin opened #2791 "Remove cri-containerd related things."
Through #2754, we can confirm that there are some `cri-containerd` related things that remain in the docs/code, and sometimes may lead to users being confused.

[2021-10-06 01:48] liubin opened #2793 "Add CRI implementation check for kata-runtime check"
`kata-runtime check` run checks for KVM/Kernel modules.
Add check of CRI(CRI-O containerd)'s version checks sometimes may be helpful to troubleshooting.

[2021-10-06 01:52] liubin opened #2794 "Add version matrix for Kata Containers and CRI runtimes"
Like this:

| Kata Containers version | containerd version | CRI-O version|
|---|---|---|
|2.2.2 | xxx |yyy |
|2.0.2 | xxx |yyy |

[2021-10-06 02:08] liubin commented on #2788
Related: https://github.com/kata-containers/kata-containers/pull/1568

[2021-10-06 08:47] fidencio opened #2796 "Update container to v1.5.7"
Bump containerd to v1.5.7 in order to bring in a fix for [CVE-2021-41103](https://github.com/advisories/GHSA-c2h3-6mxw-7mvq).

See: https://github.com/kata-containers/kata-containers/pull/2787

[2021-10-06 09:30] liubin opened #2798 "GitHub action require-pr-porting-labels.yaml format error"
When pushing a new branch to my fork, I will always get an error email notification with title "[liubin/kata-containers] Run failed: .github/workflows/require-pr-porting-labels.yaml - main (db7d3b9)"

And at GitHub shows this error:

![image](https://user-images.githubusercontent.com/1212008/136176687-9f24427d-cfc1-4d4b-bc8c-11c63306d59d.png)

The yaml file has an indent issue at line 15.

[2021-10-06 16:12] Jakob-Naucke commented on #2737
@yangfeiyu20102011 you may have tinkered more than I have, but enabling netmon in the config still seems to activate netmon. Are you sure?

[2021-10-06 17:29] Jakob-Naucke opened #2801 "linting: guestProtection is unused on ARM"
As far as **I** can tell, this should trigger on all architectures because two out of TDX+SEV/PEF/SE would be missing on x86_64/ppc64le/s390x too.

Soon to be in https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/qemu_arch_base.go#L156-L174

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/kata-containers/issues/2774#issuecomment-936092

[2021-10-06 17:29] Jakob-Naucke commented on #2801
/cc @jongwu

[2021-10-06 17:57] #2773 closed

[2021-10-06 17:57] #2789 closed

[2021-10-06 18:24] #2747 closed

[2021-10-07 03:54] #2741 closed

[2021-10-07 04:04] liubin opened #2804 "Updating labels of PRs will cause Static checks action to run"
Add/delete labels of a PR will trigger "Static checks" GitHub action to run, this will take a long time to finish.
Can we delete `labeled` and `unlabeled` from the types list?

https://github.com/kata-containers/kata-containers/blob/10ec4b133c55396d3ddfa93063350a06d45a7089/.github/workflows/static-checks.yaml#L2-L9

cc @jodh-intel

[2021-10-07 08:10] sameo commented on #1891
A proposal for a list of allowed endpoints for confidential containers:

[code]

I'm 100% sure that launching a basic pod with only those endpoints will fail. The idea here is to start the discussion and see what would break with the most basic pod and the current implementation.

For example, I'm removing `UpdateRoutes` from the allowed endpoints but today the runtime calls into that endpoint in

[2021-10-07 12:29] Jakob-Naucke opened #2805 "Rootful TestCreateSandboxSuccess leaves /run/vc/sbs/777-77-77777777 behind"
https://github.com/kata-containers/kata-containers/blob/10ec4b133c55396d3ddfa93063350a06d45a7089/src/runtime/pkg/containerd-shim-v2/create_test.go#L33

[code]

this breaks the `tests/integration/stability/soak_parallel_rm.sh` test which checks `/run/vc/sbs`.

/cc @Amulyam24 @fidencio

[2021-10-07 22:58] cmaf opened #2806 "Kata Containerd Shim v2 logs are missing in systemd journal"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.3.0-alpha1 (commit 5fd963530dfb003bc5d3a2a3c9bc7102c50ce667)` at `2021-10-07.22:41:19.227588433+0000`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/usr/local/bin/kata-runtime`.

# `kata-env`

<details>
<summary><tt>

[2021-10-08 01:37] jongwu commented on #2801
Hello @Jakob-Naucke -, these guestProtection are used in qemu_${arch}_test.go for non-arm, thus golint won't warn. But there is no such implementation for arm64, so the nolint is only for arm64.

[2021-10-08 02:54] yangfeiyu20102011 commented on #2737
Yeah, enabling netmon will activate netmon, but kata-netmon can't call kata-runtime kata-netowrk sub command to add the network interface.

[2021-10-08 05:49] #2759 closed

[2021-10-08 08:30] Jakob-Naucke commented on #2801
@jongwu you are right. While `qemu_${arch}.go` only use the respectively supported protection types, `qemu_${arch_except_arm}_test.go` test _all_ the protection types (in the cases of the "foreign" ones, they verify it errors out), e.g. https://github.com/kata-containers/kata-containers/blob/988eb95621b0cea53c78136e1c1b759b64316202/src/runtime/virtcontainers/qemu_amd64_test.go#L268-L272

I concede

[2021-10-08 08:31] lilongjiang1 opened #2807 "why the kata vm bind with host cpu has no expected effect in kata 2.0.1？"
# Description of problem
when we use docker update --cpuset-cpus command in docker+runc，we can see that container thread bind to host cpu as we expected。
But use docker update --cpuset-cpus command in docker+kata 2.0.1，we found that the bind action is done in kata vm，we found nothing happend between kata vm and host cpu。

# Expected result

bind kata vm to host cpu as update request

# Actual resu

[2021-10-08 09:26] sameo commented on #1891
Feedback from the 07/10/2021 CC meeting:

- Also inspect the endpoint payloads.
- Consider having one-time endpoints, i.e. endpoints being called once only.

[2021-10-08 09:59] liubin commented on #2805
Hi @Jakob-Naucke ,  I think I have found the root cause:

https://github.com/kata-containers/kata-containers/blob/988eb95621b0cea53c78136e1c1b759b64316202/src/runtime/pkg/containerd-shim-v2/create.go#L134

The management server created a socket file and prevented the directory to be cleaned.

I will create a PR to fix this.

[2021-10-08 11:42] #2805 closed, assigned to Jakob-Naucke

[2021-10-08 12:38] Jakob-Naucke opened #2809 "ARM unit tests are broken"
Hello @Amulyam24 -, I run unit test on arm and there are lots of failure, thus you can disable unit test on arm in this PR and I will fix and enable it later.

_Originally posted by @jongwu in https://github.com/kata-containers/tests/issues/4029#issuecomment-932250396_

Tracking here for easier reference, one example failure is:
[code]

@jongwu if I may :)

[2021-10-08 13:20] mythi opened #2811 "docs: update Intel SGX use case"

[2021-10-08 13:29] liubin opened #2812 "`root-span` of kata-agent is not collected"
Create and delete pods, the `root-span` is not collected by the trace forwarder.

[2021-10-08 13:44] devimc commented on #2807
afaik docker doesn't support kata 2.0.1 :confused:  :interrobang:

[2021-10-08 16:30] bchalios opened #2814 "RFC | feature proposal: execute a helper binary alongside containerd-shim-kata-v2"
We are building vAccel, a framework to facilitate hardware acceleration in multi-tenant platforms by decoupling user functions from their respective hardware implementations. To enable guest-to-host communication we use a transport mechanism with two ends: one in the guest and one in the host. This RFC examines the options to design this and integrate it in kata containers.

## Background & Motiva

[2021-10-08 16:30] c3d opened #2815 "Number of vhost threads is defined by boot-time CPUs"
The number of `vhost` threads is defined by the number of CPUs given to qemu at boot time.

This can limit networking performance. A workaround is to change `default_vcpus` using an annotation, but it would be nice to have a better mechanism to get a larger number of threads for network-intensive workloads.

[2021-10-08 16:33] cmaf commented on #2806
@bergwolf I think [this PR](https://github.com/kata-containers/kata-containers/pull/2628/files#diff-4453f167896f7d966422f05580972ac909c96a906b15ca635573c80442d6b787L72) may be what caused the change (thanks @jodh-intel for finding it), was the removal of the var name intentional? If so, we should document the behavior change somewhere.

[2021-10-09 01:17] jongwu commented on #2809
thanks @Jakob-Naucke

[2021-10-09 08:45] #2740 closed

[2021-10-10 12:57] #2745 closed

[2021-10-11 16:00] jodh-intel opened #2818 "Firecracker not working?"
I'm having problems getting Firecracker working (with or without jailer) using the static binaries on the GH releases page:

[code]

The journal shows:

[code]

Same result using the following versions:

- `2.1.1`
- `2.2.1`
- `2.3.0-alpha0`

Anyone else seeing this and / or interested in helping to debug?

/cc @egernst, @mcastelino

[2021-10-11 17:08] shuochen0311 opened #2819 "Fail to pass the mount point from init container."
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers
   or `kata-containers.collect-data`, which is installed as part of the Kata Containers
   snapcraft package.
[code]
   or
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contai

[2021-10-12 00:50] eadamsintel commented on #2818
Is it expected that Firecracker would work out of the box with `kata-deploy`?  I had a cluster with crio and the latest Kata running and when I tried the `kata-fc` runtime class I had similar errors.  If firecracker can't work out of the box with `kata-deploy` I wonder if it should be included as a runtime class. We don't include a `kata-acrn` runtimeclass.

[code]

[2021-10-12 01:05] likebreath opened #2820 "Refine the usage of guest console and kernel parameters with Cloud Hypervisor"
Following the work from @jodh-intel on https://github.com/kata-containers/kata-containers/pull/2751, we want to revisit the guest console and kernel parameter usage in Kata with Cloud Hypervisor, so that we have the best performance in production mode while have the full debugging log in debug mode.

[2021-10-12 08:32] Jakob-Naucke commented on #2809
For the first time, I also saw the failure in the OP on s390x; last night in internal CI. Taking a look...

[2021-10-12 12:01] Kvasscn opened #2824 "osbuilder: yq report unknown shorthand flag: '-X'"
# Description of problem
when  i  run  "make DEBUG=true DISTRO=centos rootfs" in kata-containers/tools/osbuilder dir,   failed to get rust version from versions.yaml,  and yq  report  "unknown shorthand flag: 'X' in -X".
[code]
# Expected result

should get rust version successfully in versions.yaml

# Actual result

Could not detect the required rust version by  osbuilder/scripts/lib.sh

# Furthe

[2021-10-12 15:50] shuochen0311 commented on #2788
Based on Oct 12th kata community discussion:
The community thinks adding new qmp socket makes the feature specifically to QEMU hypervisor. As a result, we want something more generic.
We agree on adding an additional API on the shim that allows the outside world to notify the shim for the device resize event. The community states it’s likely this can be upstreamed if the interface is generic enoug

[2021-10-13 07:48] bergwolf opened #2828 "agent: exec process capability is not set properly"
When running a non-privileged container, it turns out that we are not setting the process capability properly.

e.g.,

[code]

[2021-10-13 09:05] Jakob-Naucke opened #2830 "Backport runtime: Fix !x86 static checks"
#2774 needs backport

[2021-10-13 14:18] Jakob-Naucke opened #2833 "watcher::tests::create_tmpfs fails occasionally"
upon running `cargo test` as root in `src/agent`, after usually a couple of attempts:
[code]

or
[code]

branched out from #2809
seen across multiple architectures and distros
@sameo @egernst @mxpv can I bother one of you for a look?

[2021-10-13 16:02] #2828 closed

[2021-10-13 16:11] devimc opened #2834 "update check-spelling dictionary"
add Gramine and GSC, see https://github.com/kata-containers/kata-containers/pull/2810

[2021-10-13 16:15] #2834 closed, assigned to devimc

[2021-10-13 17:33] egernst opened #2835 "Add integration test for expected capabilities"
Let's add a k8s bats to check caps available for the workload, as well as from exec.

[2021-10-13 18:36] #2820 closed

[2021-10-13 23:09] liubin opened #2836 "Received strange GitHub actions notification"
After creating a new [comment](https://github.com/kata-containers/kata-containers/pull/2562#issuecomment-942778942), I received a notification mail:

![image](https://user-images.githubusercontent.com/1212008/137224710-db1cf204-bd05-4aa4-bedf-79a9645af016.png)

The error message is `Error: Comment didn't contain a valid slash command`

And all this checks failed: https://github.com/kata-containers

[2021-10-14 01:04] liubin commented on #2737
Hi, the netmon is used to support Docker in Kata Containers 1.x, we are planning to remove it later.

[2021-10-14 01:12] #2292 closed

[2021-10-14 09:09] Jakob-Naucke commented on #2830
You see that "linked a pull request that will close this issue" above? You see that stuff? It's not working!

[2021-10-14 09:09] #2830 closed

[2021-10-15 09:32] fidencio opened #2845 "kata-deploy: docker build fails due to "no permission to read from $directory""
[code]

A simple way to work this around is using a `.dockerignore` file, which is similar to a `.gitignore` file and serves the purpose to simply ignore paths in the build context.

[2021-10-15 10:03] fgiudici commented on #980
Yep, we can close this, thanks @liubin (missing the super-powers to close it myself) !

[2021-10-15 12:44] c3d opened #2847 "Typo in tracking package specification for api.go"
The code currently contains this:

[code]

This is the only tracing tags definition containing `packages` (plural) instead of `package` as a tag name. Other code looks like:

[code]

[2021-10-15 12:58] stevenhorsman opened #2849 "CCv0 | use ubuntu as the distro for the kata guest image rootfs"
We have previously wanted to use fedora:34 as a base distro as it has better built in support for container policies and tooling (eg skopeo).
However, as part of https://github.com/kata-containers/tests/issues/4045 I've tried lots of configurations to get a fedora 34 (and 30) based rootfs in the kata guest image working through the CI pipeline. fedora:34 always fails integration tests and even fed

[2021-10-15 15:10] Champ-Goblem commented on #2712
@amshinde I run into the problem when the command is run manually and also when invoked by containerd.
It seems to be that the CNI sets up the routes in the network namespace for the pod and therefore these routes aren't associated with the kernel.
As an example when I run the CNI command manually and inspect the created routes I see:
[code]
These are missing the `proto kernel` field, indicating t

[2021-10-15 15:23] jodh-intel opened #2851 "Shutdown extremely slow with firecracker and agent tracing enabled"
If you enable agent tracing and your configured hypervisor is firecracker, the container shutdown works correctly, but it takes a *very* long time (**15 seconds** on my NUC).

It looks like a vsock disconnect issue but maybe a FC guru can take a look at this?

Note that this problem does not affect users normally: it's only an issue if agent tracing is enabled (since in that scenario, the runtime

[2021-10-15 16:02] #2849 closed, assigned to nobody

[2021-10-15 16:22] jodh-intel commented on #2851
Related: https://github.com/kata-containers/tests/issues/3558.

[2021-10-15 16:36] fidencio commented on #2851
/cc @ananos :-)

[2021-10-15 20:17] devimc opened #2852 "snap: add cloud-hypervisor and experimental kernel"

[2021-10-15 20:44] fidencio opened #2854 "CCv0 | Add a Makefile target for building & uploading a kata-deploy image for the v0 milestone"
As the confidential-containers operator is using kata-deploy, let's provide an image that contains the CCv0 bits on it.

[2021-10-16 08:39] #2845 closed, assigned to nobody

[2021-10-18 06:50] #2847 closed, assigned to c3d

[2021-10-18 08:46] liubin commented on #2505
@Bevisy Now the `kata-runtime exec pod-id` can run into a shell inside the guest if debug console is enabled, but there is no `kata-runtime list-pod` available.

[2021-10-18 09:45] c3d opened #2857 "Switch to containerd/cgroups 1.0.2 (better cgroups v2 support)"
**Which feature do you think can be improved?**

We are currently using `containersd/cgroups` version 1.0.1.

**How can it be improved?**

Release 1.0.2 was tagged 10 days ago, see https://github.com/containerd/cgroups/releases/tag/v1.0.2.

**Additional Information**

 Among other features, it offers improved support for cgroups v2.

[2021-10-18 09:47] jodh-intel commented on #2851
I've just found https://github.com/kata-containers/kata-containers/pull/471 which seems to be related.

[2021-10-18 11:06] #2398 closed

[2021-10-18 14:20] ManaSugi opened #2858 "versions: Add libseccomp and gperf version for seccomp feature"
**Which feature do you think can be improved?**

In #1788, The `kata deploy build / build-asset (rootfs-initrd) ` failed because `get_version()` in `tests/.ci/lib.sh` was not able to get `gperf` version in `versions.yaml`. This happens because the tests script is looking at `versions.yaml` of upstream in the deploy build test, not #1788 branch. To pass the test, I need to update `versions.yaml` at

[2021-10-18 20:28] wainersm opened #2862 "osbuilder: the dracut method is broken"
When building the osbuilder with dracut method, it fails because the to be installed version of rust isn't calculated.

Here is the error log:
[code]
Notice it is being passed `null` to the `install_rust.sh` script. This regression was introduced by commit f34f67d610146cb954.

[2021-10-19 00:52] dgibson commented on #2393
Attn: @marcel-apf @fidencio @mazzy89 @devimc

[2021-10-19 00:52] #2393 closed

[2021-10-19 02:39] #2791 closed

[2021-10-19 04:21] #2752 closed

[2021-10-19 05:01] #2786 closed

[2021-10-19 05:05] #2858 closed, assigned to nobody

[2021-10-19 08:40] #2477 closed

[2021-10-19 10:48] #2862 closed, assigned to wainersm

[2021-10-19 14:33] stevenhorsman opened #2865 "CCv0 | agent - pull image request doesn't reject empty new container id"
# Description of problem

- Build and install ccv0 branch as per the [documentation](https://github.com/kata-containers/kata-containers/blob/CCv0/docs/how-to/how-to-build-and-test-ccv0.md)
  -  Install the dependencies and build the code: `. ~/ccv0.sh -d build_and_install_all`
  - Create a kata pod with: `~/ccv0.sh -d create_kata_pod`
  - Override the default container id used in testing with `exp

[2021-10-19 14:37] jodh-intel commented on #2851
From the official FC FAQ (https://github.com/firecracker-microvm/firecracker/blob/main/FAQ.md#how-can-i-gracefully-reboot-the-guest-how-can-i-gracefully-poweroff-the-guest):

@ananos - I guess this is what you were referring to just now in the PTG meeting. for reference, here is the systemd service file for the agent when running with an `image=`:

- https://github.com/kata-containers/kata-contain

[2021-10-19 21:28] wainersm opened #2867 "Add CI for osbuilder"
osbuilder is quite complex today... it supports many rootfs  (ubuntu, centos, fedora...etc), build method (distro vs dracut), builders (initrd vs image), use docker vs podman...and so son. Currently it is indirectly tested on our jobs on Jenkins and in the github workflow for kata-deploy; this is sub-optimal as usually we test just a small number of possible combinations. As a result regressions m

[2021-10-20 09:07] c3d opened #2868 "Regression for systemd cgroups following last vendoring"
As very briefly documented in [a comment attached to PR #2332](https://github.com/kata-containers/kata-containers/pull/2332#issuecomment-947463493) and in a [question asked on containerd/cgroups](https://github.com/containerd/cgroups/issues/209#issuecomment-947466225), it looks like there was a regression introduced with the last vendored version of `containerd/cgroups` regarding the `systemd` cas

[2021-10-20 09:14] #1892 closed

[2021-10-20 13:48] jodh-intel opened #2869 "Kata docs in different languages"
In the [PTG yesterday](https://etherpad.opendev.org/p/kata-vptg-2021-oct), we discussed the possiblity of producing Kata documentation in various other languages, starting with Chinese (since that is where the main interest seems to lie).

Some random thoughts...

# Owners

Who is going to do the conversions? We'd need a few (3+?) owners per language I feel to allow for folks being away, etc.

# I

[2021-10-20 15:22] c3d commented on #2868
From @fgiudici:

The cgroups creation complying with the systemd cgroups management has been dropped .
See [kata code](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/pkg/cgroups/cgroups.go#L125)

What we need seems to be to create the cgroups as explained [in the containerd/cgroups README](https://github.com/containerd/cgroups#create-with-systemd-slice-supp

[2021-10-20 15:26] c3d commented on #2868
From private exchanges between @fgiudici and myself, it looks like a regression introduced by revendoring:

The cgroups creation (through `containerd/cgroup` code) seems now cgroupfs compliant only (coming to this statement following the links in the above comment)).

Yep, it is a regression. @sameo  changed the cgroups library we used this is why not trivial to spot.
[Previous library had a boole

[2021-10-20 20:27] devimc commented on #2467
@jclab-joseph agree, but there is a limit in the amount of devices that you can attach to Kata Containers (VM)

[2021-10-20 22:45] likebreath opened #2871 "Upgrade to Cloud Hypervisor v19.0"
Highlights from the Cloud Hypervisor release v19.0:

1. Improved PTY handling for serial and `virtio-console`;
2. PCI boot time optimisations;
3. Improved TDX support;
4. Live migration enhancements (support with `virtio-mem` and `virtio-ballon`);
5. `virtio-mem` support with `vfio-user`;
6. AArch64 for `virtio-iommu`;
7. Various bug fixes for live-migration and VFIO passthrough;

Details can be f

[2021-10-21 00:08] egernst commented on #2868
Francesco, Christophe -- is there an e2e / integration test in place that should've caught this?  (I expect there wasn't?) Can you share a test for reproducing the failure?

[2021-10-21 02:56] liangzhou121 opened #2873 "CCv0 | rootfs - Need to add CentOS 8.4 into supported OS list"
# Description of problem
- As CentOS, currently rootfs build script only support CentOS 7. But we need to build a guest rootfs image that can be used inside TDX environment. And currently TDX's offical MVP package only supports CentOS 8.4. And we also don't sure whether TDX will support CentOS 7 in future.

# Proposal
- In order to let CCv0 also workable inside TDX, it needs to extend the rootfs b

[2021-10-21 08:34] jodh-intel commented on #2869
Before anyone invests a huge amount of time in this though, I feel we should discuss it further in the AC meeting as translations are hugely time consuming. and we want to make the best use of everyone's time.

[2021-10-21 08:40] timmy6985 opened #2875 "start kata container failed while hotplugging AMD cpu in some cases"
# Description of problem

We start kata  container failed in some cases, and suspect it is related to AMD cpu hotplug. But we don't know the specific reason, so please help us.

Components Version:

- Kata: 1.12.1
- VMM: qemu 5.2.0
- Guest kernel: linux-5.10.29
- Host kernel: linux-4.18.0

### reproduction method

Command of starting kata container:

[code]

With the AMD CPU(256 physical cores), w

[2021-10-21 10:00] timmy6985 commented on #2875
Done, please help us to analyze the reason of the problem. Thank you very much anyway.

[2021-10-21 11:28] #2811 closed, assigned to nobody

[2021-10-21 13:17] jodh-intel commented on #722
The following is taken from the OIF Kata Containers PTG etherpad: https://etherpad.opendev.org/p/kata-vptg-2021-oct with minor formatting tweaks to turn it into markdown:

/cc @c3d, @dgibson

[2021-10-21 15:26] #2871 closed

[2021-10-21 17:01] jodh-intel commented on #722
@zer0def - definitely, now we're aware of them ;)

[2021-10-21 18:29] stevenhorsman opened #2876 "CCv0 | agent - sometimes pod sandbox crashes during unpack"
In CCv0 test scripts we default to use fedora as a test images as it is available in an unauthenticated and unrestricted container registry. However due to it's relatively large size I think it might be causing issues with the pod sandbox.
Sometimes the first call to pull and unpack an image fails during the unpack eg.
[code]

The pod we are hijacking the sandbox of shows:

[code]
I think this is

[2021-10-22 00:06] ericwadams opened #2877 "Update QAT driver to the latest version"
The QAT driver [QAT.L.4.15.0-00011](https://www.intel.com/content/www/us/en/download/19734/intel-quickassist-technology-driver-for-linux-hw-version-1-7.html) has been updated. The QAT Dockerfile needs to be updated to support the latest driver.

[2021-10-22 09:06] stevenhorsman opened #2879 "CCv0 | doc Update CCv0 how-to document to fix root prompts"
Following some feedback from @jodh-intel about the [CCv0 doc](https://github.com/kata-containers/kata-containers/blob/CCv0/docs/how-to/how-to-build-and-test-ccv0.md)

He is completely correct - I've only tested it with a root user, but been sloppy with how I've documented the commands, so the prompts are ambiguous. In order to comply with the standards I need to test it on a not root user and add

[2021-10-22 20:59] egernst opened #2880 "hypervisor: cleanup hypervisor abstraction"
Ideally they hypervisor interface would be its own package, without leaked sandbox details throughout.

As a first step on this journey, we can do some non functional changes:
 - rename interface to be more VM focused, since that is what we're dealing with
 - export key structures/functions

[2021-10-22 22:11] egernst opened #2882 "hypervisor: remove sandbox references"
remove any sandbox references from the hypervisor implementation

[2021-10-22 22:12] egernst opened #2883 "hypervisor: create pkg at //src/runtime/pkg for hypervisor"
To enforce a proper abstraction, let's move hypervisor handling into its own package at the top level of the runtime.

[2021-10-22 22:12] egernst opened #2884 "hypervisor: use consistent logging pattern throughout hypervisor and hypervisor implementation code"
var moduleLogger = log.WithField("subsystem", "module")

func (m * M) SetLogger(logger *log.Entry) {
	fields := moduleLogger.Data
	moduleLogger = logger.WithFields(fields)
}

func (m *M) logger() *log.Entry {
	return moduleLogger
}

[2021-10-22 22:25] egernst opened #2885 "block-device: add support for cold plug"

[2021-10-22 22:29] egernst opened #2886 "hypervisor: move endpoint logic out of hypervisor"
hypervisor just needs to know how to do attach/detatch/save/load?

[2021-10-22 22:30] egernst opened #2887 "network: add support to device manager for network devices"
Ideally we'll treat network devices similar to any other (using device manager).

Add network 'devices' support to device manager for:
 - tuntap
 - macvtap
 - vhost-user-net (already in device manager -- good example? look at blk?)

[2021-10-24 02:34] hligit commented on #2405
@c3d Thanks for the insight! I had a closer look recently and noticed uevents of `remove` action are ignored in v2 agent, but not in [v1](https://github.com/kata-containers/agent/blob/1.12.0/agent.go#L747).  I've tested the [patch](#2889) in our environment and can no longer observe the `failed to mount` error.

[2021-10-25 00:15] ManaSugi opened #2890 "rustjail: Consistent coding style of LinuxDevice type"
**Which feature do you think can be improved?**

Only the device type of `dev/full"` uses `String::from("c")` though other devices
use `"c".to_string()` as follow.

https://github.com/kata-containers/kata-containers/blob/03877f34798729713317ece6040b3e11d9297979/src/agent/rustjail/src/container.rs#L143-L160
**How can it be improved?**

Use `"c".to_string()` in the device type of `dev/full` in order

[2021-10-25 02:25] #2880 closed, assigned to mcastelino

[2021-10-25 10:19] liubin opened #2892 "agent: do not return error but print it if task wait failed"
It's better to print the errors and let it continue.

https://github.com/kata-containers/kata-containers/blob/baf4784a297fedfb7ed56b67657eef8b6df78195/src/agent/src/main.rs#L230-L236

[2021-10-25 16:07] jodh-intel opened #2894 "enabling runtime tracing results in runtime panic"
[code]

Seen in journal when tracing agent with CLH.

Could you tal at this @cmaf?

[2021-10-25 16:46] Jakob-Naucke opened #2895 "static build is broken on s390x"
no libpmem, OpenSSL missing for kernel... PR is prepared

[2021-10-26 00:37] dgibson opened #2897 "k8s SR-IOV plugin environment variables won't be correct with vfio_mode=vfio"
# Description of problem

[This is a theoretical limitation, I haven't actually tested the behaviour yet]

The the Kubernetes SR-IOV plugin, when assigning VFs to containers, sets environment variables in those containers which tells the payload the PCI address of the VF to use.  With Kata, the VM will have different PCI addresses for the devices than the host, so the contents of these environment

[2021-10-26 01:12] dgibson opened #2898 "vfio_mode=vfio may not work with block device volumes and qemu"
# Description of problem

[This is a theoretical bug, I haven't actualy tested the behaviour yet]

Block device volumes (with at least some configurations) create a `virito-blk-pci` device in the VM, which is managed by the guest kernel's driver, and mounted by the agent to present the volume to the container.  With `vfio_mode=vfio`, VF devices added to the guest will be bound to the `vfio_pci` dr

[2021-10-26 01:36] dgibson opened #2899 "With vfio_mode=vfio and all VFIO devices will be in the same VFIO group in the guest"
# Description of problem

[This is a theoretical bug, I haven't actualy tested the behaviour yet]

With the default `hotplug_vfio_on_root_bus=false`, then all VFIO devices in a container will be hotplugged behind the same PCIe to PCI bridge.  This means that they will all appear in the same VFIO group within the guest.

This is ok for what I suspect is the most common use case: a single DPDK appli

[2021-10-26 01:47] dgibson opened #2900 "Multi-device IOMMU groups in the host won't work with vfio_mode=vfio and hotplug_vfio_on_root_bus=true"
# Description of problem

[This is a theoretical bug, I haven't actualy tested the behaviour yet]

If there are multiple devices in the same IOMMU group on the host, they must appear in the same IOMMU group in the VM as well - otherwise there's no way to emulate the correct behaviour.  Qemu shouldn't allow this situation, and even if it does the Kata agent explicitly checks that this is the case i

[2021-10-26 03:55] liubin opened #2901 "monitor notify twice in watchHypervisor"
Line 144 and 145 are extracted the same.

https://github.com/kata-containers/kata-containers/blob/3d0fe433c6ec1531b42added9f55d135a35e2c0f/src/runtime/virtcontainers/monitor.go#L142-L148

The second line is added by #2881, it's not intentional I think.

[2021-10-26 07:22] #2901 closed, assigned to nobody

[2021-10-26 07:39] xuhui187 opened #2904 "clh: need 'fds' in netConfig"
Cloud-hypervisor use 'fds' in NetConfig. If using 'fd' in vm config, it won't works.

cloud-hypervisor netConfig struct: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/vmm/src/config.rs

![image](https://user-images.githubusercontent.com/34016331/138830574-abf63114-bb81-4732-a1dc-088afc1e946c.png)

[2021-10-26 09:48] #2892 closed, assigned to nobody

[2021-10-26 10:01] jodh-intel opened #2905 "Drop privileges when running the trace forwarder with a hybrid vsocks hypervisor"
Update the trace forwarder to lower privileges once it's bound to the magic host-side `AF_UNIX` socket used by the Hybrid VSOCK hypervisor (CLH or FC).

Since that socket address is below the sandbox directory, and since that directory is root owned, the forwarder must be started as `root` when using it with a Hybrid VSOCK hypervisor. However, once the socket has been bound, the tool can drop priv

[2021-10-26 10:19] #2894 closed, assigned to cmaf

[2021-10-26 14:41] Jakob-Naucke opened #2907 "osbuilder should include attestation-agent"
CCv0.sh installs skopeo and umoci, but it
- assumes x86,
- doesn't include attestation-agent, and
- is hard to integrate.

PR is prepared.

[2021-10-26 15:32] Jakob-Naucke opened #2909 "Use versions.yaml for skopeo, umoci, attestation agent"
In #2908, we introduce functionality in osbuilder to add skopeo/umoci/attestation-agent, but with hard-coded versions due to time constraints of the CCv0 demo. It is more maintainable and consistent to use `versions.yaml` instead.

[2021-10-26 18:53] #2895 closed, assigned to Jakob-Naucke

[2021-10-26 20:24] #2905 closed, assigned to jodh-intel

[2021-10-27 02:21] huyifanstar opened #2910 "I see oom in the syslog log"
[code]

[2021-10-27 05:37] zhutongcloud opened #2912 "Kata-runtime not support Host networking mode ?"
**Before raising this question**
I change my k8s cluster node2 runtime to kata-runtime,but flannel and kube-proxy pod is hostnetwork mode,so cause create pod failed.
Events:
  Type     Reason                  Age                   From               Message
  ----     ------                  ----                  ----               -------
  Normal   Scheduled               12h                   d

[2021-10-27 06:03] dgibson opened #2913 "Kernel built by tools/packaging doesn't include Intel IOMMU support"
# Description of problem

The minimal kernel configuration built from the fragments in `tools/packaging/kernel` does not include `CONFIG_INTEL_IOMMU`.  This means we don't have IOMMU support in the guest kernel, which means we can't use the new-style VFIO support added in #2795, without building a guest kernel different from the one which Kata normally builds.

In particular that means the CI (whi

[2021-10-27 08:59] jodh-intel opened #2914 "Enable hybrid VSOCK for the agent-ctl tool"
Update the `agent-ctl` tool to allow it to talk to the agent running inside a hypervisor that uses Hybrid VSOCK (such as CLH / FC).

[2021-10-27 09:00] #2877 closed, assigned to ericwadams

[2021-10-27 09:08] #2836 closed, assigned to nobody

[2021-10-27 16:42] sameo opened #2916 "Agent config sample is wrong"
The agent configuration sample file is wrong and misleading.

In particular, the endpoints list showing all allowed endpoints is wrong.

[2021-10-28 06:24] Amulyam24 opened #2920 "template test fails on ppc64le"
[code]
error returned - `stat /tmp/vc/mockfs: no such file or directory`

[2021-10-28 09:21] ManaSugi opened #2922 "release: Upload libseccomp source code with notification to release page"
**Which feature do you think can be improved?**

Kata agent enables seccomp feature from the #1788.
The agent is statically linked with the [GNU LGPL-2.1](https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html) licensed [libseccomp library](https://github.com/seccomp/libseccomp) ​by default and included in `kata-containers.img` as deliverables in release page.
Therefore, we need to attach the com

[2021-10-28 13:23] #2913 closed, assigned to dgibson

[2021-10-28 15:17] GabyCT opened #2924 "runtime: remove comments about unsupported features in clh"

[2021-10-28 19:42] #2924 closed, assigned to nobody

[2021-10-28 20:51] egernst opened #2926 "differentiate between cri sandbox versus single container"
Today our containerType handling will default to vc.Sandbox if no annotation is present.

In the future it may be useful to be able to differentiate between a pod sandbox (in CRI case, this will be a pause container request) versus a single container (ie, doing a ctr run, where the container is the actual workload).

Let's differentiate these 2 scenarios as a first step in improving our VM managem

[2021-10-29 03:51] #2916 closed, assigned to sameo

[2021-10-29 07:30] YchauWang opened #2928 "virtcontainers api document functions dissync with the codes"
# Description of problem

Virtcontainers API document functions weren't sync with the codes `Sandbox` and `VCImpl`.
The function `CreateSandbox` describe as follow codes
[code]
in the api.md document. It's real codes are
[code]
in the impementation.go.
But we have an other function is `CreateSandbox` in the api.go, they are diff by a `factory Factory` parameter. Api document make us confused with

[2021-10-29 08:20] YchauWang opened #2930 "We need to make an end of the span in the shim2 shutdown action `if` branch"
# Description of problem

We only added `span.End()` in the main process of the shim2 `Shutdown` method. The "Shutdown" span would keep alive, when the containers number is not 0, the `if len(s.containers) != 0` case execute:
[code]
We shoud make an end for  the above case of "Shutdown" span. Make sure the "Shutdown" trace span have a correct end.

[2021-10-29 14:13] wainersm opened #2932 "ci/libseccomp: it fails to build libseccomp when DESTDIR is set"
# Description of problem

After the merge of commit a3647e34865d7b2e1f16de90 the job that I maintain on OpenShift CI started to fail when building the rootfs for the initrd.

The problem is caused by `DESTDIR` being exported by the `.ci/openshift-ci/build-install.sh` script.

The `ci/install_libseccomp.sh` script builds and install `gperf` and update the `PATH` so that the configure script of libs

[2021-10-29 14:44] #2922 closed, assigned to nobody

[2021-10-29 15:01] #2928 closed, assigned to nobody

[2021-10-29 16:10] jodh-intel opened #2934 "Create a required (mandatory) GitHub action to run unit tests"
We used to use codecov.io to enforce unit test code coverage for PRs but we [removed that for various reasons](https://github.com/kata-containers/tests/issues/3435).

Although we _could_ re-enable that service, I think it might be overkill: we're at the point where we should be able to write a GitHub action to call  our [`go test`](https://github.com/kata-containers/tests/blob/main/.ci/go-test.sh)

[2021-10-29 19:15] likebreath opened #2936 "virtcontainers: clh: Guest kernel uses the "serial" as the default console by default"
We observed that the guest Linux kernel picks its own default console, e.g. `ttyS0` (the serial console), when we don't specify the console parameter expicitly. For this reason, the guest kernel will try to read and write to the serial port that is not emulated by the VMM. It brings several unnecessary PIO/ VMM exits that slow-down the boot time. Also, we don't have control over the guest that may

[2021-10-29 22:25] #2036 closed

[2021-10-29 22:26] #2624 closed

[2021-10-29 22:27] #2433 closed

[2021-10-29 22:28] #1982 closed

[2021-10-29 22:29] #2042 closed

[2021-10-29 23:08] eadamsintel commented on #2899
I am having an issue that a virtual function on the host is in its own IOMMU group but when hot plugged into the QEMU VM it shares an IOMMU group with the PCI-PCI bridge. If it is cold booted in the VM then it ends up in its own IOMMU group.  Would this patch solve that issue or would a hotplugged VF share an IOMMU group with the PCI-PCI bridge?  TIA!

[2021-10-30 06:29] dgibson commented on #2899
@eadamsintel yes, that has the same root cause as this bug.  Classic PCI (not PCIe) doesn't have requestor IDs, so the IOMMU can't distinguish between devices behind a PCIe to PCI bridge.  They all appear with the bridge's requestor ID, so they all show up in the same group.

Solving this bug will require a different arrangement for plugging the devices - probably each device on it's own PCIe root

[2021-10-30 07:38] #1997 closed

[2021-11-01 01:55] jongwu commented on #990
virtio-fs works on arm, thus, it seems this issue can be closed.

[2021-11-01 01:55] #990 closed

[2021-11-01 02:43] #2205 closed

[2021-11-01 10:49] jodh-intel commented on #2910
@huyifanstar - please run the command requested in the bug template. Here it is for your reference:

https://github.com/kata-containers/.github/blob/main/.github/ISSUE_TEMPLATE/bug_report.md

I think the title of this issue needs to change as there is no obvious oom.

[2021-11-01 12:59] zvonkok opened #2938 "NVIDIA GPU passthrough not working, QMP fails"
### Host
[code]

### Kata version (also tested with 2.2.x version)
[code]
### containerd version

[code]
### Simple Kata containers run without hardware passthrough

[code]

### IOMMU Group with PCIe bridges and a GPU

The GPU is bound to the VFIO driver via kernel command flag since most of the distributions are not building VFIO as a module anymore.

[code]
### Kata with IOMMU Group 66

[code]

[2021-11-01 13:03] fidencio commented on #2938
@zvonkok, @dgibson has done a bunch of work related to this that is part of the `main` branch now but not yet part of an official release.  The first thing I'd like to ask you is, would it be possible for you to give it a try with latest `main`?

Also, @dgibson, does this ring a bell?

[2021-11-01 13:05] zvonkok commented on #2938
@fidencio Yes, on it. Will report.

[2021-11-01 14:05] ManaSugi opened #2939 "agent: Re-enable seccomp feature on aarch64"
**Which feature do you think can be improved?**

Currently, seccomp feature on aarch64 in Kata agent is disabled temporarily by [this commit](https://github.com/kata-containers/kata-containers/commit/42add7f201cf082d0d06d676c5cf20e6088ac2fb#diff-5237eeadfd1e12c0229a75f01de02efe718171f823fe00343fe51560a26a02af) because the CI test of aarch64 fails.

In order to pass the test, we needed to run `ci/i

[2021-11-01 15:01] zvonkok commented on #2938
### Update
Still the same error message

[code]

### contained shim v2 version
[code]

### Kata version
[code]
### git head/main/origin
[code]

### The build scripts only support `yq` version 3, latest (4.2.x)  `yq` fails

[code]

[2021-11-01 15:04] #2932 closed

[2021-11-01 16:21] zvonkok commented on #2938
@dgibson Any pointers?

[2021-11-01 17:22] #2630 closed

[2021-11-01 19:26] eadamsintel commented on #2899
@dgibson I have an actual use case right now that I think this would fix. My vf gets hot plugged into the same IOMMU group as a PCI-PCI bridge but, due to security reasons, the vf driver does not allow any other devices in that IOMMU group. I think your work on vfio would solve this at least based on your description.  I thought this was a hypervisor limitation and not something the runtime or age

[2021-11-02 01:55] #2914 closed

[2021-11-02 02:53] liubin opened #2942 "Enhancement for Makefile of runtime"
There are some issues with Makefile for runtime:

- `default` target can't be used as a dependent of other targets.
- empty target `check`

And adding a golintci check will be helpful before committing and pushing code to GitHub and letting static-check.sh check golint issues.

[2021-11-02 03:24] huyifanstar commented on #2910
I adjusted the size of default_memory(configuration-qemu.toml), now I don’t restart

[2021-11-02 03:24] huyifanstar commented on #2910
I adjusted the size of default_memory(configuration-qemu.toml), now I don’t restart

[2021-11-02 03:33] liubin commented on #2910
Hi @huyifanstar , does this mean that your problem has been resolved? If so can you close this issue?

[2021-11-02 07:45] liubin opened #2944 "Refactor the IO processing of the container process"
Now close process IO is done in rpc.rs and has many duplicated codes.

[2021-11-02 11:22] Jakob-Naucke commented on #2809
reopening -- #2844 fixed another ARM unit test issue, but not this one

[2021-11-02 11:25] Jakob-Naucke opened #2946 "watcher::tests::test_watch_entries fails occasionally"
across [x86_64 and s390x], I can also observe
[code]

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/kata-containers/issues/2809#issuecomment-940788225_

This has not been fixed by #2844.

[2021-11-02 11:26] Jakob-Naucke commented on #2809
sorry, that was just a sub-issue, now tracked in #2946. Closing.

[2021-11-02 11:26] #2809 closed

[2021-11-02 11:26] Jakob-Naucke commented on #2833
Fixed by #2844

[2021-11-02 11:26] #2833 closed

[2021-11-02 15:24] stevenhorsman opened #2947 "CCV0 | version: Update CCv0 to use the confidential-containers fork of containerd"
At the Image management sync up call with Alibaba and Intel, Samuel requested that we move the containerd fork we are using into the confidential-containers repo. As such I've created https://github.com/confidential-containers/containerd/tree/current-CCv0 there.

We need to update the tests and kata-containers repos to update CCv0 to both install this new containerd fork during testing.

[2021-11-02 16:48] stevenhorsman opened #2949 "kata-deploy | CCv0 : Add the ability for kata-deploy to specific what image it uses"
**Which feature do you think can be improved?**

The kata-deploy process (specifically I used local-build)

**How can it be improved?**

At the moment the kata-deploy process seems to build and deploy the clear-linux (which is probably the versions.yaml default) rootfs image. For CCv0 we'd currently just support ubuntu as we need extra packages and binaries installed, so it would be good to be abl

[2021-11-02 16:49] stevenhorsman commented on #2949
CC @fidencio - raised as discussed. Let me know if you need more info, or if there is anything else I can do to help!

[2021-11-02 16:57] hleal18 opened #2950 "Kata not creating symbolic links on mounted ConfigMap"
## Kubelet version

v1.20.11+k3s1 - deployed on k3s.

v1.20.10-gke.2100 - gke cluster.

## Operating System

Ubuntu 20.04.3 LTS

## Kata version

kata-runtime: 2.2.0-alpha1 → 2.3.0-alpha2

# Description of problem

When mounting a ConfigMap the default behavior is for Kubernetes to create hidden folders and some symbolic links between them and the file on the top level. We've found that when using

[2021-11-02 17:18] larrydewey opened #2951 "Installing yq via snap pulls latest release (unsupported)."
# Kata Details
 *Omitted as not directly related to kata*

# Description of problem

Following the instructions in the documentation, installing the dependencies (yq) via snap pulls the latest build, which no longer supports the `read` or `-r` command line parameter, causing the script to fail.

# Expected result

Following the instructions would install dependent software without causing breakage

[2021-11-02 17:24] larrydewey opened #2952 "Attempting to build kernel without version flag fails"
# Kata info
*Omitted, as it does not directly relate to kata*

# Description of problem

Due to #2951, and also due to the latest release of `yq`, attempting to build the kernel without passing `-v [kernel-version]`, the build fails, as it cannot find the kernel version number.

# Expected result

Build the kernel without requiring the version flag.

# Actual result

[code]

# Further information

[2021-11-02 17:29] larrydewey opened #2953 "build-kernel.sh documentation needs update"
# Kata info
*Omitted as it does not directly relate to kata*

# Description of problem

The documentation specifies that software dependencies should be installed via `snappy/snapd` which is proprietary and maintained by Canonical. This software is not installed by default on all distributions.

# Expected result

At the very least, alternative installation methods should be provided. At the best,

[2021-11-02 17:32] larrydewey opened #2954 "Add functionality to build-kernel.sh allowing users to install external dependencies."
**Which feature do you think can be improved?**

Updating `build-kernel.sh` to include a special flag for allowing users to choose to install required external dependencies.

**How can it be improved?**

Possibly by adding a flag similar to `--install-external-deps` to the script.

**Additional Information**

N/A

**Before raising this enhancement request**

Have you looked at the [limitations doc

[2021-11-02 18:10] git-noise commented on #2611
Hello,

For info I am also seeing the same issue in a nested virtualization scenario.Using kata-containers latest/stable: 2.2.2 installed via snap.
What confuses me is that kata looks for containerd path while I am using cri-o.

Although it has its own issue, latest/candidate: 2.1.0 does not produce the same error and works with cri-o.

Many thanks,

[2021-11-02 22:13] fidencio commented on #2434
Let me close this one as all the other parts have been merged.

[2021-11-02 22:13] #2434 closed

[2021-11-02 22:15] fidencio commented on #2950
@hleal18, does this only happen with cloud-hypervisor?
@egernst, @lifupan, does this ring any bell?

[2021-11-02 22:15] egernst opened #2955 "We can size VM appropriately *if* resources are provided for sandbox container create request"
Today in Kubernetes, sandbox level sizing information is not available through CRI. With 1.23 (see kubernetes/kubernetes#104886), the CRI API is updated to include an optional field in the LinuxPodSandboxConfig field which is part of the RunPodSandbox request. sandbox create request, as seen here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1al

[2021-11-03 00:28] dgibson commented on #2899
First, note that this issue is specifically about the new `vfio_mode=vfio` behaviour, where the device is presented as a VFIO device within the container.  Since you're discussing a vf driver, I'm guessing you're using the old `vfio_mode=guest-kernel`
behaviour, where a custom driver in the guest kernel is attached to the device.  Changes that fix this behviour for `vfio_mode=vfio` *might* also ch

[2021-11-03 00:55] dgibson commented on #2938
Hrm.  Unfortunately that `Device 'vfio-bf35ce81cd1f15c20' not found` message doesn't help much with figuring out what's going on, since it's just a generated name with no obvious link to the underlying device.  It's worth seeing if Kata has logged anything more useful to the syslog.

Some assorted points:

- Yes, Kata will use all the devices in the group (there's nothing else it can do: Kata's in

[2021-11-03 06:35] #2944 closed

[2021-11-03 10:10] zvonkok commented on #2938
This is the error message for 2.3.0 (vfio-xxxxx) , in 2.2.0 I had one of the PCI brigdes listed as not found, so Kata tries to use all PCI devices in the group, indeed.

PCI root or bridges should not be used when doing passthrough.

`hotplug_vfio_on_root_bus = true` not using this one, I want to keep the host topology, this could break GPUDirect when GPU and NIC are used which are in different IO

[2021-11-03 11:06] fgiudici commented on #2611
Hey, thanks for the report.
Kata 2.2.x is not working with CRI-O due to some issues related to cgroups management.
After 2.2.x was branched a rework on cgroups management has been merged and the pod creation is no more an issue.
There are still issues however on how the cgroups are created when systemd cgroups driver is used (see #2868): the plan is to put effort in the main branch to fix systemd

[2021-11-03 11:29] jodh-intel commented on #2938
Possibly related (Nvidia GPUs + vfio): #835, #1142, #1704.

[2021-11-03 11:48] hleal18 commented on #2950
@fidencio, tested also with `kata-qemu-virtiofs` runtimeClass and the issue persists

[2021-11-03 12:33] ManaSugi opened #2957 "The agent fails if an unknown seccomp system call is set to a container"
# Description of problem

Currently, Kata agent cannot continue to run if an unknown seccomp system call that is not supported by the kernel is set to a container.

For example, we set `RuntimeDefault` seccomp profiles using `crictl`, the agent may fail in case the profile includes unknown system calls in the kernel.

[code]

<details><summary>container.json</summary>

[code]

</details>

<details

[2021-11-03 12:51] fidencio commented on #2950
@hleal18, thanks for confirming it.  Then the problem is not related to the hypervisor, but most likely on the agent.
I think Eric or Li could have a better idea of this and, for now, I'll add the right tags to the issue report.

[2021-11-03 14:29] wainersm opened #2960 "CI: Fedora/CentOS based jobs are failing after Fedora 35 release"
There are jobs which use the image-builder (`kata-containers/tools/osbuilder/image-builder`) to build the guest image. The image-builder is actually a container built out of Fedora. Currently it uses `fedora:latest`; Fedora 35 was released yesterday and that started to fail the build of the image-builder image (the fedora 35 dnf mirrors are broken).

Here is an error log:
[code]

[2021-11-03 14:36] wainersm commented on #2960
Cc @fgiudici @littlejawa @fidencio @marcel-apf @devimc @GabyCT

I'm coping you because that issue breaks the jobs you own. I've already a fix for that problem.

[2021-11-03 14:54] wainersm commented on #2960
@ariel-adam @GabyCT this issue is an opportunity to discuss further the "always green CI" initiative...

Some almost random thoughts:

* I only found that issue because I happened to open a PR, otherwise I would not have seen that. What would happen then?
* The job started to fail yesterday after the release of Fedora 35, our baseline jobs ran *before* that so I only see the error today. Maybe I s

[2021-11-03 15:38] jodh-intel commented on #2960
We really shouldn't be using `fedora:latest` for https://github.com/kata-containers/kata-containers/blob/main/tools/osbuilder/image-builder/Dockerfile#L6 imho.

Our general practise is to pin versions to minimise breakages, as we've been broken _soooo_ many times by upstreams in the past. That's why we introduced the concept of "versions databases":

- https://github.com/kata-containers/kata-conta

[2021-11-03 16:53] git-noise commented on #2611
Thanks a lot for the info. I'll follow the main branch, build and report if I can - it may not be immediate though.

[2021-11-03 17:43] jodh-intel commented on #2960
That sounds like a topic for the AC meeting.

I don't think there is one simple answer to this, but timely code reviews (by as many people as possible), good docs and static checks are part of the solution.

If you're aware of a linter for Dockerfiles, please add it to

[2021-11-03 17:46] jodh-intel commented on #2960
Prolly worth creating a separate issue to discuss quality though.

[2021-11-04 03:37] #2942 closed

[2021-11-04 07:58] snir911 opened #2963 "Support systemd cgroups driver when sandbox_cgroup_only=false"
**Which feature do you think can be improved?**

Currently systemd cgroup is supported only when sandbox_cgroup_only=true (once #2959 is mereged)
evaluate what needs to be done in order to support the overhead cgroup as well when systemd cgroups driver is used

**How can it be improved?**

Support it

**Additional Information**

related also to: #2868

[2021-11-04 08:08] snir911 opened #2964 "Docs: update the host-cgroups document with systemd cgroups driver support"
**Which feature do you think can be improved?**

Update the [host - cgroup document](https://github.com/kata-containers/kata-containers/blob/main/docs/design/host-cgroups.md)t with the changes done by: https://github.com/kata-containers/kata-containers/pull/2959 and https://github.com/kata-containers/kata-containers/issues/2963 (once merged)

[2021-11-04 08:16] Burning1020 opened #2965 "agent: remove_container umounts container_mounts twice"
hi, all,
Recently I found something strange that container mountpoints umount twice when agent removes container.
1. https://github.com/kata-containers/kata-containers/blob/main/src/agent/src/rpc.rs#L261
2. https://github.com/kata-containers/kata-containers/blob/main/src/agent/src/rpc.rs#L271

Mount point that umounted in the first place will be umounted again in the second place. So the second um

[2021-11-04 10:01] jodh-intel opened #2966 "Enable debug logs for the agent"
We have a local logging crate that is used by the rust agent, the `trace-forwarder` and the `agent-ctl` tool:

- https://github.com/kata-containers/kata-containers/tree/main/pkg/logging

That crate is built on the [`slog`](https://docs.rs/slog/) logging framework which strips out extraneous logging calls at _compile time_. The strip behaviour is controlled by the `slog` `*_max_level*` features:

-

[2021-11-04 10:20] zhaoxuat opened #2968 "Kata container error: timed out connecting to vsock"
I Create a local rootfs with this:
`$ export ROOTFS_DIR=${GOPATH}/src/github.com/kata-containers/kata-containers/tools/osbuilder/rootfs-builder/rootfs`
`$ sudo rm -rf ${ROOTFS_DIR}`
`$ cd $GOPATH/src/github.com/kata-containers/kata-containers/tools/osbuilder/rootfs-builder`
`script -fec 'sudo -E GOPATH=$GOPATH USE_DOCKER=true SECCOMP=no  ./rootfs.sh ${distro}' `

create pod  error:  timed out conn

[2021-11-04 11:14] jodh-intel commented on #2968
Thanks for raising @zhaoxuat. Can you check the `kata` system journal output to ensure it doesn't contain anything private / confidential, and then paste or attach it here?

Since you've enabled debug output, that might give us more of a clue as to what is failing.

[2021-11-04 15:38] #2939 closed

[2021-11-04 16:05] #2966 closed

[2021-11-04 16:15] jodh-intel opened #2969 "Always run logging crate tests"
As a follow-up to #2966, ensure that the tests for the `logging` crate are run before building any of its consumers: the tests are currently not run and are partially broken.

Additionally, add new tests for the debug log level issue identified in #2966.

[2021-11-04 16:24] stevenhorsman commented on #2947
Item closed with #2948 merging

[2021-11-04 16:38] #2947 closed

[2021-11-04 16:57] zvonkok commented on #2938
@dgibson In kubeVirt we're providing the PCI addresses for any passthrough device and the UUID of any mediated devices, which would translate to:

[code]

Rather then passing the whole IOMMU group one could use env vars e.g. to make those things available.
[code]
WDYT?

[2021-11-04 18:33] #2547 closed

[2021-11-04 18:33] #2930 closed

[2021-11-04 18:50] egernst commented on #2965
Thanks for bringing this up @Burning1020!

Is this something that you would be able to submit a PR to address?

[2021-11-04 18:58] egernst commented on #2950
@hleal18 - Great issue report -- appreciate all of the details, it makes it easier to triage for sure!

This is introduced in more recent releases because of a feature to allow for fsnotify to work with configmaps, secrets. See https://github.com/kata-containers/kata-containers/blob/main/docs/design/inotify.md

I won't be able to dig into this right away, but I'm confident this is mishandling here

[2021-11-05 02:35] Burning1020 commented on #2965
Sure, i'll submit it several hours later.
But, hasn't anyone reported it ever before as it is a obvious repeat umount call and this bug would possiably have happened at many muilti-mounts scenarios.
Or it's just my fault that soemthing i didn't relized in other codes that could possiably fixes it.

[2021-11-05 02:48] dgibson commented on #2938
I'm not really sure what you mean by this.  Neither mode really preserves the host topology.  Usually I'd say that `hostplug_vfio_on_root_bus = true` would be closer to the host than without (assuming a PCIe host).  As noted this can't be used in your case though.

How to implement the filtering isn't really a problem, we'd just need to do it.  I think explicitly looking for bridges is probably sa

[2021-11-05 02:53] dgibson commented on #2938
Not really applicable to Kata.  kubeVirt has explicitly managed VM objects, and has specific configuration for each one which can include this information.  The information Kata gets is an OCI specification, so what we see is a VFIO group device.

Technically I guess the environment is in there as well, but that's really for consumption by the payload not the runtime, so I don't think configuring

[2021-11-05 02:59] Burning1020 commented on #2965
ping @yyyeerbo @sboeuf @harche

[2021-11-05 09:32] lilongjiang1 commented on #2807
this commit fixed the problem:https://github.com/kata-containers/kata-containers/commit/831224aa224a5d4bf04a21216a4fe8745e2e9549.

this issuse need to close，thanks

[2021-11-05 11:00] #2591 closed

[2021-11-05 14:22] jodh-intel opened #2978 "agent-ctl: Allow specification of API fields in JSON"
Update the [`agent-ctl`](https://github.com/kata-containers/kata-containers/tree/main/tools/agent-ctl) tool to allow any API fields to be specified either on the command-line or in a file using JSON format.

Currently, the tool allows the user to set certain fields (such as container ID / Sandbox ID), but this is only marginally useful: all fields should be able to be specified.

[2021-11-05 22:54] paleozogt opened #2980 "can't set cpu limit on ppc64le"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `2.2.0-alpha1 (commit fe7e6a2dc1b265f855a8c9bca113029e6c2ad1de)` at `2021-11-05.15:44:56.085779642-0700`.

---

<details>
<summary>Runtime</summary>
<p>

Runtime is `/snap/kata-containers/754/usr/bin/kata-runtime`.

# `kata-env`

<det

[2021-11-06 18:21] #2910 closed

[2021-11-08 06:59] lilongjiang1 commented on #2807
the bug fixed in commit https://github.com/kata-containers/kata-containers/commit/831224aa224a5d4bf04a21216a4fe8745e2e9549.   The issuse could be closed.

[2021-11-08 07:11] fidencio commented on #2807
Closing per https://github.com/kata-containers/kata-containers/issues/2807#issuecomment-961747833

[2021-11-08 07:11] #2807 closed

[2021-11-08 12:18] a74731248 opened #2983 "when create rootfs with alpine, does it mean use musl libc instead of glibc?"
just like the title. when I create a rootfs with alpine, does it mean use musl libc rather than glibc?

[2021-11-08 13:16] #2969 closed

[2021-11-08 13:28] jodh-intel commented on #2983
Hi @a74731248 - yes, Alpine doesn't use glibc.

[2021-11-08 13:36] sameo opened #2984 "Add an agent gRPC service for Image management"
As part of https://github.com/kata-containers/kata-containers/issues/149 and more generally of #1332 , we need to define and implement a kata-agent gRPC service for handling images inside the guest.

[2021-11-08 13:37] sameo commented on #2984
cc @wllenyj

[2021-11-08 13:55] jodh-intel opened #2985 "Remove StartTracing and StopTracing dynamic agent trace APIs"
PR #2353 remove the trace mode configuration option but didn't remove the corresponding `StartTracing` and `StopTracing` agent APIs.

See also #2062 which provides details of the decision to remove dynamic tracing.

[2021-11-08 14:51] Jakob-Naucke opened #2987 "Runtime unit tests occasionally fail with error 2"
a unit test is failing on s390x

[code]

_Originally posted by @devimc in https://github.com/kata-containers/kata-containers/issues/2915#issuecomment-954798319_

doesn't happen every time -- do go tests run in parallel?

[2021-11-08 14:52] Jakob-Naucke commented on #2987
Transferred from tests as it is a unit test issue.

[2021-11-08 16:07] Jakob-Naucke commented on #2909
I ended up doing this in the referenced PR already

[2021-11-08 16:07] #2909 closed

[2021-11-08 16:32] git-noise opened #2988 "Conflict with libvirtd?"
**Before raising this question**

Have you looked at our [document](https://github.com/kata-containers/kata-containers/tree/main/docs) and still haven't found the answer?

I did and did not find that specific qemu/kvm-related question.

**Question**

When installed via snap on an Ubuntu hypervisor, I observed that their seem to be a conflict between kata-containers and libvirtd, where libvirtd doe

[2021-11-08 17:31] etrunko opened #2989 "Vendored source code not released together with 2.3.0-rc0"
There is no vendor code tarball released with the latest 2.3.0-rc0 version. It has been used for Fedora packaging for quite some time now, since #2573 was merged.

[2021-11-08 19:51] fidencio commented on #2989
@etrunko, this is a known issue right now.

The vendored code is uploaded as part of a GitHub action that, post release, will test kata-deploy, tag and upload the kata-deploy image on quay.io and dockerhub, upload the static binaries, and the vendored code.  However, the action is failing (please, see: https://github.com/kata-containers/kata-containers/actions/runs/1426047295).

@bergwolf spent so

[2021-11-08 22:26] egernst commented on #2950
What we need is a copy which does NOT dereference symlinks, instead copying the relative link, here: https://github.com/kata-containers/kata-containers/blob/main/src/agent/src/watcher.rs#L119

This would be equivalent of `cp -d` on a host (ie: `--no-dereference --preserve=links`). I did a quick search and didn't readily see this supported in the existing fs crate.

[2021-11-09 01:48] a74731248 commented on #2983
and is the app run in that container must use musl libc to invoke syscall ?

[2021-11-09 04:29] cmaf commented on #2772
@jcvenegas, would you be able to comment on this?

[2021-11-09 04:35] cmaf commented on #2904
Closing this since https://github.com/kata-containers/kata-containers/pull/2903 was closed after deciding PR should be submitted to Cloud Hypervisor

[2021-11-09 04:35] #2904 closed

[2021-11-09 04:38] cmaf commented on #2912
@zhutongcloud were you able to resolve this with @liubin's suggestion? If so, this issue can be closed.

[2021-11-09 04:48] cmaf commented on #2130
@snir911 I see that https://github.com/kata-containers/kata-containers/pull/2131 was closed but not merged. Are you still seeing this issue? If not, please feel free to close it.

[2021-11-09 04:52] cmaf commented on #2350
@fidencio, based on the comments in https://github.com/kata-containers/kata-containers/pull/2222, since the PR for this issue seems to have been included in https://github.com/kata-containers/kata-containers/pull/2226 I am closing it.

[2021-11-09 04:52] #2350 closed

[2021-11-09 04:55] cmaf commented on #2506
Closing since https://github.com/kata-containers/kata-containers/pull/2516 was closed and issue was resolved in another PR

[2021-11-09 04:55] #2506 closed

[2021-11-09 05:08] cmaf commented on #366
@marcel-apf are there still plans for a PR, or has this been resolved possibly in PRs not linked to this particular issue? We can close it if it is no longer relevant.

[2021-11-09 05:09] cmaf commented on #421
@jodh-intel can we close this issue?

[2021-11-09 05:11] cmaf commented on #420
@jodh-intel closing since we no longer allow for configuration of static vs collated tracing

[2021-11-09 05:11] #420 closed

[2021-11-09 05:12] cmaf commented on #419
@jodh-intel closing since we're removing this in https://github.com/kata-containers/kata-containers/pull/2986

[2021-11-09 05:12] #419 closed

[2021-11-09 05:15] cmaf commented on #463
@amshinde can we close this, or do we still need to port to 2.0?

[2021-11-09 05:16] cmaf commented on #968
@egernst are you still seeing this error?

[2021-11-09 05:18] cmaf commented on #882
Closing since there has been no activity for over a year and this is related to 1.x

[2021-11-09 05:18] #882 closed

[2021-11-09 05:21] Amulyam24 commented on #2980
Hi @paleozogt, I can't be completely sure but this case did work previously on ppc64le. Let me reproduce this.

[2021-11-09 05:24] cmaf commented on #1499
@LainesOnTheRun @gyoza are you having this problem?

[2021-11-09 05:28] cmaf commented on #1889
@likebreath could you PTAL?

[2021-11-09 05:30] cmaf commented on #1890
Hi @hellocloudnative, any progress on the MIPS64 testing?

[2021-11-09 05:34] cmaf commented on #1880
Any updates @ryanlyy?

[2021-11-09 05:40] cmaf commented on #2470
Hi @fidencio, @PeterSurda, are there additional issues that should be opened based on the feedback here, or can we close this issue?

[2021-11-09 05:42] cmaf commented on #2291
@GabyCT can we close this issue?

[2021-11-09 05:46] cmaf commented on #1761
@alrs are you still having this problem? If so, could you provide more details?

[2021-11-09 05:47] cmaf commented on #1704
Hi @devfaz, were you able to retest?

[2021-11-09 05:48] cmaf commented on #1694
Closing since issue is fixed by https://github.com/kata-containers/govmm/pull/169

[2021-11-09 05:48] #1694 closed

[2021-11-09 05:49] PeterSurda commented on #2470
I'm sorry but I stopped paying attention, since I'm staying with docker I can't use kata anymore.

[2021-11-09 05:49] #2470 closed

[2021-11-09 05:51] cmaf commented on #1347
@liubin @jodh-intel improving tracing is an ongoing project but we've covered everything in this issue, so I'm closing it. Thanks, everyone!

[2021-11-09 05:51] #1347 closed

[2021-11-09 05:57] cmaf commented on #249
Closing since this was ported in da79b4be6

[2021-11-09 05:57] #249 closed

[2021-11-09 06:01] #463 closed

[2021-11-09 06:05] cmaf commented on #557
@snir911 @c3d can we close this?

[2021-11-09 06:06] cmaf commented on #523
Resolved; closing

[2021-11-09 06:06] #523 closed

[2021-11-09 06:09] cmaf commented on #1108
@lining2020x are you still seeing this issue? Could you try with the latest code?

[2021-11-09 06:13] cmaf commented on #1465
@fidencio can we close this issue?

[2021-11-09 06:15] cmaf commented on #413
closing since trace mode and trace type were removed in https://github.com/kata-containers/kata-containers/pull/2353

[2021-11-09 06:15] #413 closed

[2021-11-09 07:09] fidencio commented on #1465
Oh, we totally can.

We got rid of the `master` branch some time already and all projects under our org are using `main` instead.

[2021-11-09 07:09] #1465 closed

[2021-11-09 07:17] fidencio commented on #1761
@cmaf, this one was solved in the code generation side by @likebreath.

@alrs, please, let us know if you face the same issue in newer releases and we can follow up with Bo on the cloud-hypervisor side.

Closing it for now.

[2021-11-09 07:17] #1761 closed

[2021-11-09 07:19] fidencio commented on #2772
Let me also assign this to myself and I'll try to start working on this soon(-ish).  An input from Carlos and anyone else who's familiar with or interested in this area is more than welcome!

[2021-11-09 08:38] fidencio commented on #2869
Sorry for jumping late here, but while I'm late, have we thought about using something like https://weblate.org to help us with the translations?  I know some projects I help to maintain are using it, and I'm not exactly sure what's the best way to mark which parts of our project would need translation, but using a tool that the community could contribute with translations could be reasonable.

[2021-11-09 09:03] ryanlyy commented on #1880
Thanks a lot all, since my projected is changed so I did not get a chance to test it.

[2021-11-09 09:03] Amulyam24 opened #2991 "Kernel build fails on ppc64le"
With the recently added VFIO related kernel configs, the build fails on ppc64le due to missing dependencies.

[2021-11-09 09:15] snir911 commented on #2130
@cmaf, this issue still exist i believe, however, as it can be avoided by disabling cpu auto-onlining i assume its priority is not high

[2021-11-09 10:12] fidencio opened #2993 "RFE | Use `libcontainers/cgroup` as the way to handle cgroups on kata-containers"
On the last CRI-O community meeting @mrunalp raised the point that we should consider using `libcontainers/cgroups` as the way to handle cgroups on kata-containers, and the main reason for that being kubernetes defaulting to the `systemd` cgroup driver from its already released 1.22 release (see: https://github.com/kubernetes/kubeadm/issues/2376).

Based on @mrunalp's feedback, I started a thread

[2021-11-09 10:13] fidencio commented on #2993
@sameo mentioned that we really should aim for having `virtcontainers` directly depending on one, and solely one cgroup package.

[2021-11-09 10:42] jodh-intel commented on #2983
@a74731248 - unless you build a static binary for your workload or do clever things, yes ;) I'm confused though - if you need glibc, why are you using alpine? (and why do you need a particular libc ooi?) osbuilder provides configuration files for lots of other distros so you can choose an alternative if alpine isn't suitable for your use-case.

[2021-11-09 10:44] jodh-intel commented on #421
Yep! Done! ;)

[2021-11-09 10:44] #421 closed

[2021-11-09 10:59] jodh-intel commented on #2869
Thanks @fidencio - this looks interesting!

/cc @ttx.

[2021-11-09 11:04] jodh-intel commented on #2869
As an alternative, @fidencio just found https://wiki.openstack.org/wiki/Translations which references https://translate.openstack.org.

[2021-11-09 12:03] jodh-intel commented on #2987
Just seen this failure on the static checks for https://github.com/kata-containers/kata-containers/pull/2979:

[code]

[2021-11-09 12:05] Tim-Zhang opened #2994 "agent: Got wrong created time of container after an exec"
This is the bug:
https://github.com/kata-containers/kata-containers/blob/b192d388c1e2b0b612df14a3476df36d08682475/src/agent/rustjail/src/container.rs#L998

The code would run both in create_container and exec, we should only set the created time in create_container

[2021-11-09 12:30] a74731248 commented on #2983
thank you! I am looking for alpine to build a lightweight rootfs and I just want to confirm that your alpine does not use glibc for compability.

[2021-11-09 12:30] #2983 closed

[2021-11-09 15:06] Jakob-Naucke commented on #2988
Hmm. Can you check `/usr/bin/qemu-system-$(uname -m) -version`, is that still the one from system? It should be, but let's just make sure.

[2021-11-09 15:24] git-noise commented on #2988
Hello @Jakob-Naucke, many thanks for your answer. So it is strange, I re-installed kata via snap again and with the latest version (2.2.3), it seems that this behavior disappeared and now libvirtd seems happy - issue was with the 2.2.2.

To answer your question, qemu version is:
[code]
No clue what happened, there, maybe a glitch or something changed in 2.2.3? I will close this for now and revert

[2021-11-09 15:24] #2988 closed

[2021-11-09 15:46] Jakob-Naucke commented on #2968
Different versions of runtime and agent might not always work with one another, can you try updating? (preferably to a recent version)
The guest console also yells a few things, but those might all be red herrings.

[2021-11-09 15:50] Jakob-Naucke commented on #2700
@fidencio are there any other official build pipelines?

[2021-11-09 15:52] git-noise commented on #2611
Hello,

Quick update that this issue seems to still be present with snap latest/edge, which seems to be 2.3 branch.
[code]
Am I missing something? I'll still try to build from source when I can.

Best,

[2021-11-09 15:54] snir911 opened #2996 "shimv2: make sandbox_cgroup_only=true as default"
**What defaults would like to change?**
I'd like to suggest changing the default value of [sandbox_cgroup_only](https://github.com/kata-containers/kata-containers/blob/b192d388c1e2b0b612df14a3476df36d08682475/src/runtime/config/configuration-qemu.toml.in#L538) to true instead of [false](https://github.com/kata-containers/kata-containers/blob/b192d388c1e2b0b612df14a3476df36d08682475/src/runtime/Mak

[2021-11-09 16:53] Jakob-Naucke commented on #2954
@larrydewey thank you for your suggestion. This reads a bit broad, what type of dependencies would you be looking for/what is an example of how `--install-external-deps` should work?

[2021-11-09 17:00] Jakob-Naucke commented on #2953
@larrydewey `yq`'s GitHub is linked, where builds for many platforms are provided. IMO, this _is_ an alternative installation method. Including individual distros raises a lot of questions (versions when we do upgrade to 4, cf. #2951; many distros don't ship it; which distros do we include). Also, the Snap client is free software.

[2021-11-09 17:17] larrydewey commented on #2953
@Jakob-Naucke, having the github link is good, but it would still be in the project's best interest to remove the recommendation for installing via snap. While the Snap client is licensed under the GPL, the server / repository is not. There are rumors that Canonical have plans to monetize it in the near future, and that would remove any hope for a long-term guarantee for repository access. We also

[2021-11-09 17:20] larrydewey commented on #2954
You bring up a valid point, and I will be working on producing an RFC to express what I mean. This issue closely relates other issues I have raised regarding software compatibility and package management. As I get the POC pulled together, I will post it here for further discussion.

[2021-11-09 18:17] fungi commented on #2869
The OpenStack community has a long-standing need to move off that platform, as Red Hat discontinued development of Zanata years ago, and it has known security vulnerabilities for which we've put imperfect workarounds in place as mitigation. Weblate is the current front-runner candidate for a replacement platform, once we find volunteers to rewrite the current integration/automation.

[2021-11-09 18:40] egernst commented on #2993
Why not fix systemd handling  within `containerd/cgroups` ?

[2021-11-09 23:22] #2991 closed

[2021-11-09 23:40] egernst commented on #2996
I like the idea, though am concerned about changing a default that impacts the end user. If we do do this, we'll want to make sure we're pretty clear about it and provide plenty of lead time.

[2021-11-10 07:31] snir911 commented on #2993
**Addtional information about the current issue with libcontainer/cgroups**
The issue appeared specifically since https://github.com/opencontainers/runc/commit/b810da149008f1d7d07f481970d40c0d035958af
AFAIU the reason is due to a change in the process of setting a cgroup: `We have to freeze the container while systemd sets the cgroup settings` as stated, this is causing the shim process to freeze

[2021-11-10 07:32] fidencio commented on #2611
@git-noise, folks are still working on that, please, follow: https://github.com/kata-containers/kata-containers/pull/2959

[2021-11-10 08:05] bergwolf opened #2999 "kata doesn't work with older containerd like 1.3.9 and 1.4.6"
Those are using cri-containerd for runtime options. We should revert commit 76f16fd1a7eb5bfb04fdac0ac60f7cb5bfcb028e to keep parsing old cri-containerd runtime options.
[code]

[2021-11-10 08:20] bergwolf opened #3001 "test_kata_deploy should validate the testing PR too"
Right now it uses v2.0.0 release to make sure kata-deploy works. But when tagging a new release, we really want to know if it works for the current code as well. So ideally it should validate the current PR as well.

/cc @fidencio @egernst

[2021-11-10 09:42] fidencio commented on #2794
@liubin, let me back this up and suggest to have even more things to keep track of.

One thing that we got hit more than once is containerd version on AKS.  I think we should sincerely keep track of that as well, as that will help us to decide how soon we can move to the new version of this or that, and how much we should wait to drop something else.

[2021-11-10 10:04] Amulyam24 opened #3002 "snap build fails at qemu on ppc64le"
[code]

[2021-11-10 10:10] #2985 closed

[2021-11-10 10:22] sameo opened #3004 "Build and run Kata Containers on other UNIXes host operating systems"
Kata Containers currently only runs on top of Linux, and both its design and implementation assume that Linux is and will be the only supported host operating system.

We'd like to extend Kata Containers host OS support by having it run on other UNIXes, like e.g. [Darwin](https://en.wikipedia.org/wiki/Darwin_(operating_system)).

Non UNIX host operating systems (e.g. Windows) is out of this issue'

[2021-11-10 10:29] sameo opened #3005 "Kata host networking implementation is Linux specific"
As part of #3004, we would like to have Kata's sandbox host networking support non-Linux UNIXes.

At the moment, the `Network` Kata implementation is mostly based on Linux networking namespaces and a Kata sandbox network contains `Endpoint` that, for most of them, are Linux specific as well.

Instead we'd like a Kata sandbox `Network` to be defined as an interface and have separate implementations

[2021-11-10 10:37] liubin opened #3006 "Agent: Empty env key-value pair leads starting container failed"
If agent got envs that contains empty env(`""=""`), container starting will failed and get this error:

[code]

From the [rust documation](https://doc.rust-lang.org/std/env/fn.set_var.html#panics), empty env key will cause panic:

[code]

[2021-11-10 11:44] #2994 closed

[2021-11-10 12:07] jodh-intel commented on #2869
Thanks for the update on that @fungi!

[2021-11-10 12:41] #2999 closed

[2021-11-10 13:01] wainersm commented on #2996
Hi @egernst ,

I'm curious if we have in place a policy for deprecation and/or user-visible changes. we do?

Just for the records, here is how QEMU treats deprecation: https://www.qemu.org/docs/master/about/deprecated.html

Cc @kata-containers/architecture-committee @kata-containers/redhat

[2021-11-10 14:25] Jakob-Naucke commented on #2953
@larrydewey Maybe, but these are rumours right now, and if this should happen, we most of all would have to worry about one of (more or less) three ways we are binary distributing Kata, which is Snap.

Would it be acceptable to you to rephrase that bit to clarify the use of Snap as optional?

I agree we should update our uses of `yq`, which no one has gotten around to doing yet unfortunately. Howe

[2021-11-10 15:19] fidencio commented on #2700
Here's where we build the QEMU that's shipped with the kata-deploy image:
https://github.com/kata-containers/kata-containers/blob/653976c0fdf3c1751e20f3eacf9f0998d606db06/.github/workflows/main.yaml#L80-L104

And here's where we build the kernels that we ship with the kata-deploy image:
https://github.com/kata-containers/kata-containers/blob/653976c0fdf3c1751e20f3eacf9f0998d606db06/.github/workflo

[2021-11-10 15:20] Jakob-Naucke commented on #2700
Thank you @fidencio -- closing.

[2021-11-10 15:20] #2700 closed

[2021-11-10 15:22] larrydewey commented on #2953
@Jakob-Naucke, my personal reservations aside, I think a clarification in the documentation would work well to clear up the issue.

Yes, I wanted to make sure all of the issues were decoupled. This one is primarily in regards to the documentation, the other in regards to the version issue (#2951) , and the feature request to potentially build in the optional capability of downloading and installin

[2021-11-10 15:23] Jakob-Naucke commented on #2907
![image](https://user-images.githubusercontent.com/42409106/141141019-cacfe851-a897-4214-9a39-a0cebe587ce7.png)
y u no close GitHub

[2021-11-10 15:23] #2907 closed

[2021-11-10 15:25] fidencio commented on #2954
@Jakob-Naucke, when I suggested that to @larrydewey I had in mind to:
* Check the `setup_distro.sh` script and install whatever we need to get the versions of the components we build

One those are installed, calling the script should simply do the build (preferrably inside a container?) and that's it, with that the "installing the system dependencies to build the kernel"  would be part of the con

[2021-11-10 15:36] git-noise commented on #2611
@fidencio my mistake, I thought it was a related but separated issue, and that the container should at least start.
Many thanks will follow and revert then.

Best

[2021-11-10 16:06] Jakob-Naucke commented on #3004
I have no strong opinion on this, but are BSDs in scope for this?

[2021-11-10 16:33] wllenyj opened #3009 "CCv0: Working with containerd"
To support k8s e2e, we need to work with containerd. As part of #149 and more generally of #1332.

[2021-11-10 18:10] jodh-intel opened #3011 "agent: Remove some unwraps and expects"
Remove some `unwrap()` and `expect()` calls, replacing them with code to return the error to the caller.

[2021-11-10 18:10] jodh-intel commented on #821
Agreed. The agent is long-running and functions should pass back errors to the caller where possible rather than panic-ing by calling `expect()` or `unwrap()` on `Option` or `Result` values.

Note that it isn't always possible (or reasonable) to remove `unwrap()`/`expect()` calls. The following are examples of scenarios where they either have to exist or it makes senses for them to be retained:

|

[2021-11-10 18:10] jodh-intel commented on #3011
Related: #821.

[2021-11-10 18:17] fidencio commented on #2611
@git-noise, I am just cutting a 2.3.0-rc1 release in a few hours, you may want to use that depending on the containerd version you'll use.

[2021-11-10 18:19] fidencio commented on #3004
@sameo, apart from the production environment, do you think we could get some CI runners to ensure this newly introduced support will keep working as expected?

[2021-11-10 18:19] #3006 closed

[2021-11-10 18:34] likebreath commented on #1889
Can anyone explain more on the use cases of initrd in Kata? And what would be the priority for these use cases? Thank you.

[2021-11-10 18:42] likebreath commented on #2936
After additional debugging, we confirmed that the handful of PIOs (always 3 write and 3 read) from serial port while booting the guest is a normal behavior for Linux. It convinced us to keep the current usage of console with Kata+clh, e.g. turn-off both serial and virtio-console in non-debug node. Closing the issue.

[2021-11-10 18:42] #2936 closed

[2021-11-10 19:36] colemickens commented on #1889
My use-case is trying to avoid images all together -> I want to boot Linux, mount some virtio-fs paths and run an executable from one of those mounts.

I might not even need an initrd, other than what kata needs: https://lore.kernel.org/lkml/20210617153649.1886693-1-hch@lst.de/

I haven't checked recently, maybe this is not a big deal to workaround?

[2021-11-10 20:00] git-noise commented on #2611
@fidencio Thanks I will pay attention and update as soon a I see it. I am using cri-o though, should i also use this one?

[2021-11-10 21:11] fidencio commented on #2611
I *think* CRI-O should be fine if you're using `sandbox_cgroup_only=false` on your configuration.
I just cut the release, in an hour or so the new binaries should be available.

[2021-11-10 21:48] git-noise commented on #2611
ok great, let me try to install it manually, snap does not seem to display that last version yet.

[2021-11-10 22:35] git-noise commented on #2611
@fidencio Hello, so I just built and installed the latest:
[code]

And with in my configuration.toml:
[code]
Sadly I still see the same containerd error - while I am actually using cri-o
[code]
Let me know if I can provide anything else.

Best,

[2021-11-11 00:34] #2801 closed

[2021-11-11 04:44] ManaSugi opened #3014 "release: upload-libseccomp-tarball fails because of using a system version of yq"
# Description of problem

`upload-libseccomp-tarball` action gets the version information of libseccomp from `versions.yaml` using `yq` command.
Currently, the action fails because a system version of yq that cannot understand `read` argument is used.
We need to explicitly call `${GOPATH}/bin/yq` that is installed by `ci/install_yq.sh`

https://github.com/kata-containers/kata-containers/runs/41718

[2021-11-11 04:48] dgibson commented on #821
True, but not really the point I was getting at.  Most of the instances of `unwrap()` already check for the "bad" case immediately above, so they're not actually in danger of panicing rather than returning errors.  However, there's usually a more elegant way of doing this.  In particular there are a *lot* of constructs like either:

[code]

or

[code]

Both can be better handled using `if let` or

[2021-11-11 05:07] egernst commented on #2993
Yeah, I'm interested in at least exploring the fix on containerd side. Happy to help.

[2021-11-11 08:07] fgiudici commented on #980
Implementation is done: PR https://github.com/kata-containers/kata-containers/pull/2233
Still missing documentation update

[2021-11-11 08:38] fidencio commented on #2611
@git-noise, please, provide me your CRI-O configuration file.

As we hit a last minute issue on "rc1", I'll be mostly focused on the "rc2" release Today, but would be nice to at least see all your configuration files.

[2021-11-11 08:45] #2978 closed

[2021-11-11 09:02] zvonkok commented on #2938
@dgibson Took a look at your PR for SR-IOV, long story short, Kata has a different guest PCI topology, addresses. I understand it is a "hack" but is this something that could be used to bridge the gap until a "clean" solution is developed?

@jodh-intel You added the VM config to the OCI spec, https://github.com/opencontainers/runtime-spec/blob/main/config-vm.md is there any work going on to extend

[2021-11-11 09:43] fidencio opened #3016 "Bump golang to 1.17.x"
According to https://endoflife.date/go golang 1.15 is not supported
anymore.  Let's remove it from out tests, add 1.17.x, and bump the
newest version known to work when building kata to 1.17.3.

[2021-11-11 09:48] #3014 closed

[2021-11-11 10:43] Jakob-Naucke commented on #2946
@fidencio I _suspect_ this doesn't happen on x86's GHA because its resources are single-threaded. We've seen other problems in the Rust unit tests that were due to multithreading, like #2833.

[2021-11-11 11:45] dgibson commented on #2938
Sorry, I don't understand what you're asking.  Do you mean #2927?  I don't see how that's applicable to this problem.

[2021-11-11 11:52] stevenhorsman opened #3020 "CCv0 | shim: the ctr shim pull-image command isn't unpacking the container to the correct place"
# Description of problem

I got the latest `CCv0` branch changes built and running following the instructions in https://github.com/kata-containers/kata-containers/blob/CCv0/docs/how-to/how-to-build-and-test-ccv0.md
- I ran `export PULL_IMAGE="docker.io/library/busybox:latest" && ~/ccv0.sh -d shim_pull_image` which issued the command `ctr --namespace k8s.io shim --id 91b1dd498ed225cea7ebd691cbee28

[2021-11-11 11:53] stevenhorsman commented on #3020
cc @wllenyj

[2021-11-11 11:55] zvonkok commented on #2938
Yes I mean #2927 the SR-IOV plugin will provide ENV variables with PCI addresses that need to be translated to guest PCI addresses.

The  NV device-plugin will provide ENV variables with PCI addresses  (passthrough) that need to be translated to guest PCI addresses.

kubeVirt uses those very same ENV variables to configure either the SR-IOV devices or the other passthrough devices as an example.

[2021-11-11 11:57] fidencio commented on #2946
/cc @egernst

[2021-11-11 12:41] stevenhorsman commented on #2682
I had this code working pre the Image service refactor and roots changing going in, and I've since rebased on these and I think worked out all the issues. The latest code is in https://github.com/stevenhorsman/kata-containers/tree/verify-signed-quay-image-rebase. I think it is working, so I just need to doc and tidy up and then it should be ready for a PR soon 🤞

[2021-11-11 12:51] zvonkok commented on #2938
On the command line, rather then providing the iommu group, provide the env var with the pci addrs of the pass-through devices or sriov VF pci addrs.

[2021-11-11 12:53] zvonkok commented on #2938
Like this, as stated before ^^

[2021-11-11 13:04] zvonkok commented on #2938
I mean as an addition to the iommu device mounted in we need that nevertheless.

[2021-11-11 15:57] #3016 closed

[2021-11-11 16:18] fitzthum opened #3022 "CCv0: Integrate Attestation Agent"
As part of #1332  we are pulling the encrypted container images from inside the guest. We need to decrypt these container images using securely provisioned secrets. The [attestation agent](https://github.com/confidential-containers/attestation-agent) is a keyprovider that facilitates and attestation and provides keys to ocicrypt. For CCv0, we need to start the attestation agent inside the guest, a

[2021-11-11 16:29] git-noise commented on #2611
@fidencio. Of course. So this is the crio.conf snippet where I defined kata:
[code]
And ```/usr/local/bin/containerd-shim-kata-v2``` is either the binary from the github/tar build, or a simlink to snapd binaries, depending if its built locally or installed from snap. Right now its from the rc1:
[code]

Finally cri-o version is ```1.20.5~0```

Hope it helps and many thanks for your help again.

[2021-11-11 17:21] egernst commented on #2950
@hleal18 -- not sure how much you'd be up for it -- but I have a PR in place that resolves this issue, as well as an integration test outstanding. Want to take a look at the proposed test? https://github.com/kata-containers/tests/pull/4181

Or, any chance you want to verify the fix for your use case (if you're used to building from src!)?

[2021-11-11 17:41] hleal18 commented on #2950
Thanks @egernst, we'll build and test the pr tomorrow and let you know how it goes.

[2021-11-11 18:25] egernst commented on #2965
@Burning1020 -- can you prepare reproduction example for this? I would assume you saw this when utilizing `crictl`?

[2021-11-11 18:27] sameo commented on #3004
The goal is for any BSD to be able to e.g. add its own `Network` implementation. It's possible that some BSDs will share some code with Linux and we'll have to play with build tags a bit further.

That being said, my first goal is to get things running on Darwin.

[2021-11-11 18:28] sameo commented on #3004
I'll work on that, I think this is definitely something that should be added to our CI.

[2021-11-11 21:25] fidencio commented on #2989
@etrunko: https://github.com/kata-containers/kata-containers/releases/tag/2.3.0-rc1

[2021-11-11 21:25] #2989 closed

[2021-11-11 23:05] egernst opened #3027 "Drop support for ACRN hypervisor until we are able to support with CI."
I am working with community to refactor virtcontainers into better abstractions, including a hypervisor and network pkg, and removing circular dependencies between sandbox, hypervisor, etc.

As part of this I noticed a few challenging points with Acrn. An example, the hypervisor structure today requires Sandbox. With these circular dependencies and lack of any CI for acrn, continued support is goi

[2021-11-11 23:05] egernst commented on #3027
/cc @gvancuts @vijaydhanraj

[2021-11-11 23:11] egernst commented on #3027
related: https://github.com/projectacrn/acrn-hypervisor/issues/5761

[2021-11-12 02:33] dgibson commented on #2938
@zvonkok, I guess it would be possible, but I don't really like the idea.

The current handling of the env variables is updating information aimed at the payload to remain accurate for what the payload is going to see.  Actually reading and reacting to the environment variables ourself is a significant step further.  Moreover, only using the devices specified in `process.env` would be taking infor

[2021-11-12 02:54] etrunko commented on #2989
Thank you for the quick response

[2021-11-12 03:05] lining2020x commented on #1108
@cmaf Yes, it still be there.
[code]
If firecrack does not support initrd,  I think we can give an explanation or tips in the document.

[2021-11-12 03:08] #1108 closed

[2021-11-12 03:35] liubin opened #3029 "Delete some 1.x codes"
Functions `EnvVars` and `GetOCIConfig` in `runtime/virtcontainers/pkg/oci/utils.go` are not used anymore.

[2021-11-12 06:19] zmlcc commented on #3027
hi @egernst ，is there any detailed plan or schedule about virtcontainers refactoring ？

[2021-11-12 06:57] liubin opened #3031 "Runtime: merge virtcontainers/pkg/types into virtcontainers/types"
There are two `types` packages under virtcontainers, and the `virtcontainers/pkg/types` has a few codes, merging them into one can make it easy for outstanding and using `types` package.

[2021-11-12 09:04] mythi commented on #2938
I'm reading this whole thread so that @zvonkok wants cold-plugged PCI devices into the sandbox and a mechanism to specify which PCI IDs are added?

I understand the OCI part but OTOH, for kubernetes specifically,  we are already seeing other resources moving to cold-plug: CRI just added sandbox CPU/mem resources which is a sum of individual containers resources and kata 's sandbox sizing work (#29

[2021-11-12 09:23] fidencio opened #3033 "Remove actions that are specific to kata-containers 1.x"
When we the kata-containers repo was created we ended up inheriting a bunch of content from the 1.x repos, including GitHub actions.
Some of those actions were and still are used by us, while some are totally tied to kata-containers 1.x and could be simply removed.

[2021-11-12 11:26] jodh-intel commented on #1889
This doc tries to summarise the differences between image and initrd. We could consider moving it into the 2.x repo if it's still useful (it'll need a few tweaks)?:

- https://github.com/kata-containers/documentation/wiki/Kata-images

[2021-11-12 11:34] colemickens commented on #1889
@jodh-intel hm. one of the only differences in that table is "Factory" that has no other info. Plus, it talks about the agent not being able to forward through vsock, but indeed in the v2 repo I see a somewhat new dir that seems to look like support for just that.

I guess all to say I would be interested in seeing the Kata folks' *latest* thoughts regarding that overall issue

[2021-11-12 11:39] jodh-intel commented on #1889
@colemickens - I said it needed tweaking: that's a Kata 1.x document, plus an "unofficial" wiki one. I'm trying to establish if the general concept of such a doc is still useful at this stage. We could paste it into the 2.x wiki so the community can hack on it maybe until it's been fully updated and we can then put it in-tree.

[2021-11-12 11:45] jodh-intel commented on #3004
https://redox-os.org/ anyone? :smile:

[2021-11-12 13:24] hleal18 commented on #2950
@egernst we tested the pr. The situation has improved, the symlink from the file on the top level to the one located inside of the `..data` folder is there. However, the symlink from the `..data` folder to the `..{DATE}` is still missing.
This causes the `find . -type f` command to report two files.
I attach the output that we’re getting with the pr that contains the fix so you can easily compare

[2021-11-12 13:30] zvonkok commented on #2938
Yes and no, the higher level use-case is to do passthrough, mediated devices and VFs (PF also if the dev is managed by a container) into containers, how this is done exactly is secondary. Which PCI ID are added was or is needed since Kata gets the whole IOMMU group and tries to mount all PCIe devices in there, inclusively PCI bridges which fails since those are not bound via VFIO.

@mythi I see, s

[2021-11-12 13:56] c3d opened #3036 "Prepare transition for virtiofs-rs (the Rust version of virtiofsd)"
We currently rely on `virtiofsd`, and assume that this binary is a C program part of the `qemu` package (https://gitlab.com/qemu-project/qemu/-/tree/master/tools/virtiofsd).

However, a Rust version of `virtiofsd` has been written (https://gitlab.com/virtio-fs/virtiofsd-rs), intended as a direct drop-in replacement. It is likely to take over the C version in the relatively near term, as far as lon

[2021-11-12 14:01] jodh-intel commented on #3036
Thanks for raising @c3d!

Are there any details that can be shared about how close to feature parity the rust implementation is to the C version?

[2021-11-12 14:38] gvancuts commented on #3027
Thanks for the heads-up @egernst . I can look at the CI integration piece again (ran out of time/bandwidth at the time :-()

It also sounds though as if the refactoring may require additional engineering support to adapt the ACRN implementation, is that a correct assumption?

Thanks!

[2021-11-12 15:20] egernst commented on #2950
Yikes, that's unexpected. Thanks for testing, appreciate the help!

[2021-11-12 16:53] #3029 closed

[2021-11-12 17:11] #980 closed

[2021-11-12 18:14] zhsj opened #3038 "Fail to run on cgroup2 host with sandbox_cgroup_only=true"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers
   or `kata-containers.collect-data`, which is installed as part of the Kata Containers
   snapcraft package.
[code]
   or
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contai

[2021-11-12 19:24] #289 closed

[2021-11-12 19:25] #3033 closed

[2021-11-12 20:22] devimc commented on #3038
@sameo any thoughts ?

[2021-11-12 22:23] #3031 closed

[2021-11-15 05:27] arronwy opened #3041 "CCv0: Add native container image downloading for kata-agent"
Currently we use [skopeo](https://github.com/containers/skopeo) + [ocicrypt](https://github.com/containers/ocicrypt) for container image downloading and decryption.

But skopeo is a bit heavy and we can use rust crate [oci-distribution](https://github.com/krustlet/oci-distribution) + [ocicrypt-rs](https://github.com/containers/ocicrypt-rs) for image downloading and decryption as a lightweight opti

[2021-11-15 05:34] dgibson opened #3042 "Simplify how / when osbuilder installs Rust"
# Description of problem

osbuilder will in various circumstances install Rust, either on the host system, or within a container depending on options.  The way it does this is overly complex.

[2021-11-15 06:52] wllenyj opened #3044 "CCv0: Some issues arising from merging main branches."
Since we sync the master branch with the CCv0 branch on a weekly basis. This can cause some compatibility issues with the code.
e.g. this patch (https://github.com/kata-containers/kata-containers/commit/8ab90e1068cebffe1055322c843c730677dcd04b) modifies the `utils::get_option` interface, but the code of the CCv0 branch is not modified accordingly, when merging the main branch to CCv0. So a patch n

[2021-11-15 08:44] #2868 closed

[2021-11-15 09:02] fidencio commented on #3036
If it's an 1:1 replacement, then we can just change the binaries and how we build it.
If it's not an 1:1 replacement, I'd like to see, as part of this issue, what are the differences.

Last but not least, running the CI locally would be a good starting point to get possible "easy to find" issues.
Would you be able to do so and then report back if everything ran as expected?

[2021-11-15 09:37] jodh-intel commented on #3036
\o/ - One difference I've noticed is that the rust rewrite includes some unit tests! :smile:

[2021-11-15 09:48] fidencio commented on #3038
/cc @c3d as he mentioned in the Architecture Committee meeting that happened on November 2nd that he'd be looking at cgroupsv2 support on the host side.

[2021-11-15 10:19] snir911 opened #3045 "Docs links in non-main branches points to main"
# Description of problem

When kata's documentation refers to full-path link within the repository it will usually points to the **main** branch docs, also when the link is pointed from other branches such as **stable**, this may lead to a missing or non-relevant (to branch) files

# Expected result

All links are pointing to the documentation on the same branch of the link

# Actual result

Most

[2021-11-15 10:31] zhaoxuat commented on #2968
I has find problems. I start kernal  whith prams (`kernel_params = " agent.log=debug initcall_debug agent.debug_console systemd.unit=multi-user.target"`), systemd not booting kata-agent, because systemd default load `/etc/systemd/system/multi-user.target.wants`.

Execute the following command, systemd booting kata-agent.
`ln -snf "${ROOTFS_DIR}"/usr/lib/systemd/system/kata-agent.service "${ROOTFS_

[2021-11-15 10:31] #2968 closed

[2021-11-15 10:35] fidencio commented on #2498
While going through the old issues I noticed this one, and took the freedom to just open a PR updating the docs.

[2021-11-15 11:51] fidencio commented on #2160
Closing this one as https://github.com/kata-containers/kata-containers/pull/2191 was closed.

[2021-11-15 11:51] #2160 closed

[2021-11-15 12:20] devfaz commented on #1704
Hi @cmaf - sorry, the PoC hardware got recycled, so im currently not able to reproduce this quickly. Will try my best to find a other way.

[2021-11-15 12:42] fidencio commented on #589
Closing this one as it's the current state.

[2021-11-15 12:42] #589 closed

[2021-11-15 12:44] fidencio commented on #590
QEMU is currently built with `--enable-seccomp`, see: https://github.com/kata-containers/kata-containers/blob/b046c1ef6bbd675ca9f4430572345137b3df6935/tools/packaging/scripts/configure-hypervisor.sh#L409

[2021-11-15 12:44] #590 closed

[2021-11-15 12:45] fidencio commented on #557
@snir911, @c3d, I'm closing this one.  Please, feel free to re-open it / open a new issue in case you face it again.

[2021-11-15 12:45] #557 closed

[2021-11-15 12:47] fidencio commented on #967
@snir911, can this one be closed?
I think @wainersm is running a daily job and he's been tracking the issues found.

[2021-11-15 12:49] fidencio commented on #958
@egernst, is this still an issue? @fgiudici, @liubin, what's the status of the documentation nowadays?

[2021-11-15 12:53] fidencio commented on #899
As this issue has not been active for a quite long time, I'm closing the issue.

@advancedwebdeveloper, please, feel free to re-open it in case you have the interest to work on this.  Mind that this will come with the commitment to setup and maintain a CI to ensure we don't regress on this front.

[2021-11-15 12:53] #899 closed

[2021-11-15 13:05] fidencio commented on #727
As all the repos mentioned in the issue decription, but the kata-containers one, reached their EOL a few months ago, let's close this issue.

@jodh-intel, please, feel free to re-open it in case you think it's still needed.

[2021-11-15 13:05] #727 closed

[2021-11-15 13:05] #967 closed

[2021-11-15 13:08] fidencio commented on #634
I think we've reached a reasonable state of the "porting process".
@jodh-intel, I'm closing the issue but feel free to re-open and update the issue accordingly in case you feel the need to do so.

[2021-11-15 13:08] #634 closed

[2021-11-15 13:17] fidencio commented on #501
This issue is quite old, and it comes from the time where we still supported CLI (not the case for some already).
As CLI support has been dropped for some time, let me close this issue.

@AC-WhiteGlint, please, feel free to re-open it in case we end up bringing back the CLI support.

[2021-11-15 13:17] #501 closed

[2021-11-15 13:19] fidencio commented on #488
cc @jongwu, who recently shared the following PR: https://github.com/moby/moby/pull/42986

[2021-11-15 13:24] fidencio commented on #918
@magnate3, I'm closing the issue for now due to its inactivity for more than one year. Please, feel free to re-open it, or even open a new issue, in case you feel it's needed.

[2021-11-15 13:24] #918 closed

[2021-11-15 13:25] fidencio commented on #715
@jodh-intel, is this one still valid?

[2021-11-15 13:28] fidencio commented on #545
I'm closing this one for now as it's mostly related to kata-1.x issues (which reached its EOL a few months ago).

[2021-11-15 13:28] #545 closed

[2021-11-15 13:30] fidencio commented on #1330
We currently have this one working thanks to @Jakob-Naucke!
See: https://github.com/kata-containers/kata-containers/pull/2399

[2021-11-15 13:32] fidencio commented on #971
@egernst, I am closing this one in favour of https://github.com/kata-containers/kata-containers/issues/2996

[2021-11-15 13:32] #971 closed

[2021-11-15 13:39] fidencio commented on #1631
@Sh4d1, I'm closing this one for now.  Please, feel free to re-open it, to update it, or even to open a new issue in case you happen to hit this again.

[2021-11-15 13:39] #1631 closed

[2021-11-15 13:47] fgiudici commented on #958
I think this can be closed:
seems to me we are fine with both Prometheus and Grafana port numbers.
For the daemonset image... well, I think we lost it in the migration to quay.io, but we have a dedicated issue for that:
https://github.com/kata-containers/kata-containers/issues/2421

I would close this one.

[2021-11-15 13:48] fidencio commented on #1757
This should be fixed as part of 72cd8f5ef677cebeb84e1f64cdab6dbdc831619e
Please, feel free to re-open it if that's not the case.

[2021-11-15 13:48] #1757 closed

[2021-11-15 13:53] jodh-intel commented on #715
All done - https://github.com/kata-containers/kata-containers/blob/main/.github/workflows/require-pr-porting-labels.yaml#L41 calls `pr-porting-checks.sh` so closing this.

[2021-11-15 13:53] #715 closed

[2021-11-15 13:54] fidencio commented on #958
Thanks for confirming @fgiudici!

@egernst, I'm closing this one now.  Feel free to re-open it though in case you feel the need to do so.

[2021-11-15 13:54] #958 closed

[2021-11-15 14:22] fidencio commented on #2342
@prateeksahu, what version of CRI-O and kata-containers are you using?
Have you installed it using `kata-deploy`?

[2021-11-15 14:25] fidencio commented on #2342
@randalloveson, checking your issue now ... https://github.com/kata-containers/documentation/blob/master/install/minikube-installation-guide.md is not the way to go.  That guide is utterly outdated.

We've re-worked that as part of https://github.com/kata-containers/kata-containers/tree/main/tools/packaging/kata-deploy ... and the same info can be found at https://quay.io/repository/kata-container

[2021-11-15 14:48] fidencio commented on #2301
I am closing this one as we've already mirrored, advertised the mirror, and we have a bunch of folks already as part of the maintainers. :-)

[2021-11-15 14:48] #2301 closed

[2021-11-15 14:54] fidencio commented on #2474
I sincerely think the content of @t3hmrman's comment could be added to a how-to area of the our repo.

@t3hmrman, out of curiosity, would you have the interest to open a PR for that?

[2021-11-15 15:01] fidencio commented on #2420
The jailer is enabled by default since 7a5ffd4a0f575852704f63b8bb332fc32e11fffb

[2021-11-15 15:01] #2420 closed

[2021-11-15 15:03] fidencio commented on #2587
cc @kata-containers/redhat as it may affect the RPM used by Red Hat (when building it enabling debug).

[2021-11-15 15:05] fidencio commented on #2611
So, @snir911 landed some patches Today on the stable-2.3 branch which will be part of the `2.3.0`release (to be cut in a week from now) that most likely will help this case.
@git-noise, would be possible for you to give it a try building from the `stable-2.3` branch?

[2021-11-15 15:07] fidencio commented on #2818
So, I'm closing this issue as we know why firecracker didn't work for @jodh-intel.

Please, feel free to re-open it in case something is still missing.

[2021-11-15 15:07] #2818 closed, assigned to nobody

[2021-11-15 15:08] jodh-intel opened #3047 "Improve data collection script"
We have a data collection script that we ask users to run in the [issue template](https://github.com/kata-containers/.github/blob/main/.github/ISSUE_TEMPLATE/bug_report.md):

- https://github.com/kata-containers/kata-containers/blob/main/src/runtime/data/kata-collect-data.sh.in

However, it hasn't been touched in a while. There are some things we should or could consider doing:

- Review and simpl

[2021-11-15 15:30] t3hmrman commented on #2474
Hey @fidencio sure -- I could open a PR for that and combine the information. I guess a section called "How to run Docker in Docker with Kata Containers" would make sense ([around here](https://github.com/kata-containers/kata-containers/tree/main/docs/how-to))

[2021-11-15 15:55] fidencio commented on #2474
@t3hmrman, that would be wonderful and the placement is correct. :-)
Please, refer to this issue on your commit message, using `Fixes: #2474` and @fidencio there for a review.

[2021-11-15 18:33] c3d commented on #2784
@ManaSugi, as I briefly discussed during a presentation you made earlier, @dgibson and myself am somewhat interested in leveraging `runk` for a few possible additional use cases:

* Invoking the kata agent over the RPC interface (rather than through direct calls), in order to prepare for being able to talk to a confidential container over a secure channel
* Leverage the same command-line interface

[2021-11-16 00:30] git-noise commented on #2611
@fidencio
I just did and I sadly see the exact same behavior which is:
[code]
To rebuild this one I got an issue with go that would not download the src in selecting branch-mode, so I just cloned the repo, checked out the stable-2.3 branch and did a classic:
[code]
It showed ```kata-runtime - version 2.3.0-rc0 (commit b046c1ef6bbd675ca9f4430572345137b3df6935)``` is that normal?

[2021-11-16 04:10] bergwolf opened #3048 "agent: musl target build is broken"
It seems that `LIBC=xxx` is ignored now?

[code]

[2021-11-16 05:55] bergwolf commented on #3048
Ok, turns out that I have to disable seccomp support as well.

[2021-11-16 05:55] #3048 closed

[2021-11-16 07:18] fidencio commented on #3048
@bergwolf, just thinking out-loud here, but wouldn't be reasonable to keep this issue open and work on our Makefile to disable seccomp when using `LIBC=musl`, unless its usage is explicitly required?

[2021-11-16 07:19] fidencio commented on #3048
/cc @ManaSugi

[2021-11-16 08:33] #2498 closed

[2021-11-16 09:12] ManaSugi commented on #3048
@bergwolf @fidencio
Thank you for the issue.
If `LIBSECCOMP_LINK_TYPE=static`  is not set, the Kata agent tries to link the `libseccomp` dynamically that already exists in the system, so the `kata-agent` binary is generated as above.
I may need to fix the `Makefile` to build the agent with seccomp capability only if `LIBSECCOMP_LINK_TYPE=static` and `LIBSECCOMP_LIB_PATH` environment variables are

[2021-11-16 11:16] bergwolf commented on #3036
As part of the long-term concerns, what is the QEMU community's take about the transition? Will the QMUE community switch to virtiofsd-rs as well?

[2021-11-16 12:01] jodh-intel commented on #2869
@fungi, @ttx - ooi, would an OIF translation expert be able to do a brief presentation on translations at the [Kata Architecture Committee meeting](https://github.com/kata-containers/community#architecture-committee-meetings) some time? It would be great to hear "first hand" about some of the challenges, pitfalls and of course successes of a large translation effort like we're proposing here from

[2021-11-16 12:08] ManaSugi commented on #2784
@c3d Thank you for the proposal about new use cases of `runk`.
It's awesome and I'm glad to hear that you can leverage `runk` in those ways.  If we can successfully split `runk` according to each use case, I totally agree with you.
If there is anything I can do, please let me know.
Thanks.

[2021-11-16 13:20] ttx commented on #2869
@jodh-intel sure, we have some experience from OpenStack on docs translation. Let me see who would be best (from OIF staff and/or the OpenStack community) to present on that topic.

[2021-11-16 14:01] jodh-intel commented on #2869
Thanks @ttx !

[2021-11-16 15:05] c3d commented on #3036
The replacement is supposed to be command-line compatible and a drop-in replacement. My understanding of the current discussions is that for Fedora, this will become an "alternative" (in the sense of the `update-alternatives` command). For RHEL9, it is possible that this would become the default.

My understanding is that this is seen as not really belonging to qemu, except for historical reasons.

[2021-11-16 16:29] c3d commented on #2815
Probably made easier thanks to following Hurray: https://github.com/kubernetes/kubernetes/pull/104886

[2021-11-16 16:36] ariel-adam commented on #2884
Eric, what is the logging pattern you would like to see here?

[2021-11-16 16:37] c3d commented on #2884
I'm curious if the code you showed is the pattern you want to apply?

[2021-11-16 16:41] c3d commented on #2898
@bergwolf I think this partially answers the question you asked during the architecture committee meeting.

[2021-11-16 16:51] Jakob-Naucke commented on #2946
Suspicions around glibc or multithreading could not be confirmed, also I cannot reproduce it on x86 any more. Possibly truly an s390x issue.

[2021-11-16 18:36] egernst commented on #3027
@gvancuts  - correct, it would require some cleanup / refactoring on the ACRN implementation of the hypervisor interface.

[2021-11-16 18:59] jcvenegas commented on #3036
There is a golang interface that should be nice to be standardized in all the code base. And support both at least to have fallback in case any error.
https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/virtiofsd.go#L39

[2021-11-16 19:41] Jakob-Naucke commented on #2946
here's an MWE:
[code]

when it doesn't work, the logs **don't** have this one line: `Copy from /tmp/.tmpHF7DnG/src2/foo.txt to /tmp/.tmpHF7DnG/dest2/foo.txt`

[2021-11-16 20:15] #2777 closed

[2021-11-17 00:27] egernst opened #3049 "runtime/virtcontainer cleanup - remove used functions, packages, move to top level"
As part of the effort of cleaning up the runtime code, I noticed:
- packages which are not used in our code base
- packages within virtcontainers which should be at top level
- public functions which should be kept private
- unused functions

Let's clean these up for better maintainability!

[2021-11-17 00:35] egernst opened #3050 "s/bridged-macvlan/macvlan -- the connection details shouldn't be leaked as part of the endpoint type"
The fact that we need to "bridge" the endpoint is a bit irrelevant. To
    be consistent with the rest of the endpoints, let's just call this
    "macvlan"

[2021-11-17 09:16] gkurz commented on #3002
Hi !

Please provide the full log for this build. A variety of reasons could lead to /usr/bin/ld not finding libudev.

[2021-11-17 09:21] #3050 closed

[2021-11-17 09:52] Amulyam24 commented on #3002
Hi @gkurz , the steps to reproduce this on ppc64le would be:
[code]

Full log of qemu build - [qemu.log](https://github.com/kata-containers/kata-containers/files/7553565/qemu.log)

[2021-11-17 10:03] gnawux opened #3052 "Propose a Shim in Rust (and one more thing)"
Hello folks,

I am back:) (lol I have never left actually). I filed this issue as we discussed in the AC meeting this week.

In short, what I am proposing:

* The shim-v2 implemented in Rust; and
* An optional built-in sandboxing feature in the shim.
* We'd like to begin to submit PRs in the following weeks and complete this feature in 6 months (before the Berlin summit)
* We’d like to consider th

[2021-11-17 10:04] jodh-intel commented on #187
I'm not sure how this got closed (even though GH shows I closed it), so re-opening! :smile:

[2021-11-17 10:45] fidencio commented on #187
Okay, let me summarise what happened here.  We had a meeting at the beginning of the year where we discussed this and we agreed that we should slowly do the move.  However, we didn't get anyone to officially work on that.

This discussion showed up later in the year, and we had this topic brought up again, see: http://lists.katacontainers.io/pipermail/kata-dev/2021-August/002091.html and Gabriela

[2021-11-17 10:45] #187 closed

[2021-11-17 11:15] stevenhorsman commented on #3044
Hi @wllenyj - we've recently (last week) changed the strategy from rebasing `ccv0` on `main` each week to merging `main` into `CCv0`, so I wonder if that has caused the issue, or maybe fixed it? How long have you seen the problems. Can you give more details on the `utils::get_option` issue as I thought I'd fixed the conflicts as part of the merge, but maybe missed something?

[2021-11-17 11:19] stevenhorsman commented on #2865
This has been fixed in PR #2956

[2021-11-17 11:19] #2865 closed

[2021-11-17 11:25] zanetworker commented on #3052
@gnawux It would be great if you can also describe your migration path/story from 2.0 to 3.0 given that you were also using 2.0 in production I assume? If there were any migration tools that helped, also how did this affect your SLOs (did those change?), finally, how does it further help/improve Performance/Observability/Debuggability.

[2021-11-17 11:28] fidencio commented on #3052
@gnawux, just in order to have things as clear as possible, I'd like to ask whether you could split this into 2 issues:
* The shim-v2 implemented in Rust
* An optional built-in sandboxing feature in the shim

The first one is, AFAIU, what you're proposing for Berlim's summit.

The "optional built-in sandboxing feature in the shim" is the "shim+VMM all-in-one" binary, right?  So, that can be a disc

[2021-11-17 12:38] Jakob-Naucke commented on #2946
and with some more logging, I can tell that this failure happens iff this https://github.com/kata-containers/kata-containers/blob/e34893a0c470a79a42ca8724d8ea4994ae08520b/src/agent/src/watcher.rs#L156-L163 doesn't find any changed files (which regularly happens on s390x).

[2021-11-17 14:33] gvancuts commented on #3027
OK, we're looking into this (as well as the CI piece). Will keep you posted.

[2021-11-17 14:34] liubin opened #3054 "Update using-SPDK-vhostuser-and-kata.md"
`using-SPDK-vhostuser-and-kata.md` is used for Docker, but now it will not work.

At least we can try spdk with `ctr` instead.

[2021-11-17 16:25] jodh-intel opened #3056 "Update agent doc"
The agent README is old and outdated and missing important information.

[2021-11-17 17:49] gkurz commented on #3002
So this log has :

[code]

which indicates that libudev-dev is installed but as said in https://github.com/kata-containers/kata-containers/pull/3003#issuecomment-970473200 the static library isn't shipped. This causes the linking error.

I reproduce exactly the same with a freshly installed ubuntu 20.04.3 on x86_64 if I install libudev-dev.

So this isn't a question of arch, it is just that you ca

[2021-11-17 18:55] shuochen0311 opened #3058 "enable huge page for qemu and then use mount propagation makes kata vm stuck"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers
   or `kata-containers.collect-data`, which is installed as part of the Kata Containers
   snapcraft package.
[code]
   or
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contai

[2021-11-17 18:56] shuochen0311 commented on #3058
This is the kata collect data:
root@aks-hptest-14325650-vmss000000:/opt/kata/bin# ./kata-collect-data.sh
ERROR: kata-collect-data.sh: cannot find runtime 'kata-runtime'
root@aks-hptest-14325650-vmss000000:/opt/kata/bin# export PATH=$PATH:/opt/kata/bin
root@aks-hptest-14325650-vmss000000:/opt/kata/bin# ./kata-collect-data.sh
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p

[2021-11-17 18:57] shuochen0311 commented on #3058
This is the pod spec:
`
apiVersion: v1
kind: Pod
metadata:
  name: shuo-test
  labels:
    app: sysbench
spec:
  runtimeClassName: kata-qemu
  containers:
  - name: main
    image: ubuntu
    command: ['/bin/sh', '-c', 'apt update && apt install -y fio && sleep infinity']
    resources:
      limits:
        memory: "40G"
      requests:
        memory: "40G"
    volumeMounts:
    - mountPath: /em

[2021-11-17 19:03] shuochen0311 commented on #3058
The command that trigger the issue is after login to main container, run:
[code]

[2021-11-17 20:55] cmaf opened #3059 "Defer functions never run with os.Exit(0)"
We use a `defer` function in `Shutdown` [here](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/pkg/containerd-shim-v2/service.go#L930) and [here,](https://github.com/kata-containers/kata-containers/blob/main/src/runtime/pkg/containerd-shim-v2/service.go#L926) but they never run because of [os.Exit(0)](https://github.com/kata-containers/kata-containers/blob/main/src/runtime

[2021-11-17 22:43] egernst commented on #2946
Interesting! How often do you see t his on your end Jakob?

I assume you're doing something like

while true; do cargo test watcher::tests::test_watch_entries | grep 1\ failed; done ?

[2021-11-17 23:26] #3049 closed

[2021-11-18 02:57] jongwu opened #3060 "add experimental version of kernel and VMM for arm64"
Currently, there are lots of features missing in kernel and VMM on arm, like virtio-mem, vcpu hotplug, cold plug nvdimm and so on. Thus we need some backport patches to enable these features. But most of these patches are under review or even leaving them alone for a long time. I can't foresee when will these patches be accept by upstream, maybe years. However, there maybe harmful if we port these

[2021-11-18 04:15] gnawux commented on #3052
@zanetworker will check with team and summary them.

[2021-11-18 04:20] gnawux commented on #3052
@fidencio This is the kick-off issue of the whole thing and we will raise detailed issues and PRs. And In my plan, we could have the both parts in Berlin if everything went correct. However, if there were anything went wrong, we might adjust the roadmap :)

[2021-11-18 04:47] dgibson opened #3061 "Update to newer Rust version"
# Description of problem

According to our `versions.yaml` we currently support Rust versions down to 1.45.0 (although the oldest our CI appears to actually use is 1.47.0, and that not in most places).  Since we already routinely get Rust via `rustup` rather than from distros, there's no compelling reason to keep compatibility with older Rust versions.

Current Rust (1.56.1) contains a number of f

[2021-11-18 06:20] lifupan opened #3063 "container process send kill -15 0 will cause kata-agent terminated"
# Get your issue reviewed faster

Since the container without tty console would share the same process group with kata-agent, which would
cause the kata-agent terminated when kill the container process's group.

[2021-11-18 06:47] amshinde commented on #3027
@vijaydhanraj  I see the hypervisor interface requires the sandbox mainly for this:
https://github.com/kata-containers/kata-containers/blob/main/src/runtime/virtcontainers/acrn.go#L232

ACRN needs to update the global block index. We should see if that can be reworked a bit to get rid of the reference.
@egernst Any ideas since you are already looking at the refactoring work.

[2021-11-18 07:01] slp commented on #3036
Actually, that's yet to be decided. The suggested direction coming from the virtiofs maintainers (myself among them) is to completely drop the legacy implementation everywhere, unless there's a **strong** reason compelling to keep it around for a while (the team is already spread too thin, maintaining two implementations would hinder our ability to develop new features).

So far, we haven't found

[2021-11-18 07:37] fidencio commented on #3052
Okay, but I really would like to ask to have the issues raised way before the PRs, so we have enough time to discuss the issues (on whatever will need to be discussed).  I am assuming then that you'll use this issue as a tracker issue for the others.

[2021-11-18 07:46] fidencio commented on #3061
@dgibson, what's the version supported by Red Hat that will have to build this code base?  The policy we had on virt tools was to support the oldest version used by downstream in order to avoid shipping a build that would simply not build for them.

[2021-11-18 08:02] #3056 closed

[2021-11-18 08:04] liubin opened #3065 "Enable devices passing by annotation"
K8s can't support specify `device` properties by its definition YAML, this may make some limitations for users.

We can simply pass devices info to Kata Containers by annotations.

[code]

And run Pods:

[code]

[2021-11-18 08:36] dgibson commented on #3061
@fidencio urgh.. you raise an excellent point.  Not recent enough, I suspect is the answer.

[2021-11-18 08:39] dgibson commented on #3061
Looks like 1.52.1 in Centos Stream 8 right now.  I guess it depends whether there will be an update in whatever 8.y release we'll use to build the next Kata release.

[2021-11-18 08:40] fidencio opened #3067 "kata-deploy: Add back stable & latest tags"
stable-2.3 was the first time we branched the repo since
43a72d76e2520ae044335b9f1dbf54c12363f54b was merged.   One bit that I
didn't notice while working on this, regardless of being warned by @amshinde
(sorry!), was that the change would happen on `main` branch, rather than
on the branched `stable-2.3` one.

In my mind, the workflow was:
* we branch.
* we do the changes, including removing the f

[2021-11-18 08:45] fidencio opened #3069 "kata-deploy: Don't remove latest / stable tags and files when branching the repo"
stable-2.3 was the first time we branched the repo since
43a72d7 was merged. One bit that I
didn't notice while working on this, regardless of being warned by @amshinde
(sorry!), was that the change would happen on main branch, rather than
on the branched stable-2.3 one.

In my mind, the workflow was:
* we branch.
* we do the changes, including removing the files.
* we tag a release.

However, the

[2021-11-18 10:27] c3d commented on #3052
@gnawux Here are a few ideas and comments

1. The description seems to indicate that the shim reimplementation is well advanced already, and that the remaining work is sandboxing. Is that correct?
2. Assuming this is correct, was there any external repository for the development of that shim code so far, or was this all developed internally? If it was developed internally, was it in its own reposi

[2021-11-18 10:35] Jakob-Naucke commented on #3060
When they're marked as experimental, I don't see a problem with adding these patches.

[2021-11-18 10:45] c3d commented on #3038
@zhsj At the moment, this does not work yet. I started working on it, but I only have very limited time to dedicate to this, so have not made much progress recently.

[2021-11-18 12:09] fidencio commented on #3036
@slp, what a pleasure to see you around. :-)

I think what we need to do (and I think Red Hat has done that already) is comparing performance between those two, and a regression on performance would be, IMHO, a reasonably strong reason to keep the C daemon around.

In any case, what's the ETA you have planned for dropping the C code and start relying on the rust one?  Asking as we can properly syn